/*
 * Copyright 2004, 2005 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 */

/** CSS code stolen from
 *
 * [1]: Centering of a div: http://bluerobot.com/web/css/center1.html
 */

body {
    color: black;
    background-color: white;
    margin: 0;
    text-align: center;
    min-width: 800px;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10pt;
}


#orginfo {
        color: #999;
        font-size: .75em;
        font-weight: normal;    
        letter-spacing: 0.1em;
        margin-top: 1em;
        padding-right: 2em;
        text-align: right;
}

#ntnuheader {
    background-color: #dce2ed;
    color: black;
    border: 1px solid black;
    margin: 5px 0px 0px 15px;
    text-align: left;
    height: auto;
    width: auto;
}

#pagewrap {
    width: 975px;
}

#container {
    background-color: white;
    border: 1px solid black;
    margin: -1px auto 20px 15px;
    padding-bottom: 4em;
    text-align: left;
}


#content {
    width: auto;
    margin: 0px auto; /* 1 */
    text-align: left; /* 1 */
    padding: 15px; /* 1 */
}

#login h1 {
    margin-bottom: 1em;
    text-align: center;
}

#login div {
    clear: both;
    margin: 0px auto;
    width: 300px;
}

#login label {
    text-align: left;
    margin-right: 5px;
    float: left;
    width: 7em;
}

#login label.hidden {
    visibility: hidden;
}

#login input {
    text-align: left;
    margin-bottom: 5px;
}

#submit {
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
}

.message {
    color: red;
    background-color: yellow;
    border: 1px dashed white;
    text-align: center;
}
