/*
 *
 *
 *
 *
 * */

body {
    background-color: white;
    color: black;
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 10pt;
}

div.pagewrap{ width: 975px;}

#topp {
    background-color: #dce2ed;
    color: black;
    border: 1px solid black;
    margin: 5px 0px 0px 15px;
    text-align: left;
    height: auto;
    width: auto;
}

#page {
    background-color:   white;
    color:  black;
    border: 1px solid black;
    margin: -1px auto 0px 15px;
    text-align: left;
    height: auto;
    width:  auto;
    padding-bottom: 25px;
}

h1 {
    font-size: 24px;
    margin: 20px auto 20px 10px;
}

h2 {
    font-size: 20px;
    margin: 20px auto 20px 10px;
}

div.text {
    font-size:  18px;
    margin: 15px 10px 10px 20px;
}

div.message {
    margin-left: 25px 25px 30px 30px;
    text-align: left;
}

a:link {color:  #0e2c8e;}
a:hover { color:    #336699;}

.orginfo {
        padding-right: 2em;
        color: #999;
        font-size: .75em;
        font-weight: normal;    
        letter-spacing: 0.1em;
        text-align: right;  
}

.hidden {
    visibility: hidden;
}


div.optional label {
    display: block;
    float: left;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: left;
    width:  12em;
}
div.required label {
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: left;
    width:  12em;
}

div.required input {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: left;
    width:  10em;
}

input.text {
    width:  300px;
}

#messages div.error {
    border: 2px solid red;
    color: black;
}

form input:focus, form textarea:focus {
    background: #ffd;
}

