.idea/
build/
dist/
*.pyc
*.pyo
*~
.*.sw?
tags
TAGS
*coverage.xml
*xunit.xml
*pytestconfig.ini
.coverage
*.retry
/testresults
/pytest.ini
/testsuite/docker/cerebrum_config
root.log
Cerebrum.egg-info/
ClientAPI.egg-info/
