include *.in *.py
include COPYING
include HACKING
include INSTALL
include configure
include configure.ac
include testsuite/*.in testsuite/*.sh testsuite/*.dat  testsuite/*.py
include java/jbofh/mkversion.py
recursive-include java *.java *.jar *.xml *.properties *.so
recursive-include client *.py *.html
recursive-include contrib *.py
recursive-include design *.sql *.dia *.html
recursive-include Cerebrum/tests *.py
recursive-include Cerebrum/modules/tests *.py
recursive-include Cerebrum/modules/no/tests *.py
include design/entity_usage.txt
recursive-include server *.py *.dat
# prune etc
