include *.in *.py
include COPYING
include HACKING
include INSTALL
include configure
include configure.ac
include testsuite/*.in testsuite/*.sh testsuite/*.dat  testsuite/*.py
recursive-include web *.in *.tmpl *.py htaccess
recursive-include c *.h *.cpp *.dsw *.dsp *.ncb *.opt
recursive-include java *.java *.jar *.xml *.properties *.so *.py
recursive-include client *.py *.html
recursive-include contrib *.py
recursive-include design *.sql *.dia *.html *.ini *.py
recursive-include Cerebrum/tests *.py
recursive-include Cerebrum/modules/tests *.py
recursive-include Cerebrum/modules/no/tests *.py
include design/entity_usage.txt
recursive-include server *.py *.dat
# prune etc
