cffi
egenix-mx-base
psycopg2
smbpasswd
lxml
sasl
backports.ssl_match_hostname
suds
rpclib==2.7.0-beta
twisted==10.2.0
pyOpenSSL
python-ldap
cx_Oracle
pygpgme
pyyaml
flanker
pika
phonenumbers
requests
jsonschema
functools32
nose
pytest
jinja2
Flask>=0.11.0
flask-restplus
gunicorn
celery
statsd>=3.2.1
pytz
aniso8601
