aniso8601
backports.ssl-match-hostname
celery
cffi
cx-Oracle~=7.3.0
egenix-mx-base  # If it fails: pip install --force-reinstall --ignore-installed --no-binary :all: egenix-mx-base
Flask==1.1.1
flask-restplus==0.13.0
gunicorn==19.9.0
Jinja2
jsonschema
lxml
nose
passlib
phonenumbers
pid
pika==0.13.1
psycopg2-binary
pygpgme
pyOpenSSL
pytest==4.3.1
python-ldap
pytz
PyYAML
raven
requests
rpclib==2.7.0-beta
sasl
six>=1.10
statsd==3.2.2
sqlparse==0.3.0
suds
unidecode
Twisted==10.2.0
