aniso8601
backports.ssl-match-hostname
celery
cffi
cx-Oracle>=5
egenix-mx-base
Flask==0.12.4
flask-restplus==0.10.1
functools32
gunicorn
Jinja2
jsonschema
lxml
nose
phonenumbers
pid
pika==0.13.1
psycopg2-binary
pygpgme
pyOpenSSL
pytest
python-ldap
pytz
PyYAML
raven
requests
rpclib==2.7.0-beta
sasl
six>=1.10
smbpasswd
statsd==3.2.2
suds
unidecode
Twisted==10.2.0
