[spine]
cache: false
cache_dir: /tmp/spine

[corba]
url: http://localhost/~stain/spine.ior

[ssl]
ca_file: CA.crt
key_file: client.pem
password: client

[idl]
path: .
server: server.idl
errors: errors.idl
