## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url, object_link
#from FormWidgets import FormWidgets
#extends InitTemplate

#attr $form_widgets = FormWidgets()


#def input($label, $name, $value, $type="text", $text="")
    <label for="$name">$_($label):</label>
    <input type="$type" name="$name" id="$name" value="$value">$text</input><br />
#end def

#def radio($label, $name, $alts, $default=None, $other=None)
    <label for="$name">$_($label):</label>
    <div class="radio">
    #for $alt in $alts
        <br />
        #if $default == $alt
            <input type="radio" name="$name" value="$alt" CHECKED>
        #else
            <input type="radio" name="$name" value="$alt">
        #end if
        $alt
        </input>
    #end for
    #if $other
        <br />
        <input type="radio" name="$name" value="$other">
            <input type="text" name="$other" value="" />
        </input>
    #end if
    <br>
    </div>
#end def


#def form($owner, $name, $expire_date, $alts, $transaction)
<div class="create">
    #set $type = $owner.get_type().get_name()
    <form action="make" method="POST">
        <div class="createform">
            $input("Owner", "owner", $owner.get_id(), "hidden", $object_link($owner))
            $radio("Username", "name", $alts, $name, "_other")
            $input("Expire date", "expire_date", $expire_date)
            #if $type != 'person'
                #set $ac_type_searcher = $transaction.get_account_type_searcher()    
                #set $ac_types = [($t.get_name(), $t.get_description) 
                                  for $t in $ac_type_searcher.search()]
                $form_widgets.generate_loption("np_type", "Non-personal account type",
                                                $ac_types)
            #end if
            #if $type == 'group'
                <label for="join">$_('Join on creation'):</label>
                <input type="checkbox" name="join" value="True" class="join">
                    $object_link($owner)
                </input><br />
            #end if

        </div>
        <div>
            <center>
                <input type="submit" value="$_('Create')" />&nbsp;
                <input type="reset" value="$_('Reset')" />&nbsp;
            </center>
        </div>
    </form>
</div>
#end def

