## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate
#from lib.utils import object_link
#from lib.WorkList import remember_link
#from GroupViewTemplate import GroupViewTemplate
#from HomeDirectoryTemplate import HomeDirectoryTemplate
#from FormWidgets import FormWidgets
#from EmailTarget import EmailTarget

#attr $email = EmailTarget()
#attr $form_widgets = FormWidgets()
#attr $list_groups = GroupViewTemplate().list_groups

## Main method for creating the view of accounts.
#def viewAccount($transaction, $account, $addHome)
<div>
    $viewAccountInfo($account)
    $HomeDirectoryTemplate().view($account, $transaction, $addHome)
    $password($account)
    $groups($account)
    $join_group($account, $transaction)
    $email.entity_email($transaction, $account)
    $view_entity($account, $transaction)
</div>
#end def

#def password($account)
    #set $auths = $account.get_authentications()
    <div class="personnames">
        <h2>$_("Passwords"):</h2>
        #if $auths
        $_('Current authentication types'):<br />
        #for $auth in $auths
        <div class="name">
            <em>$auth.get_method().get_name()</em>
        </div>
        #end for
        #else
        $_('No authentications set currently.')<br />
        #end if
        <form action="/account/set_password" type="post">
            $_('Set passwords'):<br />
            <input type="password" name="passwd1" /><br />
            <input type="password" name="passwd2" /><br />
            <input type="hidden" name="id" value="$account.get_id()" />
            <input type="submit" value="$_('Set')" />
        </form>
    </div>
#end def

#def groups($account)
    <div class="accountgroups">
    <form action="/account/groups" type="post">
        <div class="subtitle">
            <h3>$_("Groups:")</h3>
        </div>
        $list_groups($account)
        <input type="hidden" name="account_id" value="$account.get_id()" />
        <input type="submit" name="leave" value="$_('Leave group(s)')" />
        <input type="submit" name="create" value="$_('Create a group')" />
    </form>
    </div>
#end def

## Shows info about the account.
#def viewAccountInfo($account)
#set $id = $account.get_id()
<div class="viewinfo">
    <div class="subtitle">
        <h3>$_('General accountinfo')</h3>
    </div>
    <div>
        <div class="info">
            <em>$_('Name'):</em> $account.get_name()
        </div>
        <div class="info">
            <em>$_('Owned by'):</em> $object_link($account.get_owner())
        </div>
        <div class="info">
            #if $account.get_expire_date()
                #set $expire_date = $account.get_expire_date().strftime("%Y-%m-%d")
            #else
                #set $expire_date = ''
            #end if
            <em>$_('Expire date'):</em> $expire_date
        </div>
        <div class="info">
            <em>$_('Date created'):</em> $account.get_create_date().strftime("%Y-%m-%d")
        </div>
        <div class="info">
            <em>$_('Created by'):</em> $object_link($account.get_creator())
        </div>
        
        #if $account.is_posix()
            <div class="info">
                <em>$_('UID'):</em> $account.get_posix_uid()
            </div>
            <div class="info">
                <em>$_('Primary group'):</em> $object_link($account.get_primary_group())
            </div>
            <div class="info">
                <em>$_('Gecos'):</em> $account.get_gecos()
            </div>
            <div class="info">
                <em>$_('Shell'):</em> $account.get_shell().get_name()
            </div>
        #end if

        <div class="info">
            <em>$_('Description'):</em> $account.get_description()
        </div>
    </div>
    <div class="actions">
        #set $link1 = '/account/edit?id=%s' % $id
        #set $link3 = '/account/delete?id=%s' % $id
        <a href="$link1">$_("Edit")</a>
        #if $account.is_posix()
            #set $link2 = '/account/posix_demote?id=%s' % $id
            <a href="$link2">$_("Demote from Posix")</a>
        #else
            #set $link2 = '/account/posix_promote?id=%s' % $id
            <a href="$link2">$_("Promote to Posix")</a>
        #end if
        <a href="$link3">$_("Remove")</a>
        $remember_link($account)
    </div>
</div>
#end def

## Creates a box where you can join the account to a group.
#def join_group($account, $transactions)

#set $searcher = $transactions.get_group_member_operation_type_searcher()
#set $operations = [(i.get_name(),i.get_description()) 
                                for i in $searcher.search()]

<div class="join_group">
    <form action="/account/join_group" method="POST">
        <h3>$_("Join group"):</h3>
        $form_widgets.input("group_name", "Group name")
        <label for="operation">$_("Operation"):</label>
        $form_widgets.generate_option("operation", $operations, "union")
        <input type="hidden" name="account" value="$account.get_id()" />
        <input type="submit" value="$_("Join group")"/>
    </form>
</div>
#end def

