## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}

#attr $help = ["* Expire date: YYYY-MM-DD"]

#def input($name, $label)
    #set $value = $formvalues.get($name, "")
    $form_widgets.input($name, $label, $value)
#end def

#def generate_option($name, $label, $types)
    #set $selected = $formvalues.get($name, None)
    $form_widgets.generate_loption($name, $label, $types, $selected)
#end def

#def getAction
    #return '/account/save'
#end def

#def edit($account, $groups, $shells)
<div class="view">
    <form action="$getAction()" method="post">
        <div class="hidden">
            <input type="hidden" name="id" value="$account.get_id()" />
        </div>
        <div class="required">
            $input("name", "Name")
        </div>
        <div class="required">
            $input("expire_date", "Expire date *")
        </div>
        #if $account.is_posix()
            <div class="required">
                $input("uid", "UID")
            </div>
            <div class="required">
                $generate_option("primary_group", "Primary group", $groups)
            </div>
            <div class="optional">
                $input("gecos", "Gecos")
            </div>
            <div class="required">
                $generate_option("shell", "Shell", $shells)
            </div>
        #end if
        <div class="optional">
            $input("description", "Description")
        </div>
        ## showHelp makes a surrounding div with class=help.
        $form_widgets.showHelp($help)
        <div class="buttons">
            <input type="submit" value="$_('Save')" name="submit" />
            <input type="submit" value="$_('Cancel')" name="submit" />
        </div>
    </form>
</div>
#end def

