## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.Main import Main
#extends Main

#def content()
<div>
    <h3>$_("Select an owner")</h3>
    <p class="nojs">All accounts need an owner, so you need to find a group, or a person and follow the <em>create account</em> action found on that page.</p>
    <div id="actions">
        <ul>
            <li><a href="/person/search?redirect=/account/create?owner">person</a></li>
            <li><a href="/group?redirect=/account/create?owner">group</a></li>
        </ul>
    </div>
</div>
#end def
