## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}

#attr $help = ["* Expire date: YYYY-MM-DD"]

#def getAction
    #return $url("account/save")
#end def

#def edit($account)
<div class="editaccount">

#set $heading = $_("Edit account %s") % ($account.get_name())
<h2>$heading:</h2>

<form action="$getAction()" method="POST">
    $form_widgets.input("name", "Name", $formvalues.get("name", ""))
    $form_widgets.input("expire_date", "Expire date *", $formvalues.get("expire_date",""))
    $form_widgets.input("owner", "Owner", $formvalues.get("owner",""))
    #if $account.is_posix()
        $form_widgets.input("uid", "UID", $formvalues.get("uid",""))
        $form_widgets.input("primary_group", "Primary group",
                            $formvalues.get("primary_group",""))
        $form_widgets.input("pg_member_op", "Primary group operation",
                            $formvalues.get("pg_member_op",""))
        $form_widgets.input("gecos", "Gecos", $formvalues.get("gecos",""))
        $form_widgets.input("shell","Shell", $formvalues.get("shell",""))
    #end if
    <input type="hidden" name="id" value="$account.get_id()" />
    <center>
        <input type="submit" value="$_('Save')" />
    </center>
</form>
</div>
#end def

