## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}

#attr $help = ["* Expire date: YYYY-MM-DD"]

#def input($name, $label)
    #set $value = $formvalues.get($name, "")
    $form_widgets.input($name, $label, $value)
#end def

#def getAction
    #return $url("account/save")
#end def

#def edit($account)
<div class="edit">
    <div class="subtitle">
        #set $heading = $_("Edit account %s") % ($account.get_name())
        <h3>$heading:</h3>
    </div>
    <form action="$getAction()" method="POST">
        <div class="editform">
            $input("name", "Name")
            $input("expire_date", "Expire date *")
            $input("owner", "Owner")
            #if $account.is_posix()
                $input("uid", "UID")
                $input("primary_group", "Primary group")
                $input("pg_member_op", "Group operation")
                $input("gecos", "Gecos")
                $input("shell","Shell")
            #end if
            <input type="hidden" name="id" value="$account.get_id()" />
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Save')" />
            </center>
        </div>
    </form>
</div>
#end def

