## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate
#from lib.TableView import TableView
#from SortedTableTemplate import SortedTableTemplate

## Displays the 5 latest messages in the right side of the bottom frame.
#def activitylog($messages)
<div class="activitylog">
    <h2>
        <a href="/full_activitylog">$_("Activity log")</a>
    </h2>
#if $messages
    #for $msg, $error, $link, $time in $messages
    <div class="amsg">
        #if $link
        $link : 
        #end if
        $msg
        #if $error
        (error)
        #end if
    </div>
    #end for
#else
    <div class="amsg">$_('You can see the 5 last messages here.')</div>
    <div class="amsg">$_('Click') <a href="/full_activitylog">here</a>
        $_('or on the header to view all messages.')
    </div>
#end if
</div>
#end def

## Displays all messages for this session.
#def full_activitylog($messages)
<div class="activitylog_full">
#if $messages
    #set $headers = {'time': $_('Timestamp'), 'object': $_('Object'),
                     'message': $_('Message')}
    #set $table = $TableView('time', 'object', 'message')
    #for $msg, $error, $link, $time in $messages
        #if $error
            #set $msg += " (error)"
        #end if
        $table.add(time=$time.strftime("%a %H:%M"),
                   object=$link, message=$msg)
    #end for
    $SortedTableTemplate().sorted_table($table, $headers, 'sortpri', 'sortby')
#else
    <div class="amsg">$_('No messages exists for this session yet.')</div>
#end if
</div>
#end def

