## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
##from lib.Main import Main
##from FormWidgets import FormWidgets
##from Widgets import Widgets

#implements respond
#encoding utf8

##attr $jscripts = ['base.js', 'timeout.js']
##attr $widgets = Widgets()
##attr $form_widgets = FormWidgets()

#from gettext import gettext as _

## This tells us not to load the worklist.js 
#attr $wl = 0
## The following hack removes the bottom div which includes the $wl.
#def page_bottom:
## The following hack removes the tabview
#def tabview:
#import lib.activation_no as no
#import lib.activation_en as en
#from lib.Languages import Languages

#set $texts = None

#def header()
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en">
<head>
        <title>Activate account</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="max-age=0" />
        <link rel="shortcut icon" type="image/gif" href="/img/litenmedtekst72.gif"/>
        <!-- Include yui styles -->

        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/reset-fonts-grids/reset-fonts-grids.css"/>
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/container/assets/container.css"/>
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/logger/assets/logger.css"/>
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/datatable/assets/datatable.css"/>
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/tabview/assets/tabview.css"/>
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/yui/build/tabview/assets/border_tabs.css"/> 


        <!-- Include yui components -->

        <script type="text/javascript" charset="UTF-8" src="/yui/build/utilities/utilities.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/yui/build/logger/logger-min.js"></script>

        <script type="text/javascript" charset="UTF-8" src="/yui/build/container/container-min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/yui/build/element/element-beta-min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/yui/build/datasource/datasource-beta-min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/yui/build/datatable/datatable-beta-min.js"></script>
        <script type="text/javascript" charset="UTF-8" src="/yui/build/autocomplete/autocomplete-min.js"></script>
        <script type="text/javascript" charset="UTF-8"
        src="/yui/build/tabview/tabview-min.js"></script> 

        <!-- Include our styles -->

        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/default.css"/>

    <!-- 
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/style.css"/>
	-->
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="/css/activation.css" />

        <!-- Include our javascript application -->
        <!-- 6 -->

            <script type="text/javascript" charset="UTF-8" src="/jscript/base.js"></script>
            <script type="text/javascript" charset="UTF-8" src="/jscript/search.js"></script>
            <script type="text/javascript" charset="UTF-8" src="/jscript/timeout.js"></script>

            <script type="text/javascript" charset="UTF-8" src="/jscript/worklist.js"></script>
            <script type="text/javascript" charset="UTF-8" src="/jscript/error.js"></script>
            <script type="text/javascript" charset="UTF-8" src="/jscript/motd.js"></script>


</head>
<body>
  <div class="logo_img">
<img src="/img/logo_eksternweb_norsk.gif" alt="NTNU, det skapende universitet" />
  </div>
  <div id="container">
  <div id="content">
  <div class="view_content">

#end def

#def footer()

    <div id="bottom">
    <a href="http://www.totalvalidator.com/validator/Revalidate?revalidate=true">
    <img src="http://www.totalvalidator.com/images/valid_n_xhtml_11.gif"
        alt="Totally Valid XHTML 1.1" /> </a>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
#end def

#def welcome($lang='no')

#if $vargs
    #set $lang = $vargs.get('lang', '')
#end if

#set $theLang = Languages($lang)
$header()

<div class="list box">
    <h3>$theLang.get_congratulations_header_text()</h3>
    <div>
    $theLang.get_congratulations_body_text()
    </div>
</div>
$footer()
#end def

#def initpassword($lang='no')

#if $vargs
    #set $lang = $vargs.get('lang', '')
    #set $godkjent_logger = $vargs.get('godkjent_logger', '')
    #set $pin = $vargs.get('pin', '')
    #set $fnr = $vargs.get('fnr', '')
    #set $studentnr= $vargs.get('studentnr', '')
#end if

#set $theLang = Languages($lang)
$header()

<div class="list box">
  <form method="post" action="/activation/">
  <h3>$theLang.get_setpassword_header_text()</h3>
    <div>
    <input type="hidden" name="page" value="initpassword" />
    <input type="hidden" id="accepted" name="godkjent_logger" value="$godkjent_logger" />
    <input type="hidden" id="thepin" name="pin" value="$pin" />
    <input type="hidden" id="fodselsnr" name="fnr" value="$fnr" />
    <input type="hidden" id="studnr" name="studentnr" value="$studentnr" />
    <input type="hidden" id="theLang" name="lang" value="$lang" />
    </div>
    <div>
      <table border="0">
        <tr>
          <td class="info">
                $theLang.get_setpassword_choose_self_text()
          </td>
          <td class="info">
                $theLang.get_setpassword_choose_generated_text()
            </td>
        </tr>
        <tr>
          <td>

            <div class="required">
	      <label for="passwd1">$theLang.get_setpassword_password_label1_text()</label>
	      <input type="password" id="passwd1" name="pw1" />
            </div>

            <div class="required">
	      <label for="passwd2">$theLang.get_setpassword_password_label2_text()</label>
              <input type="password" id="passwd2" name="pw2" />
            </div>

          </td>
          <td>
            H3mmel16 <br>
            H3mmel16 <br>
            H3mmel16 <br>
            H3mmel16 <br>
            H3mmel16 <br>
          </td>
        </tr>
        <tr>
          <td cellspan="2">
           <div>
                $theLang.get_setpassword_warning_text()
           </div>
           <div class="buttons">
             <input type="submit" name="submit_pw" value="$theLang.get_setpassword_submit_button_text()" />
           </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
        $theLang.get_setpassword_legal_passwords_text()
    </div>
  </form>
</div>
$footer()
#end def

#def eula($lang='no')

#if $vargs
    #set $lang = $vargs.get('lang', '')
    #set $pin = $vargs.get('pim', '')
    #set $fnr = $vargs.get('fnr', '')
    #set $studentnr = $vargs.get('studentnr', '')
#end if

#set theLang = Languages($lang)

$header()

<div class="list box">
  <form method="post" action="/activation/">
    <h3>$theLang.get_eula_header_text()</h3>

      <div>
      <input type="hidden" id="thepage" name="page" value="eula" />
      <input type="hidden" id="thepin" name="pin" value="$pin" />
      <input type="hidden" id="fodselsnr" name="fnr" value="$fnr" />
      <input type="hidden" id="studnr" name="studentnr" value="$studentnr" />
      <input type="hidden" id="theLang" name="lang" value="$lang" />
      </div>

      <div>
        <a href="$theLang.get_eula_bokmaal_link()" target="itreg">$theLang.get_eula_bokmaal_link_text()</a>
        <a href="$theLang.get_eula_english_link()" target="itreg">$theLang.get_eula_english_link_text()</a>
      </div>
    
      <div>
        $theLang.get_eula_legal_notes_text()
      </div>

      <div class="required">
	   <label for="godkjent">$theLang.get_eula_accept_label_text()</label>
	   <input type="checkbox" id="godkjent" name="godkjent_logger" />
	   </div>

      <div class="buttons">
        <input type="submit" name="submit_btn" value="$theLang.get_eula_accept_button_text()" />
      </div>

  </form>
</div>
$footer()
#end def

#def studentnr($lang='no')

#if $vargs
    #set $lang = $vargs.get('lang', '')
    #set $fnr = $vargs.get('fnr', '')
#end if

#set $theLang = Languages($lang)
$header()

<div class="list box">
  <form method="post" action="/activation/">
      <h3>$theLang.get_sid_header_text()</h3>

        <div>
            $theLang.get_sid_body_text()
        </div>

        <div>
            <input type="hidden" id="studnr" name="page" value="studentnr" />
            <input type="hidden" id="fodnr" name="fnr" value="$vargs['fnr']" />
            <input type="hidden" id="theLang" name="lang" value="$lang" />
        </div>
        <div class="required">
	  <label for="studentnummer">$theLang.get_sid_submit_label_text()</label>
          <input type="text" id="studentnummer" name="studentnr" />
        </div>

	<div class="buttons">
            <input type="submit" name="blapp" value="$theLang.get_sid_submit_button_text()" />
	</div>
  </form>
</div>
$footer()
#end def

#def pinkode($lang='no')

#if $vargs
    #set $lang = $vargs['lang']
    #set $fnr = $vargs.get('fnr', '')
    #set $studentnr = $vargs.get('studentnr', '')
#end if

#set $theLang = Languages($lang)
$header()

<div class="list box">
  <form method="post" action="/activation/">
      <h3>$theLang.get_pin_header_text()</h3>

        <div>
            $theLang.get_pin_body_text()
        </div>
        <div>
        <input type="hidden" id="thepage" name="page" value="pinkode" />
        <input type="hidden" id="fodselsnr" name="fnr" value="$fnr" />
        <input type="hidden" id="studnr" name="studentnr" value="$studentnr" />
        <input type="hidden" id="theLang" name="lang" value="$lang" />
        </div>
        <div class="required">
            <label for="pincode">$theLang.get_pin_submit_label_text()</label>
            <input maxlength="4" id="pincode" type="text" name="pin" />

        </div>

	<div class="buttons">
            <input type="submit" id="pinkodeok" name="blapp" value="$theLang.get_pin_submit_button_text()" />
	</div>

        <div>
            $theLang.get_pin_help_text()
        </div>

  </form>
</div>
$footer()
#end def

#def fodselsnr($lang='no')

#if $vargs
    #set $lang = $vargs['lang']
#end if

#set $theLang = Languages($lang)

$header()

<div class="list box">
  <form method="post" action="/activation/">
      <h3>$theLang.get_nin_header_text()</h3>

      <div>
        $theLang.get_nin_body_text()
      </div>

    <div>
        <input type="hidden" id="thePage" name="page" value="fodselsnr" />
        <input type="hidden" id="theLang" name="lang" value="$lang" />
    </div>

      <div class="required">
        <label for="fnummer">$theLang.get_nin_submit_label_text()</label>
        <input maxlength="11" type="text" id="fnummer" name="fnr" />
      </div>

      <div class="buttons">
        <input type="submit" id="fodselsnrok" name="submit" value="$theLang.get_nin_submit_button_text()" />
      </div>



  </form>
</div>
$footer()
#end def

#def language

#set $theLang = Languages('no')
$header()
<div class="list box">
<h3>$theLang.get_choose_language_header_text()</h3>


  <form method="post" action="/activation/">

    <div class="required">
      <label for="thelang">$theLang.get_choose_language_label_text()</label>

      <select id="thelang" name="lang">
        <option value="no">Norsk</option>
        <option value="en">English</option>
      </select>
    </div>

    <div>
    <input type="hidden" id="thepage" name="page" value="language" />
    </div>

    <div class="buttons">
      <input type="submit" id="thelangbutton" name="language" value="$theLang.get_choose_language_button_text()" />
    </div>

  </form>
</div>
$footer()
#end def

#def content($lang='no')

#if $vargs
    #set $lang = $vargs.get('lang', '')
#end if

$header()
<div class="view_content">
    ## Content
    <div class="info box">
      <div>
        Du har n&aring; kommet til siden for &aring; aktivere brukerkonto
        ved NTNUs IT-systemer.
      </div>

      <div>
        You have now reached the page used to activate your user-account
        at NTNUs Computer-systems.
      </div>
    </div>
    $choose_language()

</div>
$footer()
#end def

$content()
