## Copyright 2004-2006 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link, html_quote, remember_link
#from urllib import urlencode
#from Widgets import Widgets
#extends EntityViewTemplate
#attr $widgets = Widgets()

#def viewActions($transaction, $allocation)
    #set $id = $urlencode($allocation.get_id())
    <ul>
        <li><a href="edit?id=$id">$_("edit info")</a></li>
        <li><a href="delete?id=$id">$_("delete allocation")</a></li>
        <li><a href="/entity/full_historylog?id=$id">$_('view full history log')</a> </li>
        <li>$remember_link($allocation)</li>
    </ul>
#end def

## Main method for creating the allocation view page.
#def viewContent($transaction, $allocation)
    $viewInfo($allocation)
    $viewMachines($allocation)
    $viewAccounts($allocation)
    ##$addNote($allocation)
    ##$viewNotes($allocation)
    $viewHistoryLog($allocation)
</div>
#end def

## View information about host (name and description).
#def viewInfo($allocation)
    #set $info = []
    $info.append(($_("Allocation name"), $html_quote($allocation.get_allocation_name().get_name())))
    $info.append(($_("Project"), $object_link($allocation.get_allocation_name().get_project())))
    $info.append(($_("Period"), $object_link($allocation.get_period())))
    ##( $period.get_startdate().strftime("%Y-%m-%d")
    ##- $period.get_enddate().strftime("%Y-%m-%d") )
    $info.append(($_("Status"), $html_quote($allocation.get_status().get_name())))
    $widgets.viewInfo($info)
#end def

#def listMachines($allocation)
#for $machine in $allocation.get_machines()
  <div class="machine">
     $object_link($machine)
  </div>
#end for
#end def

# XXX fix in spine
#def listAccounts($allocation)
#for $account in $allocation.get_accounts()
  <div class="account">
    $object_link($account)
  </div>
#end for
#end def

#def viewMachines($allocation)
<div class="list box">
<h3>$_('Machines')</h3>
$listMachines($allocation)
</div>
#end def

#def viewAccounts($allocation)
<div class="list box">
<h3>$_('Accounts')</h3>
</div>
#end def

