## Copyright 2006 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from lib.utils import object_link

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = []

## Url to go to when the form for creating the project is submitted.
#def getAction
    #return '/allocation/make'
#end def

## The main method for creating the form for the project create page.
#def form($transaction, $project, $allocation_name)
#set $fv = $formvalues
#set $searcher = $transaction.get_allocation_period_searcher()
#set $periods = [($type.get_name(), $type.get_name()) 
                     for $type in $searcher.search()]

<div class="create">
    <form action="$getAction()" method="post">
        <div class="required">
	    $form_widgets.generate_loption("period", "Period", $periods, $fv.get("period", ""))
        </div>
        <div class="required">
            $form_widgets.code_selector("status", "Status", $transaction.get_allocation_status_searcher())
        </div>
        <div class="required">
            $form_widgets.input("credits", "Initial credits", $fv.get("credits", ""))
        </div>
        $form_widgets.showHelp($help)
        <div class="buttons">
            <input type="submit" value="$_('Create')" />
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def

