## Copyright 2004-2006 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#from lib.utils import object_link
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## Lines with info about the form, used with the function showHelp().
#attr $help = ["* Optional"]

## Creates the content on the allocation edit page.
#def editAllocation($allocation,$transaction)
<div class="person">
    $form($allocation,$transaction)
</div>
#end def

## Action to go to when the form is submitted.
#def getAction
    #return '/allocation/save'
#end def

## Creates the form for editing the main allocation info.
#def form($allocation,$transaction)
<div class="edit">
    <form action="$getAction()" method="POST">
        <div class="editform">
	    <div class="item"><em>$_("Allocation name"):</em> $allocation.get_allocation_name().get_name()</div>
            <div class="item"><em>$_("Period"):</em> $object_link($allocation.get_period())</div>
            $form_widgets.code_selector("status","Status",$transaction.get_allocation_status_searcher(),$allocation.get_status().get_name())
            <input type="hidden" name="id" value="$allocation.get_id()" />
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Save')" name="submit" />&nbsp;
                <input type="submit" value="$_('Cancel')" name="submit" />
            </center>
        </div>
    </form>
</div>
#end def

