## Copyright 2004-2006 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link, html_quote
#from lib.WorkList import remember_link
#from Widgets import Widgets
#extends EntityViewTemplate
#attr $widgets = Widgets()

#def viewActions($transaction, $allocationperiod)
    #set $id = $html_quote($allocationperiod.get_id())
    <ul>
        <li><a href="edit?id=$id">$_("edit info")</a></li>
        <li><a href="delete?id=$id">$_("delete allocationperiod")</a></li>
        <li><a href="/entity/full_historylog?id=$id">$_('view full history log')</a> </li>
        <li>$remember_link($allocationperiod)</li>
    </ul>
#end def

## Main method for creating the allocationperiod view page.
#def viewContent($transaction, $allocationperiod)
    $viewInfo($allocationperiod)
    ##$addNote($allocationperiod)
    ##$viewNotes($allocationperiod)
    $viewHistoryLog($allocationperiod)
#end def

## View information about host (name and description).
#def viewInfo($allocationperiod)
    #set $info = []
    $info.append(($_("AllocationAuthority"), $html_quote($allocationperiod.get_authority().get_name())))
    $info.append(($_("Name"), $html_quote($allocationperiod.get_name())))
    $info.append(($_("Start Date"), $allocationperiod.get_startdate().strftime("%Y-%m-%d")))
    $info.append(($_("End Date"), $allocationperiod.get_enddate().strftime("%Y-%m-%d")))
    $widgets.viewInfo($info)
#end def
