## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = []

## Url to go to when the form for creating the disk is submittet.
#def getAction
    #return '/disk/make'
#end def

## The main method for creating the form for the disk create page.
#def form($hosts)
<div class="create">
    <form action="$getAction()" method="POST">
        <div class="createform">
            #set $fv = $formvalues
            $form_widgets.generate_loption("host", "Host", $hosts, $fv.get("host", ""))
            $form_widgets.input("path", "Path", $fv.get("path", ""))
            $form_widgets.input("description", "Description", $fv.get("description", ""))
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Create')" />&nbsp;
                <input type="reset" value="$_('Clear')" />
            </center>
        </div>
    </form>
</div>
#end def

