## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.utils import url, object_link
#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## Lines with info about the form, used with the function showHelp().
#attr $help = [""]

## Creates the content on the disk edit page.
#def editDisk($disk)
<div class="person">
    $form($disk)
</div>
#end def

## Action to go to when the disk is submitted.
#def getAction
    #return $url("disk/save")
#end def

## Creates the form for editing the main disk info.
#def form($disk)
<div class="edit">
    <form action="$getAction()" method="POST">
        <div class="editform">
            $form_widgets.input("path", "Path", $disk.get_path())
            $form_widgets.input("description", "Description", $disk.get_description())
            <input type="hidden" name="id" value="$disk.get_id()" />
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Save')" name="submit" />&nbsp;
                <input type="submit" value="$_('Cancel')" name="submit" />
            </center>
        </div>
    </form>
</div>
#end def

