## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link
#from lib.WorkList import remember_link
#extends EntityViewTemplate

## Main method for creating the disk view page.
#def viewDisk($transaction, $disk)
<div>
    $diskInfo($disk)
</div>
$view_entity($disk, $transaction)
#end def

## View information about disk (host, path and description).
#def diskInfo($disk)
<div class="viewinfo">
    <div class="subtitle">
        <h3>$_("General diskinfo"):</h3>
    </div>
    <div>
        <div class="info">
            <em>$_("Host"):</em> $object_link($disk.get_host())
        </div>
        <div class="info">
            <em>$_("Path"):</em> $disk.get_path()
        </div>
        <div class="info">
            <em>$_("Description"):</em> $disk.get_description()
        </div>
    </div>
    <div class="actions">
        #set $id = $disk.get_id()
        <a href="'/disk/edit?id=%s' % $id">$_("edit disk")</a>
        <a href="'/disk/delete?id=%s' % $id">$_("delete disk")</a>
        $remember_link($disk)
    </div>
</div>
#end def

