## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate
#from lib.utils import object_link, html_quote
#from lib.WorkList import remember_link
#from Widgets import Widgets
#attr $widgets = Widgets()

#def viewActions($transaction, $disk)
    #set $id = $disk.get_id()

    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete disk")</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a>
    <br />
    $remember_link($disk)<br />
#end def

#def viewContent($transaction, $disk)
    $viewInfo($disk)
    $addNote($disk)
    $viewNotes($disk)
    $viewHistoryLog($disk)
#end def

#def viewInfo($disk)
    #set $info = []
    $info.append(($_('Host'), $object_link($disk.get_host())))
    $info.append(($_('Path'), $html_quote($disk.get_path())))
    $info.append(($_('Description'), $html_quote($disk.get_description())))
    $widgets.viewInfo($info)
#end def
