## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate
#from lib.utils import object_link, strftime, strftime
#from lib.WorkList import remember_link
#from FormWidgets import FormWidgets
##import date
#import datetime

#attr $form_widgets = FormWidgets()

#def unix2date($the_stamp)
#set $the_date = datetime.datetime.fromtimestamp($the_stamp)
$strftime($the_date)
#end def

#def edit_target(target)
#set $id = $target['id']
<div class="view_content">

## Actions
<div class="view_actions">
<h4>$_('Actions')</h4>
<div class="actions">
    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete account")</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a>        
    <br />
    $remember_link($target)<br />
</div>
</div>
<p>dette er en test</p>
<br />
<br />
<br />
</div>
#end def


## Main method for creating the view
#def view($target)
#set $id = $target['id']
<div class="view_content">

## Actions
<div class="view_actions">
<h4>$_('Actions')</h4>
<div class="actions">
    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete account")</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a>
    <br />
    $remember_link($target)<br />
</div>
</div>

## Content
#set $primary = $target['primary']
#set $addresses = $target['addresses']
<p>
<div class="view_info">
<table>
<tr>
<th>
	$_('Email addresses:')
</th>
</tr>
<tr>
<td>
	<br />
	<div>
		<strong><em>$_('Type:')</em></strong>&nbsp;
			$target['type'].capitalize()
	</div>
	<br />
	<div><strong><em>$_('Primary address:')</em></strong></div>

	#if $primary
		<table>
		<tr>
		#for $key,$value in $primary.items()
			#if not $key == 'id' and not $key == 'primary'
				<th>
					$key.capitalize()
				</th>
			#end if
		#end for
		</tr>
		<tr>
		#for $key,$value in $primary.items()
			#if not $key == 'id' and not key == 'primary'
			<td>
				#if $value
					#if $key == 'created' or $key == 'changed' or $key == 'expire'
						$unix2date($value)
					#else
						$value
					#end if
				#end if
			</td>
			#end if
		#end for
			<td>
				#set $addressid = $primary['id']	
				<div class="actions">
				<a href="/emailtarget/delete?id=$id&amp;addr=$addressid">Delete</a>
				</div>
			</td>
		</tr>
		</table>
	#else
		<div>$_('No primary address.')</div>
	#end if
	<br />
	<br />
<div><strong><em>Additional addresses:</em></strong></div>
	#if $addresses
		<table>
		<tr>
			#for $key,$values in $addresses[0].items()
			#if not $key == 'id'
				<th>
					$key.capitalize()
				</th>
			#end if
			#end for
		</tr>
		<tr>
			#for $addr in $addresses
			#for $key,$value in $addr.items()
				#if not $key == 'id'
				<td>
					#if $value
						#if $key == 'primary'
							yes
						#else	
							#if $key == 'created' or $key == 'changed' or $key == 'expire'
								$unix2date($value)
							#else
						
								$value
							#end if
						#end if
					#end if
				</td>
				#end if
			#end for
			<td>
				<div class="actions">
				#set $address = $addr['id']
				<a href="/emailtarget/delete?id=$id&amp;addr=$address">Delete</a>&nbsp;
				<a href="/emailtarget/setprimary?id=$id&amp;addr=$address">Primary</a>
				</div>
			</td>
			#end for
		</tr>
		</table>
	#else
		<p>No additional addresses</p>
	#end if
	</table>
</td>
</tr>
</table>
</div>
</p>
</div>
<p>
<div class="create">
<table>
<tr>
	<th>
		$_('Add a new address')
	</th>
</tr>
<tr>
	<td>
		<div class="createform">
		<form action="/emailtarget/makeaddress" method="post">
			<table>
				<tr>
					<input type="hidden" name="target" value="$id">
					$form_widgets.td2input('local', 'Local',value='')
				</tr>
				<tr>
					$form_widgets.td2input('domain', 'Domain', value='')
				</tr>
				<tr>
					$form_widgets.td2input('expire', 'Expire*', value='')
				</tr>
				<tr>
					<td colspan="2">
						#set $help = ["* Expire: YYYY-MM-DD"]
						$form_widgets.showHelp($help)
					</td>
				</tr>
				<tr>
					<td colspan="2">
                                		<center>
                                        		<input type="submit" value="$_('Search')" />&nbsp;
                                        		<input type="reset" value="$_('Clear')" />
                                		</center>
                        		</td>
				</tr>
			</table>
		</form>
		</div>
		</td>
	</tr>
</table>
</div>
</p>
#end def
