## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link
#from lib.WorkList import remember_link
#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## Max addresses to view in emaildomain/view
#attr $max_addresses = 20

#def create_box($tr)
<p>
<div class="createform">
<div class="email_view">
    ## <h2>$_('Create a new email domain')</h2>
    <form action="/email/make" method="POST">
		<table>
			<tr>
				<th colspan="2">
					<div class="tableheader">
						$_('Create a new email domain')
					</div>
				</th>
			</tr>
        	#echo $_create($tr)
			<tr>
				<td colspan="2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td align="right">
            		<input type="submit" value="$_('Create')" />&nbsp;
				</td>
				<td align="left">
            		<input type="reset" value="$_('Clear')" />
				</td>
			</tr>
        </div>
		</table>
    </form>
</div>
</div>
</p>
#end def

#def create($tr)
<div class="create">
    <form action="/email/make" method="POST">
        <div class="createform">
            #echo $_create($tr)
        </div>
        <div>
            <center>
                <input type="submit" value="$_('Create')" />&nbsp;
                <input type="reset" value="$_('Clear')" />
            </center>
        </div>
    </form>
</div>
#end def

#def _create($tr)
    #set $cats = $tr.get_email_domain_category_searcher().search()
    #set $cats = [('',''),] + [(i.get_name(), i.get_description()) for i in $cats]
	<tr>
    	$form_widgets.td2input('name', 'Domain name',value="")
	</tr>
	<tr>
    	$form_widgets.td2input('description', 'Description',value="")
	</tr>
	<tr>
		<td colspan="2">
    		$form_widgets.generate_loption("category", "Category", $cats)
		</td>
	</tr>
#end def

#def search_box($tr)
<p>
<div class="email_view">
    ##<h2>$_('Find email domain')</h2>
    <form method="POST" action="/email/search">
        #echo $_search($tr, {})
        <div>
            <input type="submit" value="$_('Search')" />&nbsp;
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
</p>
#end def

#def search($tr, $vargs)
<div class="search">
    <form method="POST" action="/email/search">
    <div class="searchform">
        #echo $_search($tr, $vargs)
    </div>
    #set $help = ["Use wildcards * and ? to extend the search.", "Supply several search parameters to limit the search."]
    $form_widgets.showHelp($help)
    <div>
        <center>
            <input type="submit" value="$_('Search')" />&nbsp;
            <input type="reset" value="$_('Clear')" />
        </center>
    </div>
    </form>
</div>
#end def

#def _search($tr, $vargs)
    #set $cats = $tr.get_email_domain_category_searcher().search()
    #set $cats = [('',''),] + [(i.get_name(), i.get_description()) for i in $cats]
    $form_widgets.input("name", "Name", $vargs.get('name', ''))
    $form_widgets.input("description", "Description", $vargs.get('description', ''))
    $form_widgets.generate_loption("category", "Category", $cats, $vargs.get('category',''))
#end def

#def categories($tr)
    #set $cats = $tr.get_email_domain_category_searcher().search()
    #for $cat in $cats
        <div>
            $cat.get_name() - $cat.get_description()
        </div>
    #end for
#end def

#def view_domain($transaction, $domain)
#set $id = $domain.get_id()
<div class="view_content">

    ## Actions
    <div class="view_actions">
        <h4>$_('Actions')</h4>
        <div class="actions">
            <a href="edit?id=$id">$_('edit info')</a><br />
            <a href="delete?id=$id">$_('delete domain')</a><br />
            <a href="#cats" id="cats_add">$_('add to category')</a><br />
            <a href="addresses?id=$id">$_('list adresses')</a><br />
            $remember_link($domain)<br />
        </div>
    </div>
    
    ## Content
    <div class="view_info">
        <div class="info">
            <em>$_("Domain name"):</em> $domain.get_name()
        </div>
        <div class="info">
            <em>$_("Description"):</em> $domain.get_description()
        </div>
    </div>

    $addCategory($transaction, $domain)
    $viewCategories($domain)
    
    $list_addresses($transaction, $domain, $max_addresses)

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('cats_form', 'cats_add', null, 'cats_cancel');
    </script>
</div>
#end def

#def addCategory($transaction, $domain)
<div class="view_add" id="cats_form" style="display:none;">
    <form action="add_to_category" method="POST">
        <a name="cats">
        <h3>$_('Add to category')</h3>
        <input type="hidden" name="id" value="$domain.get_id()" />
        #set $categories = $transaction.get_email_domain_category_searcher()
        $form_widgets.code_selector("category", "Category", $categories)
        <input type="submit" value="$_('Add')" />&nbsp;
        <input type="button" value="$_('Cancel')" id="cats_cancel" />
    </form>
</div>
#end def

#def viewCategories($domain)
#set $cats = $domain.get_categories()
#if $cats
    <div class="passwords">
        <h3>$_("Categories")</h3>
        #for $category in $cats
        <div>
            $object_link($category)
            $object_link($domain, method="remove_from_category", 
            text=$_("Remove from category"), _class="actions",
            category=$category.get_name())
        </div>
        #end for
    </div>
#end if
#end def

## List email addresses (targets) in domain
#def list_addresses($transaction, $domain, $limit="unlimited")
    <h2>$_("Addresses in domain")</h2> 
    #set $addrs = $transaction.get_email_address_searcher()
    $addrs.set_domain($domain)
    #for $count,$address in $enumerate($addrs.search())
        #if $count+1 > $limit
            <div>(..)</div>

            <div>
            $object_link($domain, $_("View all addresses"), 
                         "addresses", _class="actions")
            </div>
            #break
        #end if
        <div>
        $object_link($address.get_target(), $address.full_address())
        </div>
    #end for
    <div>$_("To add new addresses to the domain, create a new email target. "
            "For instance, find an account and create a new email target "
            "attached to the account.")</div>
#end def

#def edit_domain($domain)
<div class="edit">
    <form action="save" method="POST">
        <div class="editform">
            $form_widgets.input('name', 'Domain name', $domain.get_name())
            $form_widgets.input('description', 'Description', $domain.get_description())
            <input type="hidden" name="id" value="$domain.get_id()" />
        </div>
        $form_widgets.showHelp([])
        <div>
            <center>
                <input type="submit" value="$_('Save')" name="submit" />&nbsp;
                <input type="submit" value="$_('Cancel')" name="submit" />
            </center>
        </div>
    </form>
</div>
#end def

