## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.utils import url, object_link, object_url
#from Cereweb.WorkList import remember_link
#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate
#from Cereweb.SpineIDL.Errors import NotFoundError

#from EmailDomain import EmailDomain
#attr $email_domain = EmailDomain()

#from EmailTarget import EmailTarget
#attr $email_target = EmailTarget()

## Overloaded by other pages to get the right url.
#attr $page_url = "email"

## Main method for creating the ou view page.
#def index($transaction)
    <h2>$_("Enter an email address")</h2>
    $email_target.find_email()

    <h2>$_("Create a new email target")</h2>
    $email_target.create_target($transaction)

    <h2>$_("Create a new email domain")</h2>
    $email_domain.create_domain()

    <h2>$_("Browse an email domain")</h2>
    $email_domain.list_domains($transaction)
#end def
