## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link
#from lib.InitTemplate import InitTemplate
#extends InitTemplate
#from SpineIDL.Errors import NotFoundError

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($entity, $transaction)
#set $searcher = $transaction.get_email_target_searcher()
$searcher.set_entity($entity)
#set $targets = $searcher.search()
#if $targets
<div class="info box">
    <h3>$_('Email targets')</h3>
    #for $target in $targets:
        #set $addresses = $target.get_addresses()
        <div class="item">
        $target.get_alias_value()
            <div class="actions">
                #set $url = "/emailtarget/view?id=%d" % $target.get_id()
                <a class="action" href="$url">$_('Add email-address')</a>
                &nbsp;
                #set $url = "/email/remove_target?entity=%s&amp;target=%s" % ($entity.get_id(),$target.get_id())
                <a class="action" href="$url">$_('Delete')</a>
            </div>
            ##for $address in $addresses:
            ##    $address.full_address(), 
            ##end for
            <div>
                $target.get_type().get_name()
            </div>
        </div>
    #end for
</div>
#end if
#end def

#def set($entity, $transaction)
#set $search = $transaction.get_email_target_type_searcher().search()
#set $target_types = [($s.get_name(), $s.get_name()) for $s in $search]
#set $hosts = $transaction.get_host_searcher().search()
#set $mailservers = []
#for $host in $hosts
    #if $host.get_server_type()
        $mailservers.append((host.get_id(),host.get_name()))
    #end if
#end for

<div class="edit box" style="display:none;">
    <h3>$_('Create a new email target')</h3>
    <form action="/email/make_target" method="post">
        <div class="hidden">
            <input type="hidden" name="entity" value="$entity.get_id()" />
        </div>
        <div class="required">
            $form_widgets.generate_loption('targettype', 'Target type', $target_types)
        </div>
        <div class="required">
            $form_widgets.generate_loption('host', 'Host', $mailservers)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Add')" />&nbsp;
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def

#def find_email($address="")
<div class="view box">
<h3>$_('Find email target by address:')</h3>
    <form action="/emailtarget/search" method="post">
        <div>
        <label for="address">$_('Enter an email address:')</label>
        <br />
        <input name="address" value="TODO" /> &nbsp; <input type="submit" value="$_('Search')" />
        </div>
    </form>
</div>
#end def

#def entity_email($transaction, $entity)
<div class="entityemail box">
    <div class="subtitle">
        <h3>$_("Email targets")</h3>
    </div>

    #set $target = None
    #set $targets = $transaction.get_email_target_searcher()
    $targets.set_entity($entity)
    #for $target in $targets.search():
        <div>
        $object_link($target)
        $object_link($target, $_("Delete"), "delete", _class="action")
        </div>
    #end for
    
    #if $target is None
        $create_target($transaction, $entity) 
    #end if    
</div>
#end def

#def add_address($transaction, $target, $suggestion="")
<form action="/emailtarget/add_address" method="post">
<p>
    <input type="hidden" name="target" value="$target.get_id()" />
    <label>$_("Add an email address:")</label><br />
    <input name="local_part" value="$suggestion" /> @

    #set $domains=$transaction.get_email_domain_searcher()
    #set $domains = [(d.get_id(), d.get_name()) for d in $domains.search()]
    $domains.sort(lambda x,y: cmp(x[1], y[1]))
    $form_widgets.generate_option("domain", $domains)
    <input type="submit" value="$_("Add")" />
</p>
</form>
#end def

#def edit_address($transaction, $address)
<form action="/emailtarget/save_address" method="post">
<p>
    <input type="hidden" name="address" value="$address.get_id()" />
    <label>$_("Edit email address:")</label><br />
    <input name="local_part" value="$address.get_local_part()" /> @

    #set $domains=$transaction.get_email_domain_searcher()
    #set $domains = [(d.get_id(), d.get_name()) for d in $domains.search()]
    $domains.sort(lambda x,y: cmp(x[1], y[1]))
    $form_widgets.generate_option("domain", $domains,
                                  $address.get_domain().get_id())
    <input type="submit" value="$_("Save")" />
</p>
</form>
#end def

#def edit_target($transaction, $target)
<form action="/emailtarget/save" method="post">
<p>
    <input type="hidden" name="id" value="$target.get_id()" />
    <div> 
    #set $target_types=$transaction.get_email_target_type_searcher()
    $form_widgets.code_selector("target_type", $_("Target type"),
                                $target_types, $target.get_type())
    </div>

    #set $entity = $target.get_entity()
    <div>$_("Associated with entity"):
    #if $entity is not None
        $object_link($entity)
    #else
        <em>$_("No entity")</em> 
    #end if
    </div>

    <div><label for="alias">$_("Alias"):</label>
         <input name="alias" value="$target.get_alias_value()" /></div>
    
##    <div><label for="using">$_("Using account"):</label>
##        #set $using = target.get_using() or ''
##        #set $using = $using and $using.get_name()
##         <input name="using" value="$using" /></div>
    
    <div> <input type="submit" value="$_("Save")" /></div>
</p>
</form>
#end def


#def view_target($transaction, $target, $suggestion="")

<div class="info box">
    <div class="subtitle">
        <h3>$_("Email target info")</h3>
    </div>

    <div> 
    <em>$_("Target type"):</em> 
        $target.get_type().get_description()
    </div>

    #set $entity = $target.get_entity()
    #if $entity is not None
        <div><em>$_("Associated with") $_($entity.get_type().get_name()):</em>
        $object_link($entity)
        </div>
    #end if

    #set $alias = $target.get_alias()
    #if $alias
        <div><em>$_("Alias"):</em>
            $alias 
        </div>
    #end if    
    
    #set $using = target.get_using()
    #if $using
         <div><em>$_("Using account"):</em>
             $object_link($using)
         </div>
     #end if

    <div> $object_link($target, $_("Edit"), "edit", _class="action") </div>
     
</div>

<div>
    <div class="subtitle">
        <h3>$_("Email addresses")</h3>
    </div>
#try    
    #set primary = $target.get_primary_address()    
#except NotFoundError    
    #set primary = None
#end try    

<table>
#for $addr in $target.get_addresses()
    <tr>
    #set $is_primary = $primary is not None and $primary == $addr
    <td>
    #if $is_primary
        <strong>
    #end if    
    $addr.get_local_part()@$object_link($addr.get_domain())
    #if $is_primary
        </strong>
    #end if    
    </td>
    <td>
        $object_link($target, $_("Edit"), method="edit_address",
                     address=$addr.get_id(), _class="action")
    </td>
    <td>
        $object_link($target, $_("Remove address"),
                     method="remove_address", address=$addr.get_id(),
                     _class="action")
    </td>
    <td>
    #if $is_primary
        $object_link($target, $_("Unset as primary"),
                     method="set_primary", _class="action")
    #else
        $object_link($target, $_("Set as primary"),
                     method="set_primary", address=$addr.get_id(),
                     _class="action")
    #end if
    </td>
    </tr>
#end for
</table>
<br />
$add_address($transaction, $target, $suggestion)
</div>
#end def

