## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends NewEntityViewTemplate
#from lib.utils import html_quote, quotedate, entity_link
#from FormWidgets import FormWidgets
#from Widgets import Widgets

#from lib.forms import EmailAddressCreateForm

#attr $form_widgets = FormWidgets()
#attr $widgets = Widgets()

#def title()
    #return $_('Email target info')
#end def

#def actions()
<div id="actions">
    <h3>$_("Actions")</h3>
    <ul>
        <li><a href="edit?id=$target.id">$_("edit info")</a></li>
        <li><a href="/confirm/emailtarget/delete?id=$target.id">$_("delete target")</a></li>
        <li><a href="/entity/full_historylog?id=$target.id">$_('view full history log')</a></li>
    </ul>
</div>
#end def

#def content()
    $viewInfo($target)
    $viewEmailAddresses($target)
    $addEmailAddress($target)
#end def

#def viewInfo($target)
    #set $info = []
    $info.append(($_('Name'), $html_quote($target.name)))
    $info.append(($_('Type'), $html_quote($target.target_type.capitalize)))
    $info.append(($_('Owner'), $entity_link($target.owner)))
    $info.append(($_('Server'), $entity_link($target.server)))
    $info.append(($_("Alias"), $html_quote($target.alias)))
    $info.append(($_('Primary Address'), $html_quote($target.primary.address)))
    $widgets.viewInfo($info)
#end def

#def viewEmailAddresses($target)
    <div class="info box">
    <h3>$_('Email Addresses:')</h3>
        #if not $target.addresses
            <div>No addresses</div>
        #else
            <table>
                <tr>
		<th>$_('Address')</th>
		<th>$_('Is primary address')</th>
		<th>$_('Expires')</th>
                </tr>
                #for $address in $target.addresses
                    #if $address.is_primary
                        <tr class="primary item">
		    #else
                        <tr class="item">
		    #end if
			<td>$html_quote($address.address)</td>
                        <td>$_($address.is_primary)</td>
			<td>
                            #if not $address.expire
                                $_("Never")
                            #else
                                $quotedate($address.expire)
                            #end if
                            </td>
                        <td>
                            <a class="action" href="/confirm/emailaddress/delete?target_id=$target.id&amp;address_id=$address.id">Delete</a>
                            <a class="action" href="/emailaddress/edit?target_id=$target.id&amp;address_id=$address.id">Edit</a>
			    #if not $address.is_primary
                                <a class="action" href="/confirm/emailaddress/setprimary?target_id=$target.id&amp;address_id=$address.id">Primary</a>
			    #end if
                        </td>
                    </tr>
                #end for
            </table>
        #end if
    </div>
#end def

#def addEmailAddress($target)
    $EmailAddressCreateForm($target.id).render()
#end def
