## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link
#from lib.WorkList import remember_link
#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## Max addresses to view in emaildomain/view
#attr $max_addresses = 20

#def create_domain()
<div class="email_view">
    <h2>$_('Create a new email domain')</h2>
    $edit_domain()
</div>
#end def

#def list_domains($transaction)
<div class="email_view">
    <h2>$_('Browse an email domain')</h2>
    #set $domains=$transaction.get_email_domain_searcher()
    #set $domains = $domains.search()
    $domains.sort(lambda x,y: cmp(x.get_name(), y.get_name()))
    #for $domain in $domains
    <div>$object_link($domain)</div>
    #end for
</div>
#end def

#def view_domain($transaction, $domain)
<div class="info">
<em>$_("Domain name"):</em> $domain.get_name()
</div>
<div class="info">
<em>$_("Description"):</em> $domain.get_description()
</div>
$object_link($domain, "Edit", "edit", _class="actions")

<h2>$_("Member of categories")</h2>
#set $category=None
#for $category in $domain.get_categories()
    <div>$object_link($category) 
    $object_link($domain, method="remove_from_category", 
        text=$_("Remove from category"), 
        _class="actions",
        category=$category.get_name())
    </div>
#end for
#if $category is None
    <div>($_("Not a member of any categories"))</div>
#end if    

<form action="/emaildomain/add_to_category" method="POST">
  <input type="hidden" name="id" value="$domain.get_id()" />
#set $categories = $transaction.get_email_domain_category_searcher()
$form_widgets.code_selector("category", "Category", $categories)

    <input type="submit" value="$_("Add")" />
</form>

$list_addresses($transaction, $domain, $max_addresses)
#end def

## List email addresses (targets) in domain
#def list_addresses($transaction, $domain, $limit="unlimited")
    <h2>$_("Addresses in domain")</h2> 
    #set $addrs = $transaction.get_email_address_searcher()
    $addrs.set_domain($domain)
    #for $count,$address in $enumerate($addrs.search())
        #if $count+1 > $limit
            <div>(..)</div>

            <div>
            $object_link($domain, $_("View all addresses"), 
                         "addresses", _class="actions")
            </div>
            #break
        #end if
        <div>
        $object_link($address.get_target(), $address.full_address())
        </div>
    #end for
    <div>$_("To add new addresses to the domain, create a new email target. "
            "For instance, find an account and create a new email target "
            "attached to the account.")</div>
#end def

#def edit_domain($domain=None)
<form action="/emaildomain/save" method="POST">
    #if $domain is not None
        <input type="hidden" name="domain" value="$domain.get_id()" />
    #end if
    #set $name = $domain and $domain.get_name() or ""
    <label for="name">$_("Domain name"):</label>
    <input name="name" value="$name" /><br />

    #set $description = $domain and $domain.get_description() or ""
    <label for="description">$_("Description"):</label>
    <input name="description" value="$description" /><br />

    #if $domain is not None
        <input type="submit" value="$_("Save")" />
    #else
        <input type="submit" value="$_("Create domain")" /><br />
    #end if
</form>
#end def

