## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from urllib import urlencode
#from lib.utils import object_link, html_quote, url_quote
#from lib.utils import html_quote, url_quote, spine_to_web, web_to_spine
#from lib.InitTemplate import InitTemplate
#extends InitTemplate
#from SpineIDL.Errors import NotFoundError

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($entity, $tr)
#set $searcher = $tr.get_email_target_searcher()
$searcher.set_target_entity($entity)
#set $targets = $searcher.search()
#if $targets
<div class="info box">
    <h3>$_('Email targets')</h3>
    <table>
    #for $target in $targets
        <tr>
        #set $addresses = $target.get_addresses()
        ##<div class="item">
        $target.get_alias_value()
            <div class="actions">
                #set $url = "/emailtarget/view?id=%s" % $url_quote($target.get_id())
                <a class="action" href="$url">$_('Add email-address')</a>
                &#x0020;
                #set $url = "/email/remove_target?entity=%s&amp;target=%s" % ($url_quote($entity.get_id()), $url_quote($target.get_id()))
                <a class="action" href="$url">$_('Delete')</a>
            </div>
            ##for $address in $addresses:
            ##    $address.full_address(), 
            ##end for
            <div>
                #set $primary_address = ''
                #if $target.get_primary_address()
                    #set $localpart = $spine_to_web($target.get_primary_address().get_local_part())
                    #set $domainpart = $spine_to_web($target.get_primary_address().get_domain().get_name())
                    #set $primary_address = '%s@%s' % ($localpart, $domainpart)
                #end if
                #set $servername = ''
                #if $target.get_server()
                    #set $servername = $spine_to_web($target.get_server().get_name())
                #end if
                #set $target_type = ''
                #if $target.get_target_type()
                    #set $target_type = $spine_to_web($target.get_target_type().get_name())
                #end if
                #set $target_type = '%s@%s' % ($target_type, $servername)
                <td>
                    $target_type
                </td>
                <td>
                    $primary_address
                </td>
            </div>
        ##</div>
        </tr>
    #end for
    </table>
</div>
#end if
#end def

#def set($entity, $tr)
#set $search = $tr.get_email_target_type_searcher().search()
#set $target_types = []
#for $target_type in $search
    #set $target_name = $spine_to_web($target_type.get_name())
    $target_types.append(($target_name, $target_name))
#end for
#set $hosts = $tr.get_host_searcher().search()
#set $mailservers = []
#for $host in $hosts
    #if $host.get_email_server_type()
        $mailservers.append(($html_quote(host.get_id()),$spine_to_web(host.get_name())))
    #end if
#end for

<div class="edit box" style="display:none;">
    <h3>$_('Create a new email target')</h3>
    <form action="/email/make_target" method="post">
        <div class="hidden">
            <input type="hidden" name="entity" value="$html_quote($entity.get_id())" />
        </div>
        <div class="required">
            $form_widgets.generate_loption('targettype', 'Target type', $target_types)
        </div>
        <div class="required">
            $form_widgets.generate_loption('host', 'Host', $mailservers)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Add')" />&#x0020;
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def

#def find_email($address="")
<div class="edit box">
<h3>$_('Find email target by address:')</h3>
    <form action="/emailtarget/search" method="post">
        <div>
        <label for="address">$_('Enter an email address:')</label>
        <br />
        <input name="address" value="TODO" /> &#x0020; <input type="submit" value="$_('Search')" />
        </div>
    </form>
</div>
#end def

#def entity_email($tr, $entity)
<div class="entityemail box">
    <div class="subtitle">
        <h3>$_("Email targets")</h3>
    </div>

    #set $target = None
    #set $targets = $tr.get_email_target_searcher()
    $targets.set_target_entity($entity)
    #for $target in $targets.search():
        <div>
        $object_link($target)
        $object_link($target, $_("Delete"), "delete", _class="action")
        </div>
    #end for
    
    #if $target is None
        $create_target($tr, $entity) 
    #end if    
</div>
#end def

#def add_address($tr, $target, $suggestion="")
<form action="/emailtarget/add_address" method="post">
<div>
    <input type="hidden" name="target" value="$html_quote($target.get_id())" />
    <label>$_("Add an email address:")</label><br />
    #if $suggestion
        #set $suggestion = $spine_to_web($suggestion)
    #end if
    <input name="local_part" value="$suggestion" /> @

    #set $domains=$tr.get_email_domain_searcher()
    #set $domains = [(d.get_id(), d.get_name()) for d in $domains.search()]
    $domains.sort(lambda x,y: cmp(x[1], y[1]))
    #set $sorted_domains = []
    #for $id, $name in $domains
        $sorted_domains.append(($html_quote($id), $spine_to_web($name)))
    #end for
    $form_widgets.generate_option("domain", $sorted_domains)
    <input type="submit" value="$_("Add")" />
</div>
</form>
#end def

#def edit_address($tr, $address)
<form action="/emailtarget/save_address" method="post">
<div>
    <input type="hidden" name="address" value="$html_quote($address.get_id())" />
    <label>$_("Edit email address:")</label><br />
    <input name="local_part" value="$spine_to_web($address.get_local_part())" /> @

    #set $domains=$tr.get_email_domain_searcher()
    #set $domains = [(d.get_id(), d.get_name()) for d in $domains.search()]
    $domains.sort(lambda x,y: cmp(x[1], y[1]))
    #set $sorted_domains = []
    #for $id, $name in $domains
        $sorted_domains.append(($html_quote($id), $spine_to_web($name)))
    #end for
    $form_widgets.generate_option("domain", $sorted_domains,
                                  $html_quote($address.get_domain().get_id()))
    <input type="submit" value="$_("Save")" />
</div>
</form>
#end def

#def edit_target($tr, $target)
<form action="/emailtarget/save" method="post">
<div>
    <input type="hidden" name="id" value="$html_quote($target.get_id())" />
    <div> 
    #set $target_types=$tr.get_email_target_type_searcher()
    $form_widgets.code_selector($tr, "target_type", $_("Target type"),
                                $target_types, $target.get_type())
    </div>

    #set $entity = $target.get_target_entity()
    <div>$_("Associated with entity"):
    #if $entity is not None
        $object_link($entity)
    #else
        <em>$_("No entity")</em> 
    #end if
    </div>

    <div><label for="alias">$_("Alias"):</label>
    <input name="alias" value="$spine_to_web($target.get_alias_value())" />
    </div>
    
##    <div><label for="using">$_("Using account"):</label>
##        #set $using = target.get_using() or ''
##        #set $using = $using and $using.get_name()
##         <input name="using" value="$using" /></div>
    
    <div> <input type="submit" value="$_("Save")" /></div>
</div>
</form>
#end def


#def view_target($tr, $target, $suggestion="")

<div class="info box">
    <div class="subtitle">
        <h3>$_("Email target info")</h3>
    </div>

    <div> 
    <em>$_("Target type"):</em> 
        $spine_to_web($target.get_type().get_description())
    </div>

    #set $entity = $target.get_target_entity()
    #if $entity is not None
        <div><em>$_("Associated with") $_($spine_to_web($entity.get_type().get_name())):</em>
        #set $entity_name = $spine_to_web($entity.get_name())
        $object_link($entity, text=$entity_name)
        </div>
    #end if

    #set $alias = $target.get_alias()
    #if $alias
        <div><em>$_("Alias"):</em>
            $spine_to_web($alias)
        </div>
    #end if    
    
    #set $using = target.get_using()
    #if $using
         <div><em>$_("Using account"):</em>
            
             $object_link($using)
         </div>
     #end if

    <div> $object_link($target, $_("Edit"), "edit", _class="action") </div>
     
</div>

<div>
    <div class="subtitle">
        <h3>$_("Email addresses")</h3>
    </div>
#try    
    #set primary = $target.get_primary_address()    
#except NotFoundError    
    #set primary = None
#end try    

<table>
#for $addr in $target.get_addresses()
    <tr>
    #set $is_primary = $primary is not None and $primary == $addr
    <td>
    #if $is_primary
        <strong>
    #end if
    #set $domain_name = $spine_to_web($addr.get_domain().get_name())
    $spine_to_web($addr.get_local_part())@$object_link($addr.get_domain(), text=$domain_name)
    #if $is_primary
        </strong>
    #end if    
    </td>
    <td>
        $object_link($target, $_("Edit"), method="edit_address",
                     address=$addr.get_id(), _class="action")
    </td>
    <td>
        $object_link($target, $_("Remove address"),
                     method="remove_address", address=$addr.get_id(),
                     _class="action")
    </td>
    <td>
    #if $is_primary
        $object_link($target, $_("Unset as primary"),
                     method="set_primary", _class="action")
    #else
        $object_link($target, $_("Set as primary"),
                     method="set_primary", address=$addr.get_id(),
                     _class="action")
    #end if
    </td>
    </tr>
#end for
</table>
<br />
$add_address($tr, $target, $suggestion)
</div>
#end def

