## Copyright 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate

#from lib.utils import entity_link
#from lib.utils import spine_to_web

#from Widgets import Widgets
#from FormWidgets import FormWidgets

#attr $form_widgets = FormWidgets()
#attr $widgets = Widgets()
#attr $domain = None
#attr $addresses = []

## Max addresses to view in emaildomain/view
#attr $max_addresses = 20

#def title()
    #return $_('Email domain %s') % $spine_to_web($domain.name)
#end def

#def actions()
<div id="actions">
    <h3>$_('Actions')</h3>
    <ul>
        <li><a href="edit?id=$domain.id">$_('edit info')</a></li>
        <li><a href="delete?id=$domain.id">$_('delete domain')</a></li>
        <li><a href="view?id=$domain.id&amp;view_all_addresses=1">$_('list adresses')</a></li>
    </ul>
</div>
#end def

#def content()
<div class="view_content">
    $viewInfo($domain)
    $list_addresses($domain, $addresses, $max_addresses)
</div>
#end def

#def viewInfo($domain)
    #set $info = []
    $info.append(($_("Domain name:"), $spine_to_web($domain.name)))
    $info.append(($_("Description:"), $spine_to_web($domain.description)))

    #for $category in $domain.categories
            $info.append(($_("Category:"), $spine_to_web($str($category))))
    #end for

    $widgets.viewInfo($info)
#end def

#def list_addresses($domain, $addresses, $limit="unlimited")
<div class="list box">
    <h3>$_('Addresses in domain')</h3>
    #for $count,$address in $enumerate($addresses)
        #if $count+1 > $limit
            <div class="item">
                (..)
            </div>
            <div class="item">
                <a href="view?id=$domain.id&amp;view_all_addresses=1" class="action">$_('View all addresses')</a>
            </div>
            #break
        #end if
        <div class="item">
            $entity_link($address)
        </div>
    #end for

    <div class="help">
        $_("To add new addresses to the domain, create a new email target. "
           "For instance, find an account and create a new email target "
           "attached to the account.")
    </div>
</div>
#end def
