## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.Main import Main
#extends Main

#from lib.utils import strftime
#from lib.utils import quotedate
#from lib.utils import quotetimestamp
#from lib.utils import url_quote
#from lib.utils import html_quote
#from lib.utils import spine_to_web
#from lib.utils import entity_link
#from lib.utils import nl2br

#from lib.forms import EmailTargetCreateForm
#from lib.forms import NoteCreateForm

#from Widgets import Widgets
#attr $widgets = Widgets()

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def viewEmail($entity)
    #if not $targets
        #return
    #end if

    <div class="info box">
        <h3>$_('Email targets')</h3>
        #for $target in $targets
            <div class="item">
                <em>$_("Name"):</em> <a href="/emailtarget/view?id=$target.id">$target.name</a><br />
                #if $target.alias
                    <em>$_("Alias"):</em> $target.alias <br />
                #end if
                <em>$_("Primary address"):</em> $target.primary.address
                <div class="actions">
                    <a class="action" href="/emailtarget/view?id=$target.id">$_('Add email-address')</a> &#x0020;
                    <a class="action" href="/confirm/emailtarget/delete?id=$target.id&amp;entity_id=$entity.id">$_('Delete')</a>
                </div>
            </div>
        #end for
    </div>
#end def

#def viewAccounts($entity)
<div class="list box">
    <h3>$_('Accounts &amp; Groups')</h3>
    <form action="accounts" method="post">
        <input type="hidden" value="$entity.id" name="owner_id" />
        #for $account in $entity.accounts

        #if $account.is_primary
        <div class="item primary">
        #else
        <div class="item">
        #end if
            <input type="checkbox" name="account_$account.id" />
            <em>$_('Account'):</em>$account.name
            $entity_link($account, "view", _class="action")
            ## no point in checking unless we have a primary
            #if $account.is_primary
                <span class="extra">(primary)</span>
            #end if
            #if $account.is_posix
                <span class="extra">(posix)</span>
            #end if
            #if $account.is_expired
                <span class="extra">(expired)</span>
            #end if
        </div>
        $listGroups($account)
        #end for

        #if $entity.accounts
        <input type="submit" value="$_('Delete')" name="delete" />&#x0020;
        #end if
        <a href="/account/create?owner_id=$entity.id">$_('create new account')</a>
    </form>
</div>
#end def

#def setEmail($entity)
    $EmailTargetCreateForm($entity.id).render()
#end def

#def addNote($entity)
     $NoteCreateForm($entity.id).render()
#end def

#def viewNotes($entity)
    #if not $entity.notes
        #return
    #end if

    <div class="note box">
        <h3>$_('Notes')</h3>
        #for $note in $entity.notes
            <div class="item">
                <div class="actions">
                    <a class="action" href="/confirm/entity/delete_note?entity_id=$entity.id&amp;note_id=$note.id">$_('delete')</a>
                </div>
                <span class="name">$spine_to_web($note.subject)</span>&#x0020;
                <span class="creator">-$_('by ') $entity_link($note.creator)</span>&#x0020;
                <span class="date">$quotedate($note.create_date)</span>
                <div class="description">$nl2br($spine_to_web($note.description))</div>
            </div>
        #end for
    </div>
#end def

#def addSpread($entity, $spreads)
    #set $spreads = [($s.name, $s.name) for $s in $spreads if $s not in $entity.spreads]

    <div class="edit box">
        <h3>$_('Add a spread')</h3>
        <form action="/entity/add_spread" method="post">
            <div class="hidden">
                <input type="hidden" name="id" value="$entity.id" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("spread", "Spread", $spreads, $id="add_spread")
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Add')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def

#def viewSpreads($entity)
    #if not $entity.spreads
        #return
    #end if

    <div class="info box">
        <h3>$_('Spreads')</h3>
        #for $spread in $entity.spreads
            <div class="item">
                <div class="actions">
                    <a class="action" href="/confirm/entity/remove_spread?id=$entity.id&amp;spread=$url_quote($spread.name)">$_('remove')</a>
                </div>
                <span class="name">$spine_to_web($spread.name)</span> -
                <span class="value">$spine_to_web($spread.description)</span>
            </div>
        #end for
    </div>
#end def

#def joinGroup($entity)
    <div id="joinGroupBox" class="edit box" style="display:none;">
        <h3>$_('Join group')</h3>
        <form action="/group/join_group" method="post">
            <div class="hidden">
                <input type="hidden" name="entity_id" value="$entity.id" />
            </div>
            <h4>
                Write the group-name to join.
            </h4>
            <h4>
                Group-names always start with a lowercase letter. The remaining part may consist of a combination of lowercase letters, numbers and underscores.
            </h4>
            <h4>
                Autocomplete is enabled.
            </h4>
            <div class="required">
                $form_widgets.input('group_name', 'Group name', $klass="ac_group")
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Join group')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def

#def viewHistoryLog($entity)
    <div class="log box">
        <h3>
            #if $entity.id is not None
                <a href="/entity/full_historylog?id=$entity.id">$_('History log')</a>
            #else
                $_('History log')
            #end if
        </h3>

        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Type</th>
                    <th>Changed by</th> 
                    <th>Category</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                #for $event in $entity.history
                    <tr>
                        <td>$quotetimestamp($event.timestamp)</td>
                        <td class="type $event.type"><span>$event.type</span></td>
                        <td>
                            #if $hasattr($event.creator, 'id')
                                $entity_link($event.creator)
                            #else
                                $event.creator
                            #end if
                        </td>
                        <td>$event.category</td>
                        <td>$event.message</td>
                    </tr>
                #end for
            </tbody>
        </table>
    </div>
#end def

#def viewTraits($entity)
    #if not $entity.traits
        #return
    #end if

    <div class="info box">
        <h3>$_('Traits')</h3>
        <table>
            <tr>
                <th>$_('Trait')</th>
                <th>$_('To')</th>
                <th>$_('Numval')</th>
                <th>$_('Strval')</th>
                <th>$_('Date')</th>
            </tr>

            #for $trait in $entity.traits
                <tr>
                    <td>$spine_to_web($trait.name)</td>
                    <td>
                       #if $trait.target
                         $entity_link($trait.target)
                       #end if
                    </td>
                    <td>$html_quote($trait.number)</td>
                    <td>$spine_to_web($trait.string)</td>
                    <td>$quotedate($trait.date)</td>
                </tr>
            #end for
        </table>
    </div>
#end def

#def viewQuarantines($entity)
    #if not $entity.quarantines
        #return
    #end if

    <div class="important box">
        <h3>$_('Quarantines')</h3>
        #for $q in $entity.quarantines
            <div class="item">
                #set $type = $url_quote($q.type_name)
                <div class="actions">
                    <a class="action" href="#editQuarantineBox_${type}">$_('disable')</a>
                    <a class="action" href="/confirm/entity/remove_quarantine?id=$entity.id&amp;type=$type">$_('delete')</a>
                </div>
                <strong>$spine_to_web($q.type_description)</strong>&#x0020;
                <em>-$_('by ')</em>$entity_link($q.creator) &#x0020;
                <span class="date">$quotedate($q.create_date)</span>
                <div class="description">$nl2br($spine_to_web($q.description))</div>
                
                <em>$_('Start'):</em>
                <span class="date">$quotedate($q.start_date)</span>
                #if $q.end_date
                    <em> $_('End'):</em>
                    <span class="date">$quotedate($q.end_date)</span>
                #end if
                #if $q.disable_until
                    <em> $_('Postponed until'):</em>
                    <span class="date">$quotedate($q.disable_until)</span>
                #end if
            </div>
        #end for
    </div>

    #for $q in $entity.quarantines
        #set $type = $url_quote($q.type_name)
        $disableQuarantine($entity.id, $type)
    #end for
#end def

#def disableQuarantine($entity_id, $quarantine_type)
    <div class="edit box" style="display:none;" id="editQuarantineBox_${quarantine_type}">
      <h3>Disable quarantine</h3>
      <form action="/entity/disable_quarantine" method="post">
	<div class="hidden">
	  <input type="hidden" name="id" value="$entity_id" />
	  <input type="hidden" name="type" value="$quarantine_type" />
	</div>
	<div class="required">
	  <label for="disable_until">$_('Disable Until'):</label>
	  <input class="date" type="text" name="disable_until" size="10" />
          <input type="submit" value="$_('Disable')" />
	</div>
      </form>
    </div>
#end def

#def addQuarantine($entity, $quarantines)
    #set help = ["* Format: YYYY-MM-DD"]
    #set all_quarantinenames = [$q.name for $q in $quarantines]
    #set entity_quarantinenames = [$q.type_name for $q in $entity.quarantines]
    #set $quarantines = [($qn, $qn) for $qn in $all_quarantinenames if $qn not in $entity_quarantinenames]
    <div class="edit box">
      <h3>$_('Add quarantine')</h3>
      <form action="/entity/add_quarantine" method="post">
	<div class="hidden">
	  <input type="hidden" name="id" value="$entity.id" />
	</div>
	<div class="required">
          $form_widgets.generate_loption("quarantine", "Quarantine", quarantines, $id="add_quarantine")
        </div>
	<div class="optional">
	  <label for="why">$_('Description'):</label>
          <textarea name="why" rows="5" cols="40"></textarea>
	</div>
	<div class="optional">
	  <label for="start">$_('Start date') *:</label>
	  <input class="date" type="text" name="start" size="10" />
	</div>
	<div class="optional">
	  <label for="end">$_('End date') *:</label>
	  <input class="date" type="text" name="end" size="10" />
	</div>
        $form_widgets.showHelp($help)
	<div class="buttons">
          <input type="submit" value="$_('Add')" />&#x0020;
          <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
      </form>
    </div>
#end def


## Used by person and account view-templates to display groups an account has.
#def listGroups($account)
    $printPrimaryGroup($account, $account.primary_group)

    #for $group in $account.groups
        #if not $account.primary_group or $group.id != $account.primary_group.id
            $printGroup($account, $group)
        #end if
    #end for
#end def

#def printPrimaryGroup($account, $group)
    #if not $group
        #return
    #end if

    <div class="item primary">
        #set $input_name = "member_%s_%s" % ($account.id, $group.id)
        <input type="checkbox" name="$input_name" disabled="disabled" />
        <em>$_("Group"):</em> $spine_to_web($group.name)
        $entity_link($group, text="view", _class="action")

        <span class="extra">(primary)</span>
        <span class="extra">(posix)</span>
    </div>
#end def

#def printGroup($account, $group)
    <div class="item">
        #if $group.direct
            #set $header = "Group"
            #set $disabled = ""
        #else
            #set $header = "Indirect group"
            #set $disabled = 'disabled="disabled" '
        #end if
        
        #set $input_name = "member_%s_%s" % ($account.id, $group.id)
        <input type="checkbox" name="$input_name" $disabled />
        <em>$_($header):</em> $spine_to_web($group.name)
        $entity_link($group, text="view", _class="action")

        #if $group.is_posix
            <span class="extra">(posix)</span>
        #end if
    </div>
#end def

#def viewContactInfos($entity)
#if not $entity.contacts
    #return
#end if

<div class="info box">
    <h3>$_('Contact info')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Value')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $contact in $entity.contacts
    <tr>
       <td>$spine_to_web($contact.variant.name)</td>
       <td>$spine_to_web($contact.value)</td>
       <td>
           $spine_to_web(",".join([$s.name for $s in $contact.source_systems]))
       </td>
    </tr>
    #end for
    </table>
</div>
#end def

#def viewAddresses($entity)
#if not $entity.addresses
    #return
#end if
<div class="info box">
    <h3>$_('Addresses')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Address')</th>
      <th>$_('P O Box')</th>
      <th>$_('P nr')</th>
      <th>$_('City')</th>
      <th>$_('Country')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $address in $entity.addresses
    <tr>
       <td>$spine_to_web($address.variant.name)</td>
       <td>$spine_to_web($address.value.address_text)</td>
       <td>$spine_to_web($address.value.p_o_box)</td>
       <td>$spine_to_web($address.value.postal_number)</td>
       <td>$spine_to_web($address.value.city)</td>
       <td>$spine_to_web($address.value.country)</td>
       <td>
           $spine_to_web(",".join([$s.name for $s in $address.source_systems]))
       </td>
    </tr>
    #end for
    </table>
</div>
#end def

#def viewExternalIds($entity, $viewBirthNo)
#if not $entity.external_ids
    #return
#end if

<div class="info box">
    <h3>$_('External identifiers')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Value')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $external_id in $entity.external_ids
        <tr>
            <td>$spine_to_web($external_id.variant.name)</td>
            <td>
            #if $external_id.variant.name == 'NO_BIRTHNO'
                #if $viewBirthNo
                    $html_quote($external_id.value)&#x0020;<a href="/person/view?id=$entity.id">[Hide value]</a>
                #else
                    <a href="/person/view?id=$entity.id&amp;birthno=True">[Show value]</a>
                #end if
            #else
               $html_quote($external_id.value)
            #end if
            </td>
           <td>
               $spine_to_web(",".join([$s.name for $s in $external_id.source_systems]))
           </td>
        </tr>
    #end for
    </table>
</div>
#end def

#def setExternalId($entity, $id_types)
#set $id_options = [($spine_to_web($t.name), $spine_to_web($t.description)) for $t in $id_types]

<div class="edit box" style="display:none;">
    <h3>$_('Set external identifier')</h3>
    <form action="/entity/add_external_id" method="post">
        <div class="hidden">
            <input type="hidden" name="id" value="$entity.id" />
        </div>
        <div class="required">
            $form_widgets.input("external_id", "External identifier")
        </div>
        <div class="required">
            $form_widgets.generate_loption("id_type", "Type", $id_options)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Set')" />&#x0020;
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def
