## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.Main import Main
#from lib import HistoryLog
#from lib.utils import object_link, strftime, html_quote, shownumber
#from lib.utils import spine_to_web, url_quote, remember_link
#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()
#extends Main

#attr $formvalues = {}

#def viewNotes($entity)
#set $notes = $entity.get_notes()
#if $notes
<div class="note box">
    <h3>$_('Notes')</h3>
    #for $note in $notes
    #set $delete = '/note/delete?id=%s&amp;entity=%s' % ($url_quote($note.get_id()), $url_quote($entity.get_id()))
    #set $description = $note.get_description()
    #if $description
        #set $description = $spine_to_web($description).replace('\n', '<br />')
    #end if
    <div class="item">
        <div class="actions">
            <a class="action" href="$delete">$_('delete')</a>
        </div>
        #set $subject = $note.get_subject()
        #if $subject
            #set $subject = $spine_to_web($subject)
        #end if
        <span class="name">$subject</span>&#x0020;
        <span class="creator">-$_('by ')
        #set $creator_name = $note.get_creator().get_name()
        #if $creator_name
            #set $creator_name = $spine_to_web($creator_name)
            $object_link($note.get_creator(), text=$creator_name)
        #else
            $object_link($note.get_creator())
        #end if
        </span>&#x0020;
        <span class="date">$html_quote($strftime($note.get_create_date()))</span>
        <div class="description">$description</div>
    </div>
    #end for
</div>
#end if
#end def

#def addNote($entity)
<div class="edit box" style="display:none;">
    <h3>$_('Add a note')</h3>
    <form action="/note/add" method="post">
        <div class="hidden">
            <input type="hidden" name="entity" value="$html_quote($entity.get_id())" />
        </div>
        <div class="required">
            <label for="subject">$_('Subject'):</label>
            <input type="text" size="40" name="subject" id="subject" />
        </div>
        <div class="required">
            <label for="description">$_('Optional details'):</label>
            <textarea cols="40" rows="4" name="description" id="description"></textarea>
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Add')" />
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def

#def viewQuarantines($entity)
#set $quarantines = $entity.get_quarantines()
#if $quarantines
#set $id = $entity.get_id()
<div class="important box">
    <h3>$_('Quarantines')</h3>
    #for $q in $quarantines
    <div class="item">
        #set $type = $q.get_type().get_name()
        #set $edit = '/quarantine/edit?entity=%s&amp;type=%s' % ($url_quote($id), $url_quote($type))
        #set $remove = '/quarantine/remove?entity=%s&amp;type=%s' % ($url_quote($id), $url_quote($type))
        #set $description = $q.get_description()
        #if $description
            #set $description = $spine_to_web($description).replace('\n', '<br />')
        #end if
        <div class="actions">
            <a class="action" href="$edit">$_('edit')</a>
            <a class="action" href="$remove">$_('delete')</a>
        </div>
        #set $type_desc = $q.get_type().get_description()
        #if $type_desc
            #set $type_desc = $spine_to_web($type_desc)
        #end if
        <strong>$type_desc</strong>&#x0020;
        <em>-$_('by ')</em>
        #set $creator_name = $q.get_creator().get_name()
        #if $creator_name
            #set $creator_name = $spine_to_web($creator_name)
            $object_link($q.get_creator(), text=$creator_name)
        #else
            $object_link($q.get_creator())
        #end if
        &#x0020;
        <span class="date">$html_quote($strftime($q.get_create_date()))</span>
        <div class="description">$description</div>
        
        #set $end = $q.get_end_date()
        #set $until = $q.get_disable_until()
        
        <em>$_('Start'):</em>
        <span class="date">$html_quote($strftime($q.get_start_date()))</span>
        #if $end
        <em> $_('End'):</em>
        <span class="date">$html_quote($strftime($end))</span>
        #end if
        #if $until
        <em> $_('Postponed until'):</em>
        <span class="date">$html_quote($strftime($until))</span>
        #end if
    </div>
    #end for
</div>
#end if
#end def

#from lib.utils import extidlist
#def viewExternalIds($entity, $viewBirthNo)
#set $ids = extidlist($entity)
#if $ids
<div class="info box">
    <h3>$_('External identifiers')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Value')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $id in $ids
    #set sources = ",".join([$spine_to_web($s.get_name()) for $s in $id.sources])
    <tr>
            <td>$spine_to_web($id.variant.get_name())</td>
            <td>
            #if 'NO_BIRTHNO' == $id.variant.get_name()
                #if $viewBirthNo
                     $html_quote($id.value)&#x0020;<a href="/person/view?id=$url_quote($entity.get_id())">[Hide value]</a>
                        #set $viewBirthNo=False
                #else
                    <a href="/person/view?id=$url_quote($entity.get_id())&amp;birthno=True">[Show value]</a>
                #end if   
            #else
               $html_quote($id.value)
            #end if
            </td>
           <td>$sources</td>
    </tr>
    #end for
    </table>
</div>
#end if
#end def



#def setExternalId($entity, $tr)
#set $searcher = $tr.get_entity_external_id_type_searcher()
#set $id_types = [($spine_to_web($type.get_name()), $spine_to_web($type.get_description())) for $type in $searcher.search()]

<div class="edit box" style="display:none;">
    <h3>$_('Set external identifier')</h3>
    <form action="/entity/add_external_id" method="post">
        <div class="hidden">
            <input type="hidden" name="id" value="$html_quote($entity.get_id())" />
        </div>
        <div class="required">
            $form_widgets.input("external_id", "External identifier")
        </div>
        <div class="required">
            $form_widgets.generate_loption("id_type", "Type", $id_types)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Set')" />&#x0020;
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def


#from lib.utils import contactlist
#def viewContactInfos($entity)
#set $contacts = contactlist($entity)
#if $contacts
<div class="info box">
    <h3>$_('Contact info')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Value')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $contact in $contacts
    #set sources = ",".join([$spine_to_web($s[0].get_name()) for $s in $contact.sources])
    <tr>
       <td>$spine_to_web($contact.variant.get_name())</td>
       <td>$spine_to_web($contact.value)</td>
       <td>$sources</td>
    </tr>
    #end for
    </table>
</div>
#end if
#end def


#from lib.utils import addresslist
#def viewAddresses($entity)
#set $addresses = addresslist($entity)
#if $addresses
<div class="info box">
    <h3>$_('Addresses')</h3>
    <table>
    <tr>
      <th>$_('Type')</th>
      <th>$_('Address')</th>
      <th>$_('P O Box')</th>
      <th>$_('P nr')</th>
      <th>$_('City')</th>
      <th>$_('Country')</th>
      <th>$_('Sources')</th>
    </tr>
    #for $address in $addresses
    #set sources = ",".join([$spine_to_web($s.get_name()) for $s in $address.sources])
    <tr>
       <td>$spine_to_web($address.variant.get_name())</td>
       <td>$spine_to_web($address.value.address_text)</td>
       <td>$spine_to_web($address.value.p_o_box)</td>
       <td>$spine_to_web($address.value.postal_number)</td>
       <td>$spine_to_web($address.value.city)</td>
       <td>$spine_to_web($address.value.country)</td>
       <td>$sources</td>
    </tr>
    #end for
    </table>
</div>
#end if
#end def


#def viewSpreads($entity)
#set $spreads = $entity.get_spreads()
#if $spreads
#set $id = $entity.get_id()
<div class="info box">
    <h3>$_('Spreads')</h3>
    #for $spread in $spreads
    #set $name = $spread.get_name()
    #set $delete = '/entity/remove_spread?id=%s&amp;spread=%s' % ($url_quote($id), $url_quote($name))
    <div class="item">
        <div class="actions">
            <a class="action" href="$delete">$_('remove')</a>
        </div>
        <span class="name">$spine_to_web($name)</span> -
        <span class="value">$spine_to_web($spread.get_description())</span>
    </div>
    #end for
</div>
#end if
#end def

#def addSpread($entity, $tr)
    #set $type = $entity.get_type()
    #set $cspreads = $entity.get_spreads()
    #set $search = $tr.get_spread_searcher().search()
    #set $spreads = [($spine_to_web($s.get_name()), $spine_to_web($s.get_name())) for $s in $search if $type == $s.get_entity_type() and $s not in $cspreads]

    <div class="edit box" style="display:none;">
        <h3>$_('Add a spread')</h3>
        <form action="/entity/add_spread" method="post">
            <div class="hidden">
                <input type="hidden" name="id" value="$html_quote($entity.get_id())" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("spread", "Spread", $spreads, $id="add_spread")
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Add')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def


#def viewTraits($entity)
#set $traits = $entity.get_traits()
#if $traits
#set $id = $entity.get_id()
<div class="info box">
    <h3>$_('Traits')</h3>
    <table>
    <tr>
        <th>$_('Trait')</th>
        <th>$_('To')</th>
        <th>$_('Numval')</th>
	<th>$_('Strval')</th>
        <th>$_('Date')</th>
    </tr>
    #for $trait in $traits
    #set $name = $trait.get_code().get_name()
    #set $delete = '/entity/remove_trait?id=%s&amp;trait=%s' % ($url_quote($id), $url_quote($name))
    <tr>
    <td>$spine_to_web($name)</td>
    <td>
       #set $target = $trait.get_target()
       #if $target
         #set $target_name = $spine_to_web($target.get_name())
	 $object_link($target, text=$target_name)
       #end if
    </td>
    <td>$html_quote($shownumber($trait.get_numval()))</td>
    <td>$spine_to_web($trait.get_strval())</td>
    <td>$html_quote($strftime($trait.get_date()))</td>
    <td>	
        <div class="actions">
            <a class="action" href="$delete">$_('remove')</a>
        </div>
    </td>
    </tr>
    </table>
    #end for
</div>
#end if
#end def

## Used by person and account view-templates to display groups an account has.
#def listGroups($account)
    #set $primary_group = ''
    #if $account.is_posix()
        #set $primary_group = $account.get_primary_group().get_name()
    #end if

    #set $direct_groups = $account.get_direct_groups()
    #for $group in $account.get_groups()
        #set $group_name_cmp = $group.get_name()
        #set $group_name = $spine_to_web($group_name_cmp)
        #if $group_name_cmp == $primary_group
            <div class="item primary">
        #else
            <div class="item">
        #end if
            #set $disabled = ""
            #set $header = "Group"
            #if $group not in $direct_groups
                #set $disabled = 'disabled="disabled" '
                #set $header = "Indirect group"
            #elif $group_name_cmp == $primary_group
                #set $disabled = 'disabled="disabled" '
            #end if
            
            #set $name = "member_%s_%s" % ($html_quote($account.get_id()), $html_quote($group.get_id()))
            <input type="checkbox" name="$name" $disabled/>
            <em>$_($header):</em> $group_name
            $object_link($group, text="view", _class="action")
            $object_link($group, text="edit", method="edit", _class="action")
            $remember_link($group, _class="action")
            #if $group_name_cmp == $primary_group
                <span class="extra">(primary)</span>
            #end if
            #if $group.is_posix()
                <span class="extra">(posix)</span>
            #end if
        </div>
    #end for
#end def



#def joinGroup($entity)
    <div id="joinGroupBox" class="edit box" style="display:none;">
        <h3>$_('Join group')</h3>
        <form action="/group/join_group" method="post">
            <div class="hidden">
                <input type="hidden" name="entity_id" value="$html_quote($entity.get_id())" />
            </div>
            <div class="required">
                $form_widgets.input('name', 'Group name', $klass="ac_group")
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Join group')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def

#def viewHistoryLog($entity)
    #return $HistoryLog.view_history_short($entity)
#end def


#def actions()
<div id="actions">
    <h3>$_('Actions')</h3>
    $viewActions($entity)
</div>
#end def

#def content()
$viewContent($tr, $entity)
#end def
