## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#import cherrypy
#import config

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

## Displays an error page.
#def error($title, $message, $path='', $traceback='', $referer='', $report=True)
    #set $user = ''
    ##FIXME: set $user = $cherrypy.session.get('username', '')
    <html>
        <head>
            <title>Cereweb error</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css" />
            <script type="test/javascript" src="/jscript/base.js"></script>
            <script type="test/javascript" src="/jscript/error.js"></script>
        </head>
        <body>
            <div class="errorpage">
                <div class="title">
                    $title
                </div>
                <div class="message">
                    <b>$_('Error message'):</b><br />
                    $message
                </div>
                <div class="contact">
                    <b>$_('Contact information'):</b><br />
                    $config.conf.get('contact', 'name')<br />
                    <a href="mailto:$config.conf.get('contact', 'email')?subject='Cereweb error'">$config.conf.get('contact', 'email')</a>
                </div>
                <div class="bottom">
                    <div class="actions">
                        <b>$_('Actions'):</b>
                        <a class="action" href="javascript:Err_retry();" id="retry">retry</a>
                        <a class="action" href="javascript:Err_back();" id="back">back</a>
                        #if $user
                        <a class="action" href="/logout" id="login">login</a>
                        #else
                        <a class="action" href="/login" id="login">login</a>
                        #end if
                        #if $report
                        <a class="action" href="javascript:Err_show_report();" id="show_report">report</a>
                        #end if
                        #if $traceback
                        <a class="action" href="javascript:Err_show_traceback();" id="show_traceback">show traceback</a>
                        #end if
                    </div>
                    #if $report
                    <div id="report_div" class="report" style="display:none;">
                        <b>$_('Report the error'):</b><br />
                        <form action="/error/report" method="post">
                        <p>
                            #if $user
                            $_('Name'): <em>$user</em><br />
                            #end if
                            #if $path
                            $_('Path'): <a href="$path">$path</a><br />
                            <input type="hidden" name="path" value="$path">
                            #end if
                            #if $referer
                            $_('Referer path'): <a href="$referer">$referer</a><br />
                            <input type="hidden" name="referer" value="$referer">
                            #end if
                            #if traceback
                            <input type="hidden" name="traceback" value='$traceback.replace("'", '"')'>
                            #end if
                            <input type="hidden" name="title" value="$title">
                            <input type="hidden" name="message" value="$message">
                            <input type="hidden" name="name" value="$user">
                            <label for="explanation">$_('Explain how this error occured'):</label>
                            <br />
                            <textarea cols="40" rows="4" name="explanation"></textarea>
                            <br />
                            <input type="submit" value="$_('Save')" />&nbsp;
                            <input type="reset" value="$_('Clear')" />
                        </p>
                        </form>
                    </div>
                    #end if
                    #if $traceback
                    <div id="traceback_div" class="traceback" style="display:none;">
                        <b>$_('Traceback'):</b><br />
                        <pre>$traceback</pre>
                    </div>
                    #end if
                </div>
            </div>
        </body>
    </html>
#end def

