## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate


## Creates a form for adding an external id to an entity.
#def addForm($entity, $id_types)
<form action="$url('entity/add_external_id')" type="post">
    <h2>$_("Add an external id")</h2>
    <input type="hidden" name="id" value="$entity.get_id()" />
    <label for="name">$_("External Id"):</label>
    <input type="text" size="40" name="external_id" /> <br />
    <label for="id_type">$_('Id type'):</label>
    <select name="id_type">
        #for $type in $id_types
        <option value="$type.get_name()">$_($type.get_description)</option>
        #end for
    </select> <br />
    <div class="actions">
        <input type="submit" value="$_('Add')" />
    </div>
</form>
#end def

