## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($entity)
#set $ids = $entity.get_external_ids()
#if $ids
<div class="info box">
    <h3>$_('External identifiers')</h3>
    #for $id in $ids
    <div class="item">
        #set $external_id = $id.get_external_id()
        #set $type = $id.get_id_type().get_description()
        #set $ss_name = $id.get_source_system().get_name()
        #set $ss_desc = $id.get_source_system().get_description()
        #set $args = "id=%i&external_id=%s&id_type=%s" % ($entity.get_id(),
                            $external_id, $id.get_id_type().get_name())
        #set $delete = '/entity/remove_external_id?%s' % $args
        <div class="actions">
            <a class="action" href="$delete">$_('delete')</a>
        </div>
        <span class="name">$id.get_id_type().get_description():</span>
        <span class="value">$external_id</span>
        <br />
        <span class="name">$_('Source system'):</span>
        <span class="value">$ss_name ($ss_desc)</span>
    </div>
    #end for
</div>
#end if
#end def

#def set($entity, $transaction)
#set $searcher = $transaction.get_entity_external_id_type_searcher()
#set $id_types = [($type.get_name(), $type.get_description()) 
                                for $type in $searcher.search()]

<div class="edit box" style="display:none;">
    <h3>$_('Set external identifier')</h3>
    <form action="/entity/add_external_id" method="post">
        <div class="hidden">
            <input type="hidden" name="id" value="$entity.get_id()" />
        </div>
        <div class="required">
            $form_widgets.input("external_id", "External identifier")
        </div>
        <div class="required">
            $form_widgets.generate_loption("id_type", "Type", $id_types)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Set')" />&nbsp;
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def
