## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def externalIds($entity, $id_types)
    #set $ids = $entity.get_external_ids()
    <h2>$_("External identifiers:")</h2>
    #for $id in $ids
    <div class="name">
        #set $external_id = $id.get_external_id()
        #set $type = $id.get_id_type().get_description()
        #set $ss_name = $id.get_source_system().get_name()
        #set $ss_desc = $id.get_source_system().get_description()
        #set $args = "id=%i&external_id=%s&id_type=%s" % ($entity.get_id(),
                            $external_id, $id.get_id_type().get_name())
        #set $delete = $url('entity/remove_external_id?%s' % $args)
        <div class="actions">
            <em>$type:</em> $external_id
            <a href="$delete" class="actions">$_("delete")</a>
        </div>
        <div><em>$_("Source system"):</em> $ss_name ($ss_desc)</div>
    </div>
    #end for
    <form action="$url('entity/add_external_id')" type="post">
        <input type="hidden" name="id" value="$entity.get_id()" />
        <input type="input" size="20" name="external_id" />
        $form_widgets.generate_option("id_type", $id_types)
        <input type="submit" value="$_('Set')" />
    </form>
#end def

