## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate
#from types import StringTypes

## Creates a drop-down option list where 'selected' is preselected.
#def generate_option($name, $types, $selected=None)
    <select name="$name" >
    #for $name, $desc in $types
        #set $is_selected = ""
        #if $selected==$name
            #set $is_selected = " selected"
        #end if
        <option$is_selected value="$name">$desc</option>
    #end for
    </select>
#end def

## Creates a drop-down option list with a label.
#def generate_loption($name, $label, $types, $selected=None)
    <label for="$name">$_($label):</label>
    $generate_option($name, $types, $selected)
    <br />  
#end def

## Generate a drop-down list for selecting a Cerebrum code
## Example (choosing perspective):
## 
## #set $perspective_searcher = $transaction.get_ou_perspective_type_searcher()
## $code_selector("p", "perspectives", $perspective_searcher)
## 
## $selected can be either a code object or code string

#def code_selector($name, $label, $searcher, $selected=None)
    #set codes = [($c.get_name(), $c.get_description()) 
                  for $c in $searcher.search()]
    #if $selected is not None and not isinstance($selected, StringTypes)
        ## Must be a code instance, get the code name
        #set $selected = $selected.get_name()
    #end if
    $generate_loption($name, $label, $codes, $selected)                 
#end def    

## Creates inputs and labels from given arguments.
#def input($name, $label, $value="")
    <label for="$name">$_($label):</label>
    <input type="text" name="$name" id="$name" value="$_($value)" /><br />
#end def

## Creates a drop-down list with true or false.
#def boolWidget($name, $label, $default=True)
    #set types = (("True", "True"), ("False", "False"))
    #if $default
        #set $default = "True"
    #else
        #set $default = "False"
    #end if
    $generate_loption($name, $label, $types, $default)
#end def

## Creates a box with info about the form, from the attribute help.
#def showHelp($lines)
#if $lines
    <div class="help">
        #for $line in $lines
        <div class="extra">
            $_($line)
        </div>  
        #end for
    </div>  
#end if
#end def

