## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#import cgi
#from lib.InitTemplate import InitTemplate
#extends InitTemplate
#from types import StringTypes

## Creates a drop-down option list where 'selected' is preselected.
#def generate_option($name, $types, $selected=None)
    <select name="$name" id="$name">
    #for $name, $desc in $types
        #set $is_selected = ""
        #if $selected==$name
            #set $is_selected = ' selected="selected"'
        #end if
        <option$is_selected value="$name">$cgi.escape($desc)</option>
    #end for
    </select>
#end def

## Creates a drop-down option list with a label.
#def generate_loption($name, $label, $types, $selected=None)
    <label for="$name">$_($label):</label>
    $generate_option($name, $types, $selected)
#end def

#def generate_td2loption($name, $label, $types, $selected=None,$tdattrs={'align': {'left': 'left','right' :'left'}})
	#for $attr in $tdattrs.keys()
		<td $attr="$tdattrs[$attr]['left']">
			<label for="$name">$_($label):</label>
		</td>
		<td $attr="$tdattrs[$attr]['right']">
			$generate_option($name, $types, $selected)
		</td>
	#end for
#end def

## Generate a drop-down list for selecting a Cerebrum code
## Example (choosing perspective):
## 
## #set $perspective_searcher = $transaction.get_ou_perspective_type_searcher()
## $code_selector("p", "perspectives", $perspective_searcher)
## 
## $selected can be either a code object or code string

#def code_selector($name, $label, $searcher, $selected=None)
    #set codes = [($c.get_name(), $c.get_description()) 
                  for $c in $searcher.search()]
    #if $selected is not None and not isinstance($selected, StringTypes)
        ## Must be a code instance, get the code name
        #set $selected = $selected.get_name()
    #end if
    $generate_loption($name, $label, $codes, $selected)                 
#end def    

#def td2input( $name, $label, $value, $text="", $type="text", $tdattrs={'align': {'left': 'left','right' :'left'}} )
	#for $attr in $tdattrs.keys():
		<td $attr="$tdattrs[$attr]['left']">
    		<label for="$name">$_($label):</label>
		</td>
		<td $attr="$tdattrs[$attr]['right']">
                #if not $text
                    <input type="$type" name="$name" id="$name" value="$_($value)"/>
                #else
                    <input type="$type" name="$name" id="$name" value="$_($value)">$text</input>
                #end if
		</td>
	#end for
#end def	


#def td2password( $name, $label, $text="", $value="",$tdattrs={'align': {'left': 'left','right' :'left'}} )
	#for $attr in $tdattrs.keys():
		<td $attr="$tdattrs[$attr]['left']">
    		<label for="$name">$_($label):</label>
		</td>
		<td $attr="$tdattrs[$attr]['right']">
                #if not $text
                    <input type="password" name="$name" id="$name" value="$_($value)"/>
                #else
                    <input type="password" name="$name" id="$name" value="$_($value)">$text</input>
                #end if
		</td>
	#end for
#end def

#def changePassword($aid)
<form action="set_password" method="post">
    <div class="cssform">
        $password('passwd1', 'Password')
        $password('passwd2', 'Repeat Password')
        <input type="hidden" name="id" value="$aid" />
        <input type="submit" value="$_('Set password')" />&nbsp;
        <input type="button" value="$_('Cancel')" id="pass_cancel" />
    </div>
</form>
#end def

## Creates inputs and labels from given arguments.
#def input($name, $label, $value="", $type="text", $cssclass="", $id="")
    #if $cssclass
    <div class="$cssclass">
    #end if
    <label for="$name">$_($label):</label>
    #if $id
    <input type="$type" name="$name" id="$id" value="$_($value)" />
    #else
    <input type="$type" name="$name" value="$_($value)" />
    #end if
    #if $cssclass
    </div>
    #end if
#end def

## Create input and labels from given arguments while hiding the value (typically passwords)
#def password($name, $label, $value="")
    $input($name, $label, $value, type="password")
#end def

## Creates a drop-down list with true or false.
#def boolWidget($name, $label, $default=True)
    #set types = (("True", "True"), ("False", "False"))
    #if $default
        #set $default = "True"
    #else
        #set $default = "False"
    #end if
    $generate_loption($name, $label, $types, $default)
#end def

## Creates a box with info about the form, from the attribute help.
#def showHelp($lines)
#if $lines
    <div class="help">
        #for $line in $lines
        <div class="extra">
            $_($line)
        </div>  
        #end for
    </div>  
#end if
#end def

#def radio($label, $name, $alts, $default=None)
    <h4>$_($label):</h4>
    #for $alt in $alts
    <div class="usernamechoice">
        #if $default == $alt
            <input type="radio" name="$name" value="$alt" CHECKED />
        #else
            <input type="radio" name="$name" value="$alt" />
        #end if
        <label for="r_$alt">$alt</label>
    </div>
    #end for
#end def

