## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## Main template
## Gives a 'frames style' left menu and a bottom area

#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate
#implements respond
#from Cereweb.utils import url

#attr $title = "Cereweb"
#attr $messages = []

## Moved definisions of methods up here, because having them in
## the html part added lot of empty lines, since we need empty 
## lines between em, to keep the code readable :)

## Method for adding css files into the html page
#def css($name)
    #set $css = url("css/" + $name)
    <link rel="stylesheet" type="text/css" href="$css" />
#end def

## Method for adding javascript files into the html page
#def jscript($name)
    #set $js = url("" + $name)
    <script language="JavaScript" src="$js"></script>
#end def

## Messages, like errormessages and more..
#def viewMessages
<div class="messages">
#for $message, $is_error in $messages
    #set $error = $is_error and " error" or ""
    <div class="message$error">
        $message
    </div>
#end for
</div>
#end def

## Content is overloaded by other pages to add the actual content on the page.
#def content
Her er mr. Content
#end def content

## Menu is also overloaded so the menu is added on this page.
#def menu
Dette er menyen<br />
#end def menu

## Another fake method to be overloaded :)
#def bottom
Dette er bunnen
#end def bottom

### The main page! ###
<?xml version='1.0' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"><html lang="en">
<head>
    <title>Cereweb $title</title>
$css("fixed.css")
    <!--[if IE]>
$css("fixed_ie5.css")
    <![endif]-->
$css("default.css")
$css("style.css")
$jscript("worklist.js")
</head>
<body>
    <div class="content">
        #if $title
        <div class="title">
            <h1>$title</h1>
        </div>
        #end if
        #if $messages
        $viewMessages()
        #end if
        $content()
    </div>
    <div class="menu">
        $menu()
    </div>
    <div class="bottom">
        $bottom()
    </div>
</body>
</html>

