## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
##
#import cherrypy
#from lib.InitTemplate import InitTemplate
#from lib.utils import format_title, get_tabs
#extends InitTemplate
#implements respond
##
#attr $title = "Cereweb"
#attr $messages = []
#attr $jscripts = ['base.js', 'search.js', 'timeout.js', 'worklist.js']
#attr $page = 'cereweb'
#attr $links = [('#', 'stub')]

## Content is usually replaced with a lambda function from the view.
#def content: stub
## The worklist is in general a list of objects the user is working on.
## Should be specific to the current active transaction, when finished.
#def worklist: stub
## The activitylog is a log over what the user has done, like adding a member
## to a group. Should be specific to the current active transaction, when
## finished.
#def activitylog: stub
##
#attr action = []
#def actions
    <div id="actions">
        <h3>Actions</h3>
        <ul>
            #for $a in $action
            <li><a href="$a['target']">$a['name']</a></li>
            #end for
        </ul>
    </div>
#end def
#def get_links
    #for $link, $label in $links
        #set $curr = $link == $self.link and ' class="current"' or ''
        <li><a$curr href="$link">$label</a></li>
    #end for
#end def
<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Cereweb $format_title($title)</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="max-age=0" />
        <link rel="shortcut icon" type="image/gif" href="/img/litenmedtekst72.gif"/>
        <!-- Include yui styles -->
        <link rel="stylesheet" type="text/css" href="/yui/build/container/assets/container.css"/>
        <link rel="stylesheet" type="text/css" href="/yui/build/logger/assets/logger.css"/>
        <link rel="stylesheet" type="text/css" href="/yui/build/datatable/assets/datatable.css"/>
        <link rel="stylesheet" type="text/css" href="/yui/build/tabview/assets/tabview.css">
        <link rel="stylesheet" type="text/css" href="/yui/build/tabview/assets/border_tabs.css"> 

        <!-- Include yui components -->
        <script type="text/javascript" src="/yui/build/utilities/utilities.js"></script>
        <script type="text/javascript" src="/yui/build/logger/logger-min.js"></script>
        <script type="text/javascript" src="/yui/build/container/container-min.js"></script>
        <script type="text/javascript" src="/yui/build/element/element-beta-min.js"></script>
        <script type="text/javascript" src="/yui/build/datasource/datasource-beta-min.js"></script>
        <script type="text/javascript" src="/yui/build/datatable/datatable-beta-min.js"></script>
        <script type="text/javascript" src="/yui/build/autocomplete/autocomplete-min.js"></script>
        <script type="text/javascript" src="/yui/build/tabview/tabview-min.js"></script> 


        <!-- Include our styles -->
        <link rel="stylesheet" type="text/css" href="/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>

        <!-- Include our javascript application -->
        <!-- $len($jscripts) -->
        #for $i in $jscripts
            <script type="text/javascript" src="/jscript/$i"></script>
        #end for
    </head>
    <body>
        <div id="container">
            #block tabview
            <div id="tabview" class="yui-navset">
                <ul class="yui-nav">
                    $get_tabs($page)
                </ul>
            </div>
            #end block
            <div id="sub-nav" class="sub-nav">
                <ul class="sub-nav">
                    $get_links()
                </ul>
            </div>
            <div id="messages">
                #for $message, $is_error in $messages
                #set $error = $is_error and " error" or ""
                <span class="message$error">$message</span><br />
                #end for
            </div>
            <div id="title">
                <h1>$title</h1>
            </div>
            $actions()
            <div id="content">
                $content()
            </div>
            <div id="bottom">
            #block page_bottom
                #set $wl = $cherrypy.session['options'].getboolean('layout', 'display worklist')
                #set $al = $cherrypy.session['options'].getboolean('layout', 'display activitylog')
                    
                #if $wl or $al
                    <div class="bottom_div">
                    #if $wl
                        #block worklist_block
                            $worklist()
                        #end block
                    #end if
                    #if $al
                        #block activitylog_block
                            $activitylog()
                        #end block
                    #end if
                    </div>
                #end if
            #end block page_bottom
            </div>
        </div>
    </body>
</html>
