## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends SearchTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $fields = [("name", "Name"),
                 ("description", "Description"),
                 ("spread", "Spread name")]

#attr $help = []

#def getAction
    #return '/group/search'
#end def

## Overrides SearchTemplate to add extra options.
#def getExtra($vargs)
    #set $style = "width: 3em; margin-right: 0.6em;"
    #set $options = (("exact","Exact"), ("above", "Above"), ("below", "Below"), ("range", "Range"))
    #set $gid = $vargs.get("gid", "")
    #set $gide = $vargs.get("gid_end", "")
    #set $gopt = $vargs.get("gid_option", "")
    <label for="gid">$_("Posix GID")</label>
    <input type="text" name="gid" id="gid" value="$gid" style="$style"/>
    <input type="text" name="gid_end" id="gid_end" value="$gide" style="$style"/>
    $form_widgets.generate_option("gid_option", $options, $gopt)
    <br />
#end def

