## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## List of strings wich describes the form.
#attr $help = ["* Expire date: YYYY-MM-DD"] 

## Creates the content on the group edit page.
#def editGroup($transaction, $group)
<div class="group">
    $form($group, $transaction)
</div>
#end def

## Action to go to when the form is submitted.
#def getAction
    #return '/group/save'
#end def

## Creates the form for editing a groups main info.
#def form($group, $tr)
            
#set $visis = [(i.get_name(), i.get_description()) for i in 
                $tr.get_group_visibility_type_searcher().search()]

<div class="edit">
    <form action="$getAction()" method="POST">
        <div class="editform">
           $form_widgets.input("name", "Name", $group.get_name())
            #if $group.is_posix()
                $form_widgets.input("gid", "Gid", $group.get_posix_gid())
            #end if
            
            <label for="description">$_('Description'):</label>
            <textarea rows="3" cols="40" name="description">$group.get_description()</textarea>
            <br />
            
            #set $visi = $group.get_visibility().get_name()
            $form_widgets.generate_loption("visi", "Visibility", $visis, $visi)
            
            #set $date = $group.get_expire_date()
            #set $date = $date and $date.strftime("%Y-%m-%d") or ""
            $form_widgets.input("expire", "Expire date *", $date)
            <input type="hidden" name="id" value="$group.get_id()" />
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Save')" name="submit" />&nbsp;
                <input type="submit" value="$_('Cancel')" name="submit" />
            </center>
        </div>
    </form>
</div>
#end def

