## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends SearchTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $fields = [("name", "Name"),
                 ("desc", "Description"),
                 ("spread", "Spread name")]

#attr $help = []

#def getAction
    #return '/group/search'
#end def


## Overrides SearchTemplate.form to add extra options.
#def form
    #block extra
        #set $style = "width: 3em; margin-right: 0.6em;"
        #set $options = (("exact","Exact"), ("above", "Above"), ("below", "Below"), ("range", "Range"))
        #set $start = $formvalues.get("gid", "")
        #set $end = $formvalues.get("gid_end", "")
        #set $opt = $formvalues.get("gid_option", "")
        <label for="gid">$_("Posix GID")</label>
        <input type="text" name="gid" id="gid" value="$start" style="$style"/>
        <input type="text" name="gid_end" id="gid_end" value="$end" style="$style"/>
        $form_widgets.generate_option("gid_option", $options, $opt)
        <br />
    #end block
    #return SearchTemplate.form($self, $extra)
#end def

