## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def add_member_box($action, $member_types, $operations)
<div class="group_add_member">
    <form action="$action" method="POST">
        <h3>$_("Add Member"):</h3>
        <label for="name">$_("Name"):</label>
        <input type="text" name="name" />
        $form_widgets.generate_loption("type", "Type", $member_types)
        <label for="operation">$_("Operations")</label>
        $form_widgets.generate_option("operation", $operations)
        <input type="submit" value="$_("Add")"/>
    </form>
</div>
#end def
