## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($account)
#set $homes = $account.get_homes()
#if $homes
#set $id = $account.get_id()
<div class="info box">
    <h3>$_('Home Directories')</h3>
    #for $home in $homes
    <div class="item">
    
        #set $sname = $home.get_spread().get_name()
        #set $remove = 'remove_home?id=%s&spread=%s' % ($id, $sname)
        
        <div class="actions">
            <a class="action" href="$remove">$_('remove')</a>
        </div>
        <span class="name">$_("Spread"):</span> <span class="value">$sname</span><br />
        <span class="name">$_("Home directory"):</span> <span class="value">$home.get_homedir().get_path()</span><br />
        <span class="name">$_("Status"):</span> <span class="value">$home.get_homedir().get_status().get_description()</span>
    </div>
    #end for
</div>
#end if
#end def

#def set($entity, $tr)
<div class="form box" id="home_form" style="display:none;">
    <form action="set_home" method="POST">
        <a class="anchor" name="homedir" />
        <h3>$_('Set home directory')</h3>
        <input type="hidden" name="id" value="$entity.get_id()" />

        #set $spreads = [($i.get_name(), $i.get_name())
                         for $i in $entity.get_spreads()]
        #set $disks = $tr.get_disk_searcher().search()
        #set $disks = [("", " ")] + [($i.get_id(), "%s:%s" % 
            ($i.get_host().get_name(), $i.get_path())) for $i in $disks]
        
        $form_widgets.generate_loption("spread", "Spread", $spreads)
        $form_widgets.input("home", "Home")
        $form_widgets.generate_loption("disk", "Disk", $disks)
        <input type="submit" value="$_('Set homedir')" />&nbsp;
        <input type="button" value="$_('Cancel')" id="home_cancel" />
    </form>
</div>
#end def
