## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate

#from lib.utils import entity_link, html_quote
#from lib.utils import spine_to_web
#from Widgets import Widgets
#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()
#attr $widgets = Widgets()

#attr $email_server_types = []

#def title()
    #return $_('Host %s') % $spine_to_web($host.name)
#end def

#def actions()
<div id="actions">
    <h3>$_("Actions")</h3>
    <ul>
        <li><a href="edit?id=$host.id">$_("edit info")</a></li>
        <li><a href="delete?id=$host.id">$_("delete host")</a></li>
        <li><a href="/entity/full_historylog?id=$host.id">$_('view full history log')</a></li>
        #if $host.is_email_server
            <li><a href="/host/demote_mailhost?host_id=$host.id">$_('Demote as mailhost')</a></li>
        #end if
    </ul>
</div>
#end def

## Main method for creating the host view page.
#def content()
    $viewInfo($host)
    $addNote($host)
    $viewNotes($host)
    $viewTraits($host)
    $viewDisks($host)
    #if not $host.is_email_server
        $promote_to_mailhost($host)
    #end if
    $viewHistoryLog($host)
#end def

## View information about host (name and description).
#def viewInfo($host)
    #set $info = []
    $info.append(($_("Name:"), $spine_to_web($host.name)))
    $info.append(($_("Description:"), $spine_to_web($host.description)))
    #if $host.is_email_server
        $info.append(($_("Mailhost:"), $spine_to_web($host.email_server_type)))
    #end if
    $widgets.viewInfo($info)
#end def

#def viewDisks($host)
    <div class="list box">
        <h3>$_('Disks')</h3>
        <form action="disks" method="post">
            <div>
                <input type="hidden" name="host_id" value="$host.id" />

                #for $disk in $host.disks
                    <div class="item">
                        <input type="checkbox" name="$disk.id" />
                        <em>$_('Path'): $entity_link($disk)</em>
                    </div>
                #end for

                #if $host.disks
                    <input type="submit" name="delete" value="$_('Delete disks')" />&#x0020;
                #end if
                <a href="/disk/create?host_id=$host.id">$_('Add a disk')</a>
            </div>
        </form>
    </div>
#end def

#def promote_to_mailhost($host)
    <div class="edit box" >
    <h3>$_('Promote to mailhost')</h3>
        <form action="promote_mailhost" method="post">
        <p>
            <div class="hidden">
                <input type="hidden" name="host_id" value="$host.id" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("type_id", 'Server type',
                        [($x.id, $x.name) for $x in $email_server_types])
            </div>
            <div class="buttons">
                <input type="submit" name="promote" value="$_('Promote')" />&#x0020;
                <input type="button" class="cancel" value="$_('Cancel')" />
            </div>
        </p>
        </form>
    </div>
#end def

