## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link
#from lib.WorkList import remember_link
#from Widgets import Widgets
#extends EntityViewTemplate
#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $widgets = Widgets()

#attr $email_server_types = []

#attr $title = ''

#def viewActions($transaction, $host)
    #set $id = $host.get_id()
    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete host")</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a><br />
    #if $host.get_server_type()
        <a href="/host/demote_mailhost?id=$id">$_('Demote as mailhost')</a>
    #end if
    <br />
    $remember_link($host)<br />
#end def

## Main method for creating the host view page.
#def viewContent($transaction, $host)
    $viewInfo($host)
    $addNote($host)
    $viewNotes($host)
    $viewDisks($host)
    #if not $host.get_server_type()
        $promote_to_mailhost($host)
    #end if
    $viewHistoryLog($host)
#end def

## View information about host (name and description).
#def viewInfo($host)
    #set $info = []
    $info.append(($_("Name:"), $host.get_name()))
    $info.append(($_("Description:"), $host.get_description()))
    #if $host.get_server_type()
        $info.append(($_("Mailhost:"), $host.get_server_type().get_name()))
    #end if
    $widgets.viewInfo($info)
#end def

#def viewDisks($host)
    #set $disks = $host.get_disks()
    #if $disks
    <div class="list box">
        <h3>$_('Disks')</h3>
        <form action="disks" method="post">
        <p>
            <input type="hidden" name="host" value="$host.get_id()" />
            #for $disk in $disks
            <div class="item">
                <input type="checkbox" name="$disk.get_id()" />
                <em>$_('Path'):</em> $disk.get_path()
                $object_link($disk, "view", _class="action")
                $object_link($disk, "edit", "edit", _class="action")
                $remember_link($disk, _class="action")
            </div>
            #end for
            #if $disks
            <input type="submit" name="delete" value="$_('Delete disks')" />&nbsp;
            #end if
            <input type="submit" name="add" value="$_('Add a disk')" />
    </p>
        </form>
    </div>
    #end if
#end def

#def promote_to_mailhost($host)
    <div class="edit box" >
    <h3>$_('Promote to mailhost')</h3>
        <form action="promote_mailhost" method="post">
        <p>
            <div class="hidden">
                <input type="hidden" name="id" value="$host.get_id()" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("type", 'Server type', $email_server_types)
            </div>
            <div class="buttons">
                <input type="submit" name="promote" value="$_('Promote')" />&nbsp;
                <input type="button" class="cancel" value="$_('Cancel')" />
            </div>
        </p>
        </form>
    </div>
#end def

