## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = []

## Url to go to when the form for creating the host is submittet.
#def getAction
    #return '/host/make'
#end def

## The main method for creating the form for the host create page.
#def form
#set $fv = $formvalues
<div class="create">
<h3>$_('Create a new host:')</h3>
    <divclass="createform">
        <form action="$getAction()"method="post">
            <div>
                $form_widgets.input("name","Name",$fv.get("name",""))
            </div>
            <div>
                $form_widgets.input("description","Description",$fv.get("description",""))
            </div>
            <div>
                #if $help:
                    $form_widgets.showHelp($help)
                #else:
                    &nbsp;
                #end if
            </div>
            <div>
                <input type="submit"value="$_('Create')"/>&nbsp;
                <input type="reset"value="$_('Clear')"/>
            </div>
        </form>
    </div>
</div>
<br />
<br />
#end def

