## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.UserMenu import UserMenu
#from lib.utils import object_link, strftime
#from lib.WorkList import remember_link
#from GroupViewTemplate import GroupViewTemplate
#from HomeDirectoryTemplate import HomeDirectoryTemplate
#from EmailTargetTemplate import EmailTargetTemplate
#from FormWidgets import FormWidgets
#extends lib.Main

#attr $homedir_template = HomeDirectoryTemplate()
#attr $form_widgets = FormWidgets()
#attr $listGroups = GroupViewTemplate().listGroups

## Main method for creating the view of accounts.
#def view($transaction, $account)
#set $id = $account.get_id()
#set $commands = $transaction.get_commands()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $setPassword($account)
    $homedir_template.set($account, $transaction)
    $homedir_template.view($account)
    $viewGroups($account)

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('pass_form', 'pass_set', null, 'pass_cancel');
        FV_register('home_form', 'home_set', null, 'home_cancel');
        FV_register('email_form', 'email_add', null, 'email_cancel');
        FV_register('group_form', 'group_join', null, 'group_cancel');
        FV_register('spread_form', 'spread_add', null, 'spread_cancel');
        FV_register('note_form', 'note_add', null, 'note_cancel');
        //-->
    </script>
</div>
#end def

#def viewInfo($account)
<div class="view_info box">
    <div class="item">
        <em>$_('Name'):</em> $account.get_name()
    </div>
    <div class="item">
        <em>$_('Owned by'):</em> $object_link($account.get_owner())
    </div>
    <div class="item">
        <em>$_('Expire date'):</em> $strftime($account.get_expire_date())
    </div>
    <div class="item">
        <em>$_('Date created'):</em> $strftime($account.get_create_date())
    </div>
    <div class="item">
        <em>$_('Created by'):</em> $object_link($account.get_creator())
    </div>
    
    #if $account.is_posix()
    <div class="item">
        <em>$_('UID'):</em> $account.get_posix_uid()
    </div>
    <div class="item">
        <em>$_('Primary group'):</em> $object_link($account.get_primary_group())
    </div>
    <div class="item">
        <em>$_('Gecos'):</em> $account.get_gecos()
    </div>
    <div class="item">
        <em>$_('Shell'):</em> $account.get_shell().get_name()
    </div>
    #end if

    <div class="item">
        <em>$_('Description'):</em> $account.get_description()
    </div>
</div>
#end def

#def viewPasswords($account)
#set $auths = $account.get_authentications()
#if $auths
<div class="passwords">
    <h3>$_('Current authentication types')</h3>
    #for $auth in $auths
    <div class="password">
        $auth.get_method().get_name()
    </div>
    #end for
</div>
#end if
#end def

#def setPassword($account)
<div class="form box" id="pass_form" style="display:none;">
    <table border=0>
    <tr><td>
    <form action="set_password" method="POST">
        <a class="anchor" name="password" />
        <h3>$_('Set password')</h3>
		<p>
        <input type="hidden" name="id" value="$account.get_id()" />
        <table border="0">
        <tr>
        $form_widgets.td2password('passwd1', 'Password')
        </tr>
        <tr>
        $form_widgets.td2password('passwd2', 'Retype password')
        </tr>
		<tr>
			<td colspan="2">
				&nbsp;
			</td>
		</tr>
		<tr>
		<td align="center">
        <input type="submit" value="$_('Set password')" />
		</td>
		<td align="center">
        <input type="button" value="$_('Cancel')" id="pass_cancel" />
		</td>
		</tr>
        </table>
		</p>
    </form>
    </tr></td>
    </table>
</div>
#end def

#def viewGroups($account)
<div class="info box">
    <h3>$_('Groups')</h3>
    <form action="groups" method="POST">
        <input type="hidden" name="account_id" value="$account.get_id()" />
        $listGroups($account)
        #if not $account.get_groups()
        $_('Account is not member of any groups')<br />
        #else
        <input type="submit" name="leave" value="$_('Leave group(s)')" />&nbsp;
        #end if
        <input type="submit" name="create" value="$_('Create a group')" />
    </form>
</div>
#end def

#def content()
$view($tr, $account)
#end def

#def prepare_page()
#set global menu = UserMenu()
#end def

#def activitylog()
#end def

#def worklist()
#end def
