## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## Login template
#from FormWidgets import FormWidgets
#from gettext import gettext as _
#import cherrypy

#attr $form_widgets = FormWidgets()
#attr $username = ""
#attr $messages = ""
#attr $client = '/user_client'

## setting this just to be safe that the browser understand...
##
## the fucking MSIE do not accept application/xhml+xml... *sigh*
##
<%
client_charset = cherrypy.session.get('client_encoding', 'utf-8')

content_type = 'application/xhtml+xml; charset=%s' % client_charset

user_agent = cherrypy.request.headerMap['User-Agent']
if user_agent.rfind('MSIE') != -1:
    content_type = 'text/html; charset=%s' % client_charset

cherrypy.response.headerMap['Content-Type']= content_type

pragma = 'no-cache'
cache_control='private, no-cache, no-store, must-revalidate, max-age=0'

cherrypy.response.headerMap['Pragma'] = pragma
cherrypy.response.headerMap['Cache-Control'] = cache_control
%>
<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        <meta http-equiv="Content-Type" content="$content_type" />
        <meta http-equiv="Pragma" content="$pragma" />
        <meta http-equiv="Cache-Control" content="$cache_control" />
        <link rel="shortcut icon" type="image/gif" href="/img/litenmedtekst72.gif"/>
        <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" charset="utf-8" />
        <title>Log in to Cereweb</title>
    </head>
    <body>
        <div id="content">
            <div id="messages">
            #for $msg in $messages
                $msg
            #end for
            </div>
            <div id="login">
                <h1>Log in to Cereweb</h1>
                <form method="post" action="/login">
                    <div class="required">
                        $form_widgets.input("username", $_("Username"), $username)
                    </div>
                    <div class="required">
                        $form_widgets.password('password', $_('Password'))
                    </div>
                    <div>
                        $form_widgets.generate_loption('client', $_("Log in as"), [('/user_client', $_('User')), ('/index', $_('Administrator'))], $client)
                    </div>
                    <div>
                        <label class="hidden" for="submit">Submit:</label>
                        <input id="submit" type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
## vi: sw=4 sts=4 expandtab:
