## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## Login template
#from FormWidgets import FormWidgets
#from gettext import gettext as _
#attr $form_widgets = FormWidgets()
#attr $username = ""
#attr $messages = ""
#attr $client = '/user_client'
<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="css/login.css" />
        <link rel="shortcut icon" type="image/gif" href="/img/litenmedtekst72.gif"/>
        <title>Log in to Cereweb</title>
    </head>
    <body>
        <div id="content">
            <div id="messages">
            #for $msg, $is_error in $messages
                #set $is_error = $is_error and "error" or ""
                <div class="message $is_error">$msg</div>
            #end for
            </div>
            <div id="login">
                <h1>Log in to Cereweb</h1>
                <form method="post" action="/login">
                    <div class="required">
                        $form_widgets.input("username", $_("Username"), $username)
                    </div>
                    <div class="required">
                        $form_widgets.password('password', $_('Password'))
                    </div>
                    <div>
                        $form_widgets.generate_loption('client', $_("Log in as"), [('/user_client', $_('User')), ('/index', $_('Administrator'))], $client)
                    </div>
                    <div>
                        <label class="hidden" for="submit">Submit:</label>
                        <input id="submit" type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
## vi: sw=4 sts=4 expandtab:
