## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## Login template

#def login($username, $messages)
<?xml version='1.0' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"><html lang="en">
<head>
    <title>Log in to Cereweb</title>
</head>
<body>
    <div class="content">
        <div class="title">
            <h1>Log in to Cereweb</h1>
        </div>
        #for $msg in $messages
            <p style="color: red;">$msg</p>
        #end for
        <form method="POST">
          <div>
            <label for="username">
              Username:
            </label>
            <input type="text" name="username"
                   id="username" value="$username" />
          </div>
          <div>
            <label for="password">
              Password:
            </label>
            <input type="password" name="password"
                   id="password" />
          </div>
          <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
#end def
