## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = [" * Optional"]

## Url to go to when the form for creating the host is submittet.
#def getAction
    #return '/host/make'
#end def

## The main method for creating the form for the host create page.
#def form($transaction)
#set $fv = $formvalues

<div class="view">
    <form action="$getAction()" method="post">
        <div class="required">
            $form_widgets.input("name", "Name")
        </div>
        <div class="required">
            $form_widgets.input("description", "Description")
        </div>
        <div class="required">
            $form_widgets.code_selector("cpu_arch","Cpu arch",$transaction.get_cpu_arch_searcher())
        </div>
        <div class="required">
            $form_widgets.code_selector("operating_system","Operating system",$transaction.get_operating_system_searcher())
        </div>
        <div class="required">
            $form_widgets.code_selector("interconnect","Interconnect",$transaction.get_interconnect_searcher())
        </div>
        <div class="required">
            $form_widgets.input("total_memory","Total memory (MB) *")
        </div>
        <div class="required">
            $form_widgets.input("node_number","Node number *")
        </div>
	 <h3>Per-node data</h3>
        <div class="required">
            $form_widgets.input("node_memory","Node memory (MB) *")
        </div>
        <div class="required">
            $form_widgets.input("node_disk","Node disk (GB) *")
        </div>
        <div class="required">
            $form_widgets.input("cpu_core_number","Cpu core number *")
        </div>
        <div class="required">
            $form_widgets.input("cpu_core_mflops","Cpu core mflops *")
        </div>
        <div class="required">
            $form_widgets.input("cpu_mhz","Cpu MHz *")
        </div>

        $form_widgets.showHelp($help)
        <div class="buttons">
            <input type="submit" value="$_('Create')" />
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def

