## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from FormWidgets import FormWidgets
#from UserTemplate import UserTemplate
#extends UserTemplate

#attr $form_widgets = FormWidgets()

#def viewVacation($vacations)
<p>
## <div class="view_vacation" id="id=vacation_form" style="display:always;">
<div class="view_info" id="id=vacation_form" style="display:always;">
<table width="100%">
	<tr>
		<th colspan="2">
			<div class="tableheader">
				Vacations:
			</div>
		</th>
	</tr>
#if $len($vacations) > 0
    #for $vacation in $vacations
    <span class=#if $vacation['enabled']==1 then "enabled" else "disabled" #>
	<tr>
		<td>
			<div class="td_lead_info">
				Start:
			</div>
		</td>
		<td>
			<div class="info">
				$vacation['start_date']
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="td_lead_info">
				End:
			</div>
		</td>
		<td>
			<div class="info">
				$vacation['end_date']
			</div>
		</td>
	<tr>
		<td>
			<div class="td_lead_info">
				Message:
			</div>
		</td>
		<td>
			<div class="info">
				$vacation['text']
			</div>
		</div>
	</tr>
	<tr>
		<td colspan="2">
			<div class="info">
				<a href=#delete?id=$vacation['id']> Delete </a>&nbsp;
				<a href=#change?id=$vacation['id']> Edit </a>&nbsp;
				<a href=#disable?id=$vacation['id']> Disable </a>
			</div>
		</td>
	</tr>
    </span>
    #end for
#else
	<tr>
    	<td colspan="2">
			<div class="info">
				No vacations registered.
			</div>
		</td>
	</tr>
#end if
	<tr>
		<td colspan="2">
			<div class="info">
				<a href=#newVacation>Set new vacation</a>
			</div>
		</td>
	</tr>
</table>
</div>
</p>
#end def

#def viewMailForward($forwards)
<p>
## <div class="view_mailforward" id="mailforward_form" style="display:always;">
<div class="view_info" id="mailforward_form" style="display:always;">
<table width="100%">
	<tr>
		<th colspan="2">
			<div class="tableheader">
				Forwards:
			</div>
		</th>
	</tr>
#if $len($forwards) > 0
    #for $forward in $forwards
    <span class=#if $forward['enabled']==1 then "enabled" else "disabled" #>
	<tr>
		<td>
			<div class="td_lead_info">
        		Start:
			</div>
		</td>
		<td>
			<div class="info">
				$forward['start_date']
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="td_lead_info">
        End:
			</div>
		</td>
		<td>
			<div class="info">
				$forward['end_date']
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="td_lead_info">
        		Target:
			</div>
		</td>
		<td>
			<div class="info">
				$forward['address']
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="info">
				<a href=#delete?id=$forward['id']> Delete </a>&nbsp;
				<a href=#change?id=$forward['id']> Edit </a>&nbsp;
				<a href=#disable?id=$forward['id']> Delete </a>
			</div>
		</td>
	</tr>
    </span>
    #end for
#else
	<tr>
		<td colspan="2">
			<div class="info">
				No forwards registered
			</div>
		</td>
	</tr>
#end if
	<tr>
		<td colspan="2">
			<div class="info">
				<a href=#newForward>Set new forward</a>
			</div>
		</td>
	</tr>
</table>
</div>
</p>
#end def

#def createVacation()
#end def

#def createMailForward()
#end def

#def content()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $viewVacation($vacations)
    $viewMailForward($forwards)
    $createVacation()
    $createMailForward()

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('edit_vacation_form', 'pass_set', null, 'pass_cancel');
        FV_register('edit_forward_form', 'pass_set', null, 'pass_cancel');
        FV_register('create_vacation_form', 'pass_set', null, 'pass_cancel');
        FV_register('create_forward_form', 'pass_set', null, 'pass_cancel');
        //-->
    </script>
</div>
#end def
