## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.UserMenu import UserMenu
#from lib.utils import object_link, strftime
#from lib.WorkList import remember_link
#from EmailTargetTemplate import EmailTargetTemplate
#from FormWidgets import FormWidgets
#extends UserTemplate

#attr $form_widgets = FormWidgets()



#def viewVacation($vacations)
<div class="view_vacation" id="id=vacation_form" style="display:always;">
Vacations:<br>
#if $len($vacations) > 0
    #for $vacation in $vacations
    <span class=#if $vacation['enabled']==1 then "enabled" else "disabled" #>
        start: $vacation['start_date']<br>
        end:   $vacation['end_date'] <br>
        Message: $vacation['text']<br>
        <a href=#delete&id=$vacation['id']> Delete </a><br>
        <a href=#change&id=$vacation['id']> Edit </a><br>
        <a href=#disable&id=$vacation['id']> Disable </a>
    </span>
    #end for
#else
    No vacations registered.
#end if
<br>
<a href=#newVacation>Set new vacation</a>
</div>
#end def

#def viewMailForward($forwards)
<div class="view_mailforward" id="mailforward_form" style="display:always;">
Forwards:<br>
#if $len($forwards) > 0
    #for $forward in $forwards
    <span class=#if $forward['enabled']==1 then "enabled" else "disabled" #>
        Start: $forward['start_date']<br>
        End:   $forward['end_date'] <br>
        Target: $forward['address']<br>
        <a href=#delete&id=$forward['id']> Delete </a><br>
        <a href=#change&id=$forward['id']> Edit </a><br>
        <a href=#disable&id=$forward['id']> Delete </a>
    </span>
    #end for
#else
    No forwards registered
#end if
<br>
<a href=#newForward>Set new forward</a>
</div>
#end def

#def createVacation()
#end def

#def createMailForward()
#end def

#def content()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $viewVacation($vacations)
    $viewMailForward($forwards)
    $createVacation()
    $createMailForward()

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('edit_vacation_form', 'pass_set', null, 'pass_cancel');
        FV_register('edit_forward_form', 'pass_set', null, 'pass_cancel');
        FV_register('create_vacation_form', 'pass_set', null, 'pass_cancel');
        FV_register('create_forward_form', 'pass_set', null, 'pass_cancel');
        //-->
    </script>
</div>
#end def
