## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## This class seems pretty useless, since worklist and activitylog is implementet
## in Cerebrum.web.Main. This could all be moved into FramesTemplate, and we would
## avoid this nonsense file wich doesnt realy do anything.

#extends FramesTemplate 

## The bottom "frame" on the page, wich contains transactions, worklist and history.
#def bottom
    $transactionbox()
    $worklist()
    $activitylog()
#end def bottom

## All the other methods (transactionbox, worklist, activitylog) is overloaded
## in Cereweb.Main

## Menu for actives transactions.
#def transactionbox
<div class="transbox">
    <h2>Transactions:</h2>
    transaksjoner!<br />
</div>
#end def

## List of objects wich the user is working on.
## Should be specific to the current active transaction, when finished.
#def worklist
<div class="worklist">
  <h2>Work list:</h2>
  bla<br />
</div>
#end def worklist

## Log over what the user has done, like adding a member to a group.
## Should be specific to the current active transaction, when finished.
#def activitylog
<div class="activitylog">
    <h2>Activitylog:</h2>
    logloglog<br />
</div>
#end def activitylog

