## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from FormWidgets import FormWidgets
#from lib.utils import strftime
#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#attr $form_widgets = FormWidgets()


#def viewMotds($motds)
<div>
    #for $motd in $motds
        #set $id = $motd.get_id()
        #set $subject = $motd.get_subject()
        #set $message = $motd.get_message()
        <div class="motd" id="motd_$id">
            <div class="actions">
                <a class="action" href="javascript:;" id="motd_edit_$id">$_('edit')</a><br />
                <a class="action" href="/delete_motd?id=$id">$_('delete')</a>
            </div>
            <div class="subject">$subject</div>
            $message.replace('\n', '<br />')
            <br />
            <span class="by">-$_('by') $motd.get_creator().get_name()</span>
            <span class="when">
                $strftime($motd.get_create_date(), '%y-%m-%d  %H:%M')
            </span>
        </div>
        $editMotd('/edit_motd', $id, $subject, $message)
        <script language="JavaScript">
            <!--
            FV_register('motd_edit_div_$id', 'motd_edit_$id',
                        'motd_$id', 'motd_cancel_$id');
            //-->
        </script>
    #end for
    <a href="/all_motds" class="action">$_('View all messages')</a>
    <a href="#new_motd" id="motd_create" class="action">$_('Create a new message')</a>
    <br />
    $editMotd('/create_motd')
    <script language="JavaScript">
        <!--
        FV_register('motd_edit_div', 'motd_create', 
                    null, 'motd_cancel');
        //-->
    </script>
</div>
#end def

#def editMotd($action, $id="", $subject="", $message="")
#set $tmp = $id and '_%i' % $id or ''
<div class="motd_edit" id="motd_edit_div$tmp" style="display:none;">
    <form action="$action" method="POST">
        <a class="anchor" name="new_motd"></a>
        <label for="subject">$_('Subject'):</label>
        <input type="text" name="subject" size="40" maxlength="65" value="$subject" />
        <br />
        <label for="message">$_('Message'):</label><br />
        <textarea name="message" rows="3" cols="40">$message</textarea>
        <br />
        #if $id
        <input type="hidden" name="id" value="$id" />
        #end if
        <div>
        #if $id
            <input type="submit" value="$_('Save')" />&nbsp;
        #else
            <input type="submit" value="$_('Create')" />&nbsp;
        #end if
            <input type="button" value="$_('Cancel')" id="motd_cancel$tmp" />
        </div>
    </form>
</div>
#end def

