## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from FormWidgets import FormWidgets
#from lib.utils import strftime
#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#attr $form_widgets = FormWidgets()

#def viewMotds($motds)
<div class="view_content">
    <div class="view_actions" id="actions">
        <a href="/all_motds" >$_('View all messages')</a><br />
        <a href="/edit_motd" id="motd_create">$_('Create a new message')</a><br />
    </div>
    <div id="motds">
    #for $motd in $motds
        #set $id = $motd.get_id()
        #set $subject = $motd.get_subject()
        #set $message = $motd.get_message()
        <div class="motd box">
            <div class="actions">
                <a class="action" href="/edit_motd?id=$id" id="motd_edit_$id">$_('edit')</a>
                <a class="action" href="/delete_motd?id=$id">$_('delete')</a>
            </div>
            <div class="subject">$subject</div>
            $message.replace('\n', '<br />')
            <br />
            <span class="by">-$_('by') $motd.get_creator().get_name()</span>
            <span class="when">
                $strftime($motd.get_create_date(), '%y-%m-%d  %H:%M')
            </span>
        </div>
    #end for
    </div>
    $editMotd('/save_motd')
</div>
#end def

#def editMotd($action, $id="", $subject="", $message="", $main=False)
#if not $main
<div class="motd_edit" id="editMotd">
#else
<div class="motd_edit">
#end if
    <div class="bd">
        <form name="editMotdForm" action="$action" method="post">
            <div>
                <label for="subject">$_('Subject'):</label>
                <input type="text" class="text" id="editMotdForm_subject" name="subject" value="$subject" />
            </div>
            <div>
                <label for="message">$_('Message'):</label>
                <textarea id="editMotdForm_message" rows="3" cols="48" name="message">$message</textarea>
            </div>
            <div>
                <input type="hidden" id="editMotdForm_id" name="id" value="$id" />
            </div>
            #if $main
            <div>
                <input type="submit" value="$_('Save')" />&nbsp;
                <input type="reset" value="$_('Reset')" />
            </div>
            #end if
        </form>
    </div>
</div>
#end def

