## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#from lib.utils import object_link, strftime
#extends InitTemplate

#def view($entity)
#set $notes = $entity.get_notes()
#if $notes
<div class="note box">
    <h3>$_('Notes')</h3>
    #for $note in $notes
    #set $delete = '/note/delete?id=%s&amp;entity=%s' % ($note.get_id(), $entity.get_id())
    #set $description = $note.get_description().strip()
    #set $description = $description.replace('\n', '<br />')
    <div class="item">
        <div class="actions">
            <a class="action" href="$delete">$_('delete')</a>
        </div>
        <span class="name">$note.get_subject()</span>&nbsp;
        <span class="creator">-$_('by')  $object_link($note.get_creator())</span>&nbsp;
        <span class="date">$strftime($note.get_create_date())</span>
        <div class="description">$description</div>
    </div>
    #end for
</div>
#end if
#end def

#def add($entity)
<div class="edit box" style="display:none;">
    <h3>$_('Add a note')</h3>
    <form action="/note/add" method="post">
        <div class="hidden">
            <input type="hidden" name="entity" value="$entity.get_id()" />
        </div>
        <div class="required">
            <label for="subject">$_('Subject'):</label>
            <input type="text" size="40" name="subject" id="subject" />
        </div>
        <div class="required">
            <label for="description">$_('Optional details'):</label>
            <textarea cols="40" rows="4" name="description" id="description"></textarea>
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Add')" />
            <input type="button" value="$_('Cancel')" class="cancel" />
        </div>
    </form>
</div>
#end def
