## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate

#def viewNotes($entity, $req)
#set $notes = $entity.get_notes()
#if $notes
<h2>$_("Notes:")</h2>
#for $note in $notes
    #set $creator = $note.get_creator()
    #set $creator_url  = $url("account/view?id=%s" % $creator.get_id())
    #set $creator_name = $_($creator.get_name())
    #set $delete = $url('note/delete?id=%s&entity=%s' % ($note.get_id(), $entity.get_id()))
    <div class="note">
        <div>
            <em>$note.get_create_date().strftime("%Y-%m-%d")</em>&nbsp;
            <em>Creator: <a href="$creator_url">$creator_name</a></em>&nbsp;
            <a href="$delete" class="actions">$_("delete")</a>
        </div>
        <div>$note.get_subject()</div>
        <div>$note.get_description()</div>
  </div>
#end for
#end if
#end def

