## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redisdivibute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is disdivibuted in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = ["* Optional", "** Identificator",]

## Url to go to when the form for creating the person is submittet.
#def getAction
    #return '/ou/make'
#end def

## The main method for creating the form for the person create page.
#def form
#set $fv = $formvalues
<div class="create">
    <h3>$_('Create a new Organizarion Unit:')</h3>
    <form action="$getAction()" method="post">
        <div class="required">
            $form_widgets.input("name", "Name", $fv.get("name", ""))
        </div>
        <div class="required">
            $form_widgets.input("acronym", "Acronym *", $fv.get("acronym", ""))
        </div>
        <div class="required">
            $form_widgets.input("short_name", "Short name *", $fv.get("short_name", ""))
        </div>
        <div class="required">
            $form_widgets.input("display_name", "Display name *", $fv.get("display_name", ""))
        </div>
        <div class="required">
            $form_widgets.input("sort_name", "Sort name *", $fv.get("sort_name", ""))
        </div>
        <div class="required">
            $form_widgets.input("institution", "Institution **", $fv.get("institutation", ""))
        </div>
        <div class="required">
            $form_widgets.input("faculty", "Faculty **", $fv.get("faculty", ""))
        </div>
        <div class="required">
            $form_widgets.input("institute", "Institute **", $fv.get("institute", ""))
        </div>
        <div class="required">
            $form_widgets.input("department", "Department **", $fv.get("department", ""))
        </div>
        <div class="required">
            $form_widgets.showHelp($help)
        </div>
        <div class="buttons">
            <input type="submit" value="$_('Create')" />
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def
