## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate
#from lib.utils import object_link, html_quote
#from lib.WorkList import remember_link
#from SpineIDL.Errors import NotFoundError
#from Widgets import Widgets

#attr $widgets = Widgets()

#def viewActions($transaction, $ou)
    #set $id = $ou.get_id()

    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete ou")</a><br />
    <a href="list_aff_persons?id=$id">$_("list affiliated persons")</a><br />
    <a href="/quarantine/add?entity=$id">$_('add quarantine')</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a><br />
    $remember_link($ou)<br />
#end def

#def viewContent($transaction, $ou)
    $viewInfo($ou)
    $viewQuarantines($ou)
    $addNote($ou)
    $viewNotes($ou)
    $viewFamily($transaction, $ou)
    $setExternalId($ou, $transaction)
    $viewExternalIds($ou)
    $viewHistoryLog($ou)
    $affiliatedPersons($transaction,$ou)
#end def

## View information about OU.
#def viewInfo($ou)
    #set $info = []
    $info.append(($_('Name'), $html_quote($ou.get_name())))
    $info.append(($_('Acronym'), $html_quote($ou.get_acronym())))
    $info.append(($_('Short name'), $html_quote($ou.get_short_name())))
    $info.append(($_('Display name'), $html_quote($ou.get_display_name())))
    $info.append(($_('Sort name'), $html_quote($ou.get_sort_name())))
    $info.append(($_('Stedkode'), $html_quote($ou.get_stedkode())))
    $info.append(($_('Catalogue mark'), $_($ou.get_katalog_merke() and True or False)))
    $widgets.viewInfo($info)
#end def

#def viewFamily($transaction, $ou)
    #set $perspectives = $transaction.get_ou_perspective_type_searcher().search()
    <div class="list box">
        <h3>$_('OU Family')</h3>
        #for $perspective in $perspectives
            ## parents
            #try
                #set $parent = $ou.get_parent($perspective)
            #except NotFoundError
            #else
                <h4>$_('Parent in perspective')
			$html_quote($perspective.get_name())</h4>
                #if $parent
                <div>$object_link($parent)</div>
                #else
                <div>$_('(Root of perspective)')</div>
                #end if
            #end try

            ## children
            #try
                #set $children = $ou.get_children($perspective)
            #except NotFoundError
            #else
                #if $children
                    <h4>$_('Children in perspective')
			$html_quote($perspective.get_name())</h4>
                    #for $child in $children
                    <div>$object_link($child)</div>
                    #end for
                #end if     
            #end try
        #end for
    </div>
#end def

#def affiliatedPersons($transaction, $ou)
    #set $all_affs = $transaction.get_person_affiliation_type_searcher().search()
    #set $all_sources = $transaction.get_ou_perspective_type_searcher().search()
    #set $sources = [('All','All')]
    #for $source in $all_sources
        $sources.append(($source.get_name(),$source.get_name()))
    #end for
    #set $affiliations = [('All','All')]
    #for $aff in $all_affs
        $affiliations.append(($aff.get_name(),$aff.get_name()))
    #end for
    ## <div class="edit box" style="display:none;">
    <div class="edit box">
        <h3 id="search">$_('Search affiliated persons')</h3>
        <form action="/ou/perform_search" method="post">
            <div class="hidden">
                <input type="hidden" name="id" value="$ou.get_id()" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("source", "Perspective", $sources)
            </div>
            <div class="required">
                $form_widgets.generate_loption("affiliation", "Affiliation", $affiliations)
            </div>
            <div class="required">
                <label for="recursive">Recursive search:</label>
                <input type="checkbox" name="recursive" />
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Search')" />
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def
