## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#from lib.utils import object_link
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()


#def view($person)
#set $affils = $person.get_affiliations()
#if $affils
<div class="info box">
    <h3>$_('Affiliations')</h3>
    #for $affil in $person.get_affiliations()
    #set $ou = $affil.get_ou()
    #set $affil_type = $affil.get_affiliation()
    #set $status = $affil.get_status()
    #set $marked = $affil.marked_for_deletion()
    <div class="item">
        #if not $marked
        <div class="actions">
            #set $args = "id=%s&ou=%s&affil=%s&ss=%s" % (
                            $person.get_id(), $ou.get_id(),
                            $affil_type.get_name(),
                            $affil.get_source_system().get_name())
            <a class="action" href="remove_affil?$args">$_('delete')</a>
        </div>
        #end if
        <span class="name">$_('Affiliation'):</span> <span class="value"> $affil_type.get_name()</span>
        #if $affil.marked_for_deletion()
            &nbsp;<font color="red">($_('Marked for deletion'))</font>
        #else
        #end if
        <br />
        <span class="name">$_('Status'):</span> <span class="value"> $status.get_name() ($status.get_description())</span>
        <br />
        <span class="name">$_('OU'):</span> <span class="value"> $object_link($ou)</span>
        #set $description = $affil.get_description()
        #if $description
        <br />
        <span class="name">$_('Description'):</span> <span class="value"> $description</span>
        #end if
    </div>
    #end for
</div>
#end if
#end def

#def add($person, $tr)
<div class="form box" id="affil_form" style="display:none;">
<a class="anchor" id="affil"></a>
<form action="add_affil" method="post">
    <h3>$_('Add an affiliation')</h3>
    <input type="hidden" name="id" value="$person.get_id()" />
    #set $searcher = $tr.get_person_affiliation_status_searcher()
    #set $status = [($i.get_id(), "%s: %s" % ($i.get_affiliation().get_name(), $i.get_name()))
                        for $i in $searcher.search()]
    #set $ous = $tr.get_ou_searcher().search()
    #set $ous = [($i.get_id(), $i.get_name()) for $i in $ous]
    $form_widgets.generate_loption("status", "Affiliation", $status)
    $form_widgets.generate_loption("ou", "Organization Unit", $ous)
    $form_widgets.input("description", "Description")
    <input type="submit" value="$_('Add')" />&nbsp;
    <input type="button" value="$_('Cancel')" id="affil_cancel" />
</form>
</div>
#end def

