## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($person)
#set $names = $person.get_names()
#if $names
<div class="info box">
    <h3>$_('Names')</h3>
    #for $name in $names
    #set $ss = $name.get_source_system()
    #if not $ss.get_name() == 'Cached'
    <div class="item">
        #set $name_variant = $name.get_name_variant()
        #set $ss_name = $ss and $ss.get_name() or ''
        <div class="actions">
            #set $delete = 'remove_name?id=%i&variant=%s&ss=%s' % (
                 $person.get_id(), $name_variant.get_name(), $ss_name)
            <a class="action" href="$delete">$_('delete')</a>
        </div>
        <span class="name">$name_variant.get_description():</span>
        <span class="value">$name.get_name()</span>
        #if $ss
        <br />
        <span class="name">$_("Source system"):</span>
        <span class="value">$ss.get_name() ($ss.get_description())</span>
        #end if
    </div>
    #end if
#end for
</div>
#end if
#end def

#def set($person, $transaction)
<div class="form box" id="name_form" style="display:none;">
<a class="anchor" name="name" />
<form action="add_name" method="POST">
    #set $name_types = $transaction.get_name_type_searcher().search()
    #set $name_types = [(i.get_name(), i.get_description()) for i in $name_types]
    <h3>$_('Set a name')</h3>
    <input type="hidden" name="id" value="$person.get_id()" />
    $form_widgets.input("name", "Name")
    $form_widgets.generate_loption("name_type", "Name type", $name_types)
    <input type="submit" value="$_('Set name')" />
    <input type="button" value="$_('Cancel')" id="name_cancel" />
</form>
</div>
#end def

