## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}
#attr $help = ["* Date of birth: YYYY-MM-DD"]

## Url to go to when the form for creating the person is submittet.
#def getAction
    #return '/person/make'
#end def

## The main method for creating the form for the person create page.
#def form($genders)
#set $fv = $formvalues
<div class="view">
    <h3>$_('Create a new person:')</h3>
    <form action="$getAction()" method="post">
        <div class="required">
            $form_widgets.input("firstname", "First name", $fv.get("name", ""))
        </div>
        <div class="required">
            $form_widgets.input("lastname", "Last name", $fv.get("name", ""))
        </div>
        <div class="required">
            $form_widgets.generate_loption("gender", "Gender", $genders, $fv.get("gender", ""))
        </div>
        <div class="required">
            $form_widgets.input("birthdate", "Birthdate *", $fv.get("birthdate", ""))
        </div>
        <div class="required">
            $form_widgets.input("description", "Description", $fv.get("description", ""), cssclass="optional")
        </div>
            $form_widgets.showHelp($help)
        <div class="buttons">
            <input type="submit" value="$_('Create')" />
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def

