## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link, strftime
#from lib.WorkList import remember_link
#from PersonNameTemplate import PersonNameTemplate
#from PersonAffiliationTemplate import PersonAffiliationTemplate
#from GroupViewTemplate import GroupViewTemplate
#from Widgets import Widgets
#extends EntityViewTemplate

#attr $widgets = Widgets()
#attr $listGroups = GroupViewTemplate().listGroups
#attr $name_template = PersonNameTemplate()
#attr $affilation_template = PersonAffiliationTemplate()

#def viewActions($transaction, $person)
    #set $id = $person.get_id()

    <a href="edit?id=$id">$_("edit info")</a><br />
    <a href="delete?id=$id">$_("delete person")</a><br />
    <a href="/quarantine/add?entity=$id">$_('add quarantine')</a><br />
    <a href="/account/create?owner=$id">$_('create new account')</a><br />
    <a href="/entity/full_historylog?id=$id">$_('view full history log')</a>
    <br />
    $remember_link($person)<br />
#end def

## Page for viewing information about a person.
#def viewContent($transaction, $person)
    $viewInfo($person)
    $viewQuarantines($person)
    $addNote($person)
    $viewNotes($person)
    $affilation_template.add($person, $transaction)
    $affilation_template.view($person)
    $name_template.set($person, $transaction)
    $name_template.view($person)
    $setExternalId($person, $transaction)
    $viewExternalIds($person)
    $viewAccounts($person)
    $viewHistoryLog($person)
#end def

#def viewInfo($person)
    #set $info = []
    #set $notice = []
    #if $person.get_deceased_date()
        $notice.append($_("Deceased"))
        $info.append(($_("Deceased date"), $strftime($person.get_deceased_date())))
    #end if
    $info.append(($_("Gender"), $person.get_gender().get_description()))
    $info.append(($_("Date of birth"), $strftime($person.get_birth_date())))
    $info.append(($_("Description"), $person.get_description()))
    $widgets.viewInfo($info, $notice)
#end def

## List accounts and groups the accounts are member of.
#def viewAccounts($person)
#set $allaccounts = $person.get_accounts()
#set $primary = $person.get_primary_account()
#if $primary
    #set $primary = $primary.get_name()
#end if
#set $person_id = $person.get_id()

<div class="list box">
    <h3>$_('Accounts & Groups')</h3>
    <form action="accounts" method="post">
        <input type="hidden" value="$person_id" name="owner" />
        #for $account in $allaccounts
        #set $account_id = $account.get_id()
        #set $account_name = $account.get_name()
        <div>
            <input type="checkbox" name="account_$account_id" />
            <em>$_('Account'):</em> $_($account_name)
            $object_link($account, "view", _class="action")
            $object_link($account, "edit", "edit", _class="action")
            $remember_link($account, _class="action")
            #if $account_name == $primary
                <span class="extra">(primary)</span>
            #end if
            #if $account.is_posix()
                <span class="extra">(posix)</span>
            #end if
            #if $account.get_expire_date()
                <span class="extra">(expired)</span>
            #end if
        </div>
        $listGroups($account)
        #end for
        
        #if $allaccounts
        <input type="submit" value="$_('Delete')" name="delete" />&nbsp;
        #end if
        <input type="submit" value="$_('Add new account')" name="add" />&nbsp;
    </form>
</div>
#end def

