## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.utils import url
#from AccountViewTemplate import AccountViewTemplate
#from PersonNameViewTemplate import PersonNameViewTemplate
#from PersonNameAddTemplate import PersonNameAddTemplate
#from PersonExternalIdTemplate import PersonExternalIdTemplate
#from PersonExternalIdAddTemplate import PersonExternalIdAddTemplate
#extends EntityViewTemplate

## Overloaded by other pages to get the right url, used in personNames().
#attr $page_url = "person/view"

## Main method for creating the person view page.
#def viewPerson($req, $person, $addName)
<div class="person">
    $personInfo($person)
    $personNames($person, $req, $addName)
    $externalIds($person, $req)
    $personAccounts($person, $req)
</div>
$view_entity($person, $req)
#end def

## View information about person, like birthdate and gender.
#def personInfo($person)
<div class="viewinfo">
    <div class="subtitle">
        <h3>$_("General personinfo"):</h3>
    </div>
    <div>
    #if $person.get_deceased()
        <div class="info">
            <strong class="deceased">$_("Person is deceased")</strong>
        </div>
    #end if
        <div class="info">
            <em>$_("Gender"):</em> $person.get_gender().get_description()
        </div>
        #set $dob = $person.get_birth_date().strftime("%Y-%m-%d")
        <div class="info"><em>$_("Date of birth"):</em> $dob</div>
        <div class="info"><em>$_("Description"):</em> $person.get_description()</div>
        <div class="info"><em>$_("Affilitations"):</em> none!</div>
    </div>
    <div class="actions">
        #set $edit = $url("person/edit?id=%s" % $person.get_id())
        #set $delete = $url("person/delete?id=%s" % $person.get_id())
        #set $remember = $url("person/remember?id=%s" % $person.get_id())
        <a href="$edit">$_("edit person")</a>
        <a href="$delete">$_("delete person")</a>
        <a href="$remember">$_("remember")</a>
    </div>
</div>
#end def

## List names for this person, and form for adding a name.
#def personNames($person, $req, $addName)
<div class="personnames">
    <a name="names" />
    #set $v = PersonNameViewTemplate()
    #set $a = PersonNameAddTemplate()
    $v.personNames($person)
    #if $addName == "True" or $addName == True
        $a.addForm($person, $req)
    #else
    #set $tmp_url = "%s?id=%i&addName=True#names" % ($page_url, $person.get_id())
    <div class="actions">
        <a href="$url(tmp_url)">$_("add a name")</a>
    </div>
    #end if
</div>
#end def

## List external ids for this person, and form for adding more.
#def externalIds($person, $req)
<div class="personnames">
    <a name="external ids" />
    #set $v = PersonExternalIdTemplate()
    #set $a = PersonExternalIdAddTemplate()
    $v.externalIds($person)
    $a.addForm($person, $req)
</div>
#end def

## List accounts and groups those accounts belong to.
#def personAccounts($person, $req)
#set $allaccounts = $person.get_accounts()
#if 1
    #set $t = $AccountViewTemplate()
    #set $primary = $person.get_primary_account()
    #if $primary
        #set $primary = $primary.get_name()
    #end if
    #set $person_id = $person.get_id()
    <div class="personaccounts">
        <div class="subtitle">
            <h3>$_("Accounts & Groups:")</h3>
        </div>
        <form action="$url('person/accounts')" type="post">
            #for $account in $allaccounts
                #set $account_id = $account.get_id()
                #set $account_name = $account.get_name()
            <div class="personaccount">
                <input type="checkbox" name="account_$account_id" />
                <em>$_('Account'):</em> $_($account_name)
                #set $view = $url("account/view?id=%i" % $account_id)
                #set $edit = $url("account/edit?id=%i" % $account_id)
                <a href="$view" class="actions">$_("view")</a>
                <a href="$edit" class="actions">$_("edit")</a>
                #if $account_name == $primary
                    (primary)
                #end if
            </div>
            #for $group in $account.get_groups()
            <div class="persongroup">
                #set $group_id = $group.get_id()
                #set $group_name = $group.get_name()
                <input type="checkbox" name="group_$group_id" />
                <em>$_('Group'):</em> $_($group_name)
                #set $view = $url("group/view?id=%i" % $group_id)
                #set $edit = $url("group/edit?id=%i" % $group_id)
                #set $leave = $url("person/leavegroup?id=%i&group=%i" % \
                                ($person_id, $group_id))
                <a href="$view" class="actions">$_("view")</a>
                <a href="$edit" class="actions">$_("edit")</a>
                <a href="$leave" class="actions">$_("leave group")</a>
            </div>
            #end for
            #end for
            <div>
                ##<center>
                #if $allaccounts
                    <input type="submit" value="$_('Delete')" name="delete" />
                    <input type="submit" value="$_('Remember')" name="remember" />
                #end if
                    <input type="hidden" value=$person_id name="owner" />
                    <input type="submit" value="$_('Add new account')" name="add" />
                ##</center>
            </div>
        </form>
    </div>
#end if
#end def
