## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends SearchTemplate
#from Cereweb.utils import url

#attr $fields = [("fullname", "Full name"),
                 ("firstname", "First name"),
                 ("lastname", "Last name"),
                 ("accountname", "Account name"),
                 ("birthdate", "Date of birth *")]

#attr $help = ["* Date of birth: (YYYY-MM-DD), exact match",
               "A person may have several types of names, and therefor a search for a name will only be testet on that specific type of name."]

#def getAction
$url("person/search")#slurp
#end def 

