## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## Lines with info about the form, used with the function showHelp().
#attr $help = ["* Birthdate: YYYY-MM-DD",
               "* Deceased date: YYYY-MM-DD"]

## Creates the content on the person edit page.
#def editPerson($person, $genders)
<div class="person">
    $form($person, $genders)
</div>
#end def

## Action to go to when the form is submitted.
#def getAction
    #return '/person/save'
#end def

## Creates the form for editing the main person info.
#def form($person, $genders)
<div class="edit">
    <form action="$getAction()" method="POST">
        <div class="editform">
            $form_widgets.generate_loption("gender",  "Gender",
                       $genders, $person.get_gender().get_name())
            #set $date = $person.get_birth_date().strftime("%Y-%m-%d")
            $form_widgets.input("birthdate", "Birthdate *", $date)
            $form_widgets.input("description", "Description", $person.get_description())
            #set $deceased = $person.get_deceased_date()
            #set $deceased = $deceased and $deceased.strftime("%Y-%m-%d") or ""
            $form_widgets.input("deceased", "Deceased date *", $deceased)
            <input type="hidden" name="id" value="$person.get_id()" />
        </div>
        $form_widgets.showHelp($help)
        <div>
            <center>
                <input type="submit" value="$_('Save')" name="submit" />&nbsp;
                <input type="submit" value="$_('Cancel')" name="submit" />
            </center>
        </div>
    </form>
</div>
#end def

