## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url, object_link
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## List affils for this person, and form for adding an affil.
#def view($person, $transaction, $addAffil, $page)
<div class="personnames">
    <a name="affils" />
    <h2>$_("Affiliations"):</h2>
    $personAffiliations($person)
    #if $addAffil == "True" or $addAffil == True
        $addForm($person, $transaction, $page)
    #else
    #set $tmp_url = "%s?id=%i&addAffil=True" % ($page, $person.get_id())
    <div class="actions">
        <a href="$url(tmp_url)#affils">$_("add an affiliation")</a>
    </div>
    #end if
</div>
#end def

## List affiliations person has with OUs.
#def personAffiliations($person)
#for $affil in $person.get_affiliations()
    #set $ou = $affil.get_ou()
    #set $affil_type = $affil.get_affiliation()
    #set $status = $affil.get_status()
    <div class="name">
        <em>Affiliation:</em> $affil_type.get_name()
        #if $affil.marked_for_deletion()
            &nbsp;<font color="red">(Marked for deletion)</font>
        #else
            #set $args = "id=%s&ou=%s&affil=%s&ss=%s" % (
                            $person.get_id(), $ou.get_id(),
                            $affil_type.get_name(),
                            $affil.get_source_system().get_name())
            #set $remove = $url("person/remove_affil?%s" % $args)
            <a href="$remove" class="actions">$_("remove")</a>
        #end if
        <br />
        <em>Status:</em> $status.get_name() ($status.get_description())
        <br />
        <em>OU:</em> $object_link($ou)
        #set $description = $affil.get_description()
        #if $description
            <br />
            <em>Description:</em> $description
        #end if
    </div>
#end for
#end def

## Creates a form for adding a affiliation to a person.
#def addForm($entity, $tr, $page)
<form action="$url('person/add_affil')" type="post">
    <h2>$_("Add an affiliation")</h2>
    <input type="hidden" name="id" value="$entity.get_id()" />
    #set $searcher = $tr.get_person_affiliation_status_type_searcher()
    #set $status = []
    #for $i in $searcher.search()
        #set $affil = $i.get_affiliation().get_name()
        $status.append(($i.get_name(), "%s - %s" % ($affil, $i.get_name())))
    #end for
    #set $ous = $tr.get_ou_searcher().search()
    #set $ous = [(i.get_id(), i.get_name()) for i in $ous]
    $form_widgets.generate_loption("status", "Affiliation", $status)
    $form_widgets.generate_loption("ou", "Organization Unit", $ous)
    $form_widgets.input("description", "Description")
    <div class="actions">
        <input type="submit" value="$_('Add')" />
        #set $tmp_url = "%s?id=%s#affils" % ($page, $entity.get_id())
        <a href="$url($tmp_url)">$_("Cancel")</a>
    </div>
</form>
#end def


