## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link, strftime
#from lib.WorkList import remember_link
#from PersonNameTemplate import PersonNameTemplate
#from PersonAffiliationTemplate import PersonAffiliationTemplate
#from GroupViewTemplate import GroupViewTemplate
#extends EntityViewTemplate

#attr $listGroups = GroupViewTemplate().listGroups
#attr $name_template = PersonNameTemplate()
#attr $affilation_template = PersonAffiliationTemplate()

## Page for viewing information about a person.
#def view($transaction, $person)
#set $id = $person.get_id()
<div class="view_content">

    ## Actions
    <div class="view_actions">
        <h4>$_('Actions')</h4>
        <div class="actions">
            <a href="edit?id=$id">$_("edit info")</a><br />
            <a href="delete?id=$id">$_("delete person")</a><br />
            <a href="#name" id="name_set">$_('set name')</a><br />
            <a href="#affil" id="affil_add">$_('add affilation')</a><br />
            <a href="#extid" id="extid_set">$_('set external id')</a><br />
            <a href="#note" id="note_add">$_('add note')</a><br />
            <a href="/quarantine/add?entity=$id">$_('add quarantine')</a><br />
            <a href="/account/create?owner=$id">$_('create new account')</a><br />
            <a href="/entity/full_historylog?id=$id">$_('view full history log')</a>
            <br />
            $remember_link($person)<br />
        </div>
    </div>

    ## Content
    $viewInfo($person)
    $viewQuarantines($person)
    $addNote($person)
    $viewNotes($person)
    $affilation_template.add($person, $transaction)
    $affilation_template.view($person)
    $name_template.set($person, $transaction)
    $name_template.view($person)
    $setExternalId($person, $transaction)
    $viewExternalIds($person)
    $viewAccounts($person)
    $viewHistoryLog($person)
    
    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('name_form', 'name_set', null, 'name_cancel');
        FV_register('affil_form', 'affil_add', null, 'affil_cancel');
        FV_register('note_form', 'note_add', null, 'note_cancel');
        FV_register('extid_form', 'extid_set', null, 'extid_cancel');
        //-->
    </script>
</div>
#end def

#def viewInfo($person)
<div class="view_info box">
    #if $person.get_deceased_date()
    <div class="item">
        <span class="deceased">$_("Person is deceased")</span>
    </div>
    <div class="item">
        <em>$_("Deceased date"):</em> $strftime($person.get_deceased_date())
    </div>
    #end if
    <div class="item">
        <em>$_("Gender"):</em> $person.get_gender().get_description()
    </div>
    <div class="item">
        <em>$_("Date of birth"):</em> $strftime($person.get_birth_date())
    </div>
    <div class="item">
        <em>$_("Description"):</em> $person.get_description()
    </div>
</div>
#end def

## List accounts and groups the accounts are member of.
#def viewAccounts($person)

#set $allaccounts = $person.get_accounts()
#set $primary = $person.get_primary_account()
#if $primary
    #set $primary = $primary.get_name()
#end if
#set $person_id = $person.get_id()
<div class="list box">
    <h3>$_('Accounts & Groups')</h3>
    <form action="accounts" method="POST">
        <input type="hidden" value="$person_id" name="owner" />
        #for $account in $allaccounts
        #set $account_id = $account.get_id()
        #set $account_name = $account.get_name()
        <div>
            <input type="checkbox" name="account_$account_id" />
            <em>$_('Account'):</em> $_($account_name)
            $object_link($account, "view", _class="action")
            $object_link($account, "edit", "edit", _class="action")
            $remember_link($account, _class="action")
            #if $account_name == $primary
                <span class="extra">(primary)</span>
            #end if
            #if $account.is_posix()
                <span class="extra">(posix)</span>
            #end if
            #if $account.get_expire_date()
                <span class="extra">(expired)</span>
            #end if
        </div>
        $listGroups($account)
        #end for
        
        #if $allaccounts
        <input type="submit" value="$_('Delete')" name="delete" />&nbsp;
        #end if
        <input type="submit" value="$_('Add new account')" name="add" />&nbsp;
    </form>
</div>
#end def

