## Copyright 2004-2006 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import object_link, remember_link
#extends EntityViewTemplate

#from FormWidgets import FormWidgets
#from Widgets import Widgets
#attr $form_widgets = FormWidgets()
#attr $widgets = Widgets()
#attr $formvalues = {}

#def actions()
    <a href="edit?id=$entity_id">$_("edit info")</a><br />
    <a href="delete?id=$entity_id">$_("delete project")</a><br />
    <a href="/entity/full_historylog?id=$entity_id">$_('view full history log')</a>
    <br />
    $remember_link($entity)<br />
#end def

## Main method for creating the project view page.
#def content()
    $viewInfo($entity)
    ##$addNote($entity)
    ##$viewNotes($entity)
    $addAllocationName($entity, $tr)
    $viewAllocations($entity)
    $viewHistoryLog($entity)
#end def

## View information about host (name and description).
#def viewInfo($project)
    #set $info = []
    $info.append(($_("Title"), $project.get_title()))
    $info.append(($_("Description"), $project.get_description()))
    $info.append(($_("Owner"), $object_link($project.get_owner())))
    $info.append(($_("Science"), $project.get_science().get_description()))
    $widgets.viewInfo($info)
#end def

#def viewAllocations($project)

#set $allallocationnames = $project.get_allocation_names()
#set $project_id = $project.get_id()
<div class="list box">
    <h3>$_('Allocation Names')</h3>
    <ul>
    #for $allocationname in $allallocationnames
	#set aname = $allocationname.get_name()
	#set delete_aname = "remove_allocation_name?id=%i&amp;allocation_name=%s" % ( $project_id, $aname )
	#set create_allocation = "/allocation/create?project=%i&amp;allocation_name=%s" % ( $project_id, $aname )
       <li> $aname
            <a href="$delete_aname">[Delete]</a>
            <a href="$create_allocation">[create allocation]</a>
       <ul>
	#for allocation in $allocationname.get_allocations()
	  <li>$allocation.get_period().get_name()
          $allocation.get_status().get_name()
             ( 
             #for machine in $allocation.get_machines()
                $object_link($machine)
             #end for
             )
          </li>
	#end for
       </ul>
       </li>
    #end for
    </ul>
</div>
#end def

#def addAllocationName($project, $transaction)
    #set $fv = $formvalues
    #set $searcher = $transaction.get_allocation_authority_searcher()
    #set $authorities = [($type.get_name(), $type.get_name()) 
                            for $type in $searcher.search()]

    <div class="edit box">
        <form action="/project/add_allocation_name" method="post">
            <h3>$_('Add allocation name')</h3>
            <div class="hidden">
                <input type="hidden" name="id" value="$project.get_id()"/>
            </div>
            <div class="required">
                $form_widgets.input("allocation_name", "Allocation Name")
            </div>
            <div class="required">
            $form_widgets.generate_loption("authority", "Allocation Authority",
                                    $authorities, $fv.get("authority", "notur"))
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Add')" />&nbsp;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def
