## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import strftime, object_link
#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $formvalues = {}


#def view($entity)
#set $quarantines = $entity.get_quarantines()
#if $quarantines
#set $id = $entity.get_id()
<div class="important box">
    <h3>$_('Quarantines')</h3>
    #for $q in $quarantines
    <div class="item">
        #set $type = $q.get_type().get_name()
        #set $edit = '/quarantine/edit?entity=%s&amp;type=%s' % ($id, $type)
        #set $remove = '/quarantine/remove?entity=%s&amp;type=%s' % ($id, $type)
        #set $description = $q.get_description().replace('\n', '<br />')
                
        <div class="actions">
            <a class="action" href="$edit">$_('edit')</a>
            <a class="action" href="$remove">$_('delete')</a>
        </div>
        <strong>$q.get_type().get_description()</strong>&nbsp;
        <em>-$_('by')</em> $object_link($q.get_creator())&nbsp;
        <span class="date">$strftime($q.get_create_date())</span>
        <div class="description">$description.strip()</div>
        
        #set $end = $q.get_end_date()
        #set $until = $q.get_disable_until()
        
        <em>$_('Start'):</em>
        <span class="date"> $strftime($q.get_start_date())</span>
        #if $end
        <em> $_('End'):</em>
        <span class="date"> $strftime($end)</span>
        #end if
        #if $until
        <em> $_('Disable until'):</em>
        <span class="date"> $strftime($until)</span>
        #end if
    </div>
    #end for
</div>
#end if
#end def


#def quarantine_form($entity, $action, $types = None)
<div class="quarantine box">
<form action="$action" method="POST">
    #set $why = $formvalues.get('why')
    #set $type = $formvalues.get('type')
    #set $start = $formvalues.get('start')
    #set $end = $formvalues.get('end')
    #set $disable_until = $formvalues.get('disable_until')
    <table cellpadding="3" linespacing="3">
        <tr>
            <th align="right">$_('Quarantine type'):</th>
            <td colspan="2">
            #if $types:
                $form_widgets.generate_option("type", $types, $type)
            #else:
                $type
                <input type=hidden name="type" value="$type" />
            #end if
            </td>
        </tr>
        <tr>
            <th align="right" valign="top">$_('Description'):</th>
            <td colspan="2">
                <textarea name="why" rows="5" cols="40">$why</textarea>
            </td>
        </tr>
        <tr>
            <th align="right">$_('Start date'):</th>
            <td>
                <input type="text" name="start" value="$start" size="10" />
            </td>
            <td><i>(Format: yyyy-mm-dd)</i></td>
        </tr>
        <tr>
            <th align="right">$_('End date'):</th>
            <td>
                <input type="text" name="end" value="$end" size="10" />
            </td>
            <td><i>(Format: yyyy-mm-dd)</i></td>
        </tr>
        <tr>
            <th align="right">$_('Disable until'):</th>
            <td>
                <input type="text" name="disable_until" value="$disable_until" size="10" />
            </td>
            <td><i>(Format: yyyy-mm-dd)</i></td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                <input type="submit" value="$_('Save')" name="submit" />
                <input type="submit" value="$_('Cancel')" name="submit" />
            </td>
        </tr>
    </table>
    <input type=hidden name="entity" value="$entity.get_id()" />
</form>
</div>
#end def

