## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## fields should contain a list of tuples with (name, label)
#attr $fields = []

## help is a list with more lines to print, with help about the search
#attr $help = []

## Overloaded by search-pages like person search, should
## contain the url for where to go when the form is submittet.
#def getAction
    #return '/some/where'
#end def

## Overloaded by search-pages which needs search-fields which arent inputs.
## vargs is a dict with the values the user provided in the field in the
## last search.
#def getExtra($vargs)
#end def

## Creates the form for searching.
#def form($vargs=None)
#if $vargs == None
    #set $vargs = {}
#end if
<p>
<div class="search">
<table>
	<tr>
		<th>
			$_('Search for... ')
		</th>
	</tr>
	<tr>
		<td>
        	<div class="searchform">
    		<form action="$getAction()" method="POST" id="search_form">
			<table>
           		 #for $name, $label in $fields
				<tr>
                $form_widgets.td2input($name, $label, $vargs.get($name, None))
				</tr>
            	#end for
				<tr>
					<td colspan="2">
            				$getExtra($vargs)
        					<div class="help">
            					#for $line in $help
            						<div class="extra">
               	 						$_($line)
            						</div>
            					#end for
            					<div>
                					$_("Use wildcards * and ? to extend the search.")
            					</div>
            					<div>
                					$_("Supply several search parameters to limit the search.")
            					</div>
							</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
            			<center>
                			<input type="submit" value="$_('Search')" />&nbsp;
                			<input type="button" value="$_('Clear')" id="search_clear" />
            			</center>
					</td>
				</tr>
			</table>
			</form>
        	</div>
		</td>
	</tr>
</table>
</div>
</p>
#end def

