## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## fields should contain a list of tuples with (name, label)
#attr $fields = []

## help is a list with more lines to print, with help about the search
#attr $help = []

#attr $title = ''

## Overloaded by search-pages like person search, should
## contain the url for where to go when the form is submittet.
#def getAction
    #return '/some/where'
#end def

## Overloaded by search-pages which needs search-fields which arent inputs.
## vargs is a dict with the values the user provided in the field in the
## last search.
#def getExtra($vargs)
#end def

## Creates the form for searching.
#def form($vargs={})
$help.append($_("Use wildcards * and ? to extend the search."))
$help.append($_("Supply several search parameters to limit the search."))
#set $redirect = $vargs.get('redirect', None)
<div id="searchbox" class="view">
<h3>$_('Search for ' + $title + ':' )</h3>
    <form action="$getAction()" method="post" id="search_form">
        #if $redirect
            <div class="hidden">
                <input type="hidden" name="redirect" value="$redirect" />
            </div>
        #end if
        #for $name, $label in $fields
            <div class="required">
                $form_widgets.input($name, $label, $vargs.get($name, None))
            </div>
        #end for
        $getExtra($vargs)
        $showHelp($help)
        <div class="buttons">
            <input id="search_submit" type="submit" value="$_('Search')" />
            <input id="search_clear" type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def
