## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#import config
#from lib.Main import Main
#import cgi, urllib
#extends Main

#def viewDict($result)
#set $url_args = $result['url_args']

<div id="searchresult">
    <h3>$result['hits'] hits,
    #if $result['is_paginated']
        showing $result['first_on_page'] - $result['last_on_page']
    #else
        showing all
    #end if
    </h3>
    <table>
        <thead><tr>
            #for $header in $result['headers']
                <th>$header</th>
            #end for
        </tr></thead>
        <tbody>
            #for $row in $result['rows']
                <tr>
                    #for $item in $row
                        <td>$item</td>
                    #end for
                </tr>
            #end for
        </tbody>
    </table>
    #if $result['is_paginated']
        $range_menu_dict($result)
    #end if
</div>
#end def

#def range_menu_dict($result)
<div class="search_range">
    #set $args = $result['url_args'].copy()
    #set $start = $result['page'] - 5
    #if $start <= 1
        #set $start = 1
    #end if
    
    #if $result['has_previous']
        #set $args['offset'] = $result['previous_offset']
        <a href="$result['url']?$urllib.urlencode($args)">$_("Previous")</a>
    #end if
    
    #for $page in $range($start, $start + 10, 1)
        #set $first = (1 + ($page - 1) * $result['results_per_page'])
        #if $first > $result['hits']
            #break
        #end if
        #set $last = $page * $result['results_per_page']
        #if $last > $result['hits']
            #set $last = $result['hits']
        #end if

        #if $page == $result['page']
            <span>$page</span>
        #else
            #set $args['offset'] = ($first - 1)
            <a title="Results $first - $last" href="$result['url']?$urllib.urlencode($args)">$page</a>
        #end if
    #end for
    
    #if $result['has_next']
        #set $args['offset'] = $result['next_offset']
        <a href="$result['url']?$urllib.urlencode($args)">$_("Next")</a>
    #end if
</div>
#end def
