## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate

## fields should contain a list of tuples with (name, label)
#attr $fields = []

## formvalues should include the values for the names in field (otpional)
#attr $formvalues = {}

## help is a list with more lines to print, with help about the search
#attr $help = []

## Overloaded by search-pages like person search, should
## contain the url for where to go when the form is submittet.
#def getAction
/some/where#slurp
#end def

## Creates html-code for each inputfield.
#def input($name, $label)
    #set $value = $formvalues.get($name, "")
    <label for='$name'>$_($label):</label>
    <input type='text' name='$name' id='$name' value='$value' /><br />
#end def

## Creates the form for searching.
#def form
<div class="search">
    <form action="$getAction()" method="POST">
        <div class="searchform">
            #for $name, $label in $fields
                $input($name, $label)
            #end for
        </div>
        <div class="help">
            #for $line in $help
            <div class="extra">
                $_($line)
            </div>
            #end for
            <div>
                $_("Use wildcards * and ? to extend the search.")
            </div>
            <div>
                $_("Supply several search parameters to limit the search.")
            </div>
        </div>
        <div>
            <center>
                <input type="submit" value="$_('Search')" />&nbsp;
                <input type="reset" value="$_('Clear')" />
            </center>
        </div>
    </form>
</div>
#end def

