## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#def view($entity)
#set $spreads = $entity.get_spreads()
#if $spreads
#set $id = $entity.get_id()
<div class="info box">
    <h3>$_('Spreads')</h3>
    #for $spread in $spreads
    #set $name = $spread.get_name()
    #set $delete = '/entity/remove_spread?id=%s&amp;spread=%s' % ($id, $name)
    <div class="item">
        <div class="actions">
            <a class="action" href="$delete">$_('remove')</a>
        </div>
        <span class="name">$name</span> -
        <span class="value">$spread.get_description()</span>
    </div>
    #end for
</div>
#end if
#end def

#def add($entity, $transaction)
    #set $type = $entity.get_type()
    #set $cspreads = $entity.get_spreads()
    #set $search = $transaction.get_spread_searcher().search()
    #set $spreads = [($s.get_name(), $s.get_name()) for $s in $search 
                     if $type == $s.get_entity_type() and $s not in $cspreads]

    <div class="edit box optional" style="display:none;">
        <h3>$_('Add a spread')</h3>
        <form action="/entity/add_spread" method="post">
            <div class="hidden">
                <input type="hidden" name="id" value="$entity.get_id()" />
            </div>
            <div class="required">
                $form_widgets.generate_loption("spread", "Spread", $spreads, $id="add_spread")
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Add')" />&nbsp;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def
