## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#from Cereweb.utils import url
#extends InitTemplate

#attr $formvalues = {}

## Returns the transactions-list from the session.
#def get_transactions($req)
   #return $req.session.get("transactions", [])
#end def

## Returns the active transaction from the session.
#def get_active($req)
   #return $req.session.get("active", None)
#end def

## Method for making the transactions/index page.
#def index($req)
    $listTransactions($req)
    $createTransaction()
#end def

## List all transactions.
#def listTransactions($req)
<div class="list">
    <div class="subtitle">
        <h3>$_("Active transaction(s):")</h3>
    </div>
    #set $active = $get_active($req)
    #for $transaction in $get_transactions($req)
        <div class="transaction">
            #set $view = $url("transactions/view?id=%i" % $transaction.get_id())
            #set $edit = $url("transactions/edit?id=%i" % $transaction.get_id())
            #set $history = $url("transactions/history?id=%i" % $transaction.get_id())
            <a href="$view">$transaction.get_name()</a>&nbsp;
            $transaction.get_description()
            <a href="$view" class="actions">$_("view")</a>&nbsp;
            <a href="$edit" class="actions">$_("edit")</a>&nbsp;
            <a href="$history" class="actions">$_("history")</a>
        </div>
    #end for
</div>
#end def

## Form for creating a new transaction.
#def createTransaction
<div class="create">
    <div class="subtitle">
        <h3>$_("Create a new transaction"):</h3>
    </div>
    <form action="$url('transactions/new')" method="POST">
        <div class="createform">
            #set $name = $formvalues.get("name", "")
            #set $desc = $formvalues.get("desc", "")
            <label for="name">$_('Name'):</label>
            <input type="text" name="name" value="$name" />
            <br />
            <label for="desc">$_('Description'):</label>
            <textarea rows="3" cols="40" name="desc">$desc</textarea>
            <br />
        </div>
        <div>
            <center>
                <input type="submit" value="$_('New')" />&nbsp;
                <input type="reset" value="$_('Clear')" />
            </center>
        </div>
    </form>
</div>
#end def

## Method for making the transactions/view page.
#def view($req, $transaction)
<div class="viewinfo">
    <div class="subtitle">
        <h3>$_("General transactioninfo"):</h3>
    </div>
    <div>
        <div class="info">
            <em>Name:</em> $transaction.get_name()
        </div>
        <div class="info">
            <em>Description:</em> $transaction.get_description()
        </div>
        <div class="info">
            <em>Started:</em> $transaction.get_time_started()
        </div>
    </div>
    <div class="subtitle">
        <h3>$_("Objectlist"):</h3>
    </div>
    <div>
    not implementet yet!
    </div>
</div>
#end def

## Method for making the transactions/edit page.
#def edit($req, $transaction)
<div class="edit">
    <div class="subtitle">
        <h3>$_('General transactioninfo'):</h3>
    </div>
    <form action="$url('transactions/save')" method="POST">
        <div class="editform">
            <label for="name">$_('Name'):</label>
            <input type="text" name="name" value="$transaction.get_name()" />
            <br />
            <label for="desc">$_('Description'):</label>
            #set $desc = $transaction.get_description()
            <textarea rows="3" cols="40" name="desc">$desc</textarea>
            <input type="hidden" name="id" value="$transaction.get_id()" />
            <br />
        </div>
        <div>
            <center>
                <input type="submit" name="save" value="Save" />&nbsp;
                <input type="submit" name="commit" value="Commit" />&nbsp;
                <input type="submit" name="rollback" value="Rollback" />
            </center>
        </div>
    </form>
</div>
$listTransactions($req)
#end def

## Method for making the transactions/history page.
#def history($req, $transaction)
show a full history for this transaction: $transaction.get_name()
#end def

## Main method for creating the box with transactions in the left corner.
#def smallbox($req)
#set $active = $get_active($req)
<span class="transbox">
    <h2>$_("Transactions"):</h2>
    <div class="header">
    #if $active
        #set $view = $url("transactions/view?id=%i" % $active.get_id())
        <strong><a href="$view" class="actions">$active.get_name()</a></strong>
        <br />
    #else
        <strong>$_("No active transactions!")</strong>
    #end if
    </div>
    <form action="$url('transactions/select')" method="POST">
        <div class="select">
            <center>
                <select name="transaction">
                #if $active
                    <option value="$active.get_id()">$active.get_name()</option>
                #end if
                #for $tran in $get_transactions($req)
                    #if $tran != $active
                    <option value="$tran.get_id()">$tran.get_name()</option>
                    #end if
                #end for
                </select>
            </center>
        </div>
        <div>
            <center>
                <input type="submit" name="submit" value="Select" />&nbsp;
                <input type="submit" name="submit" value="New" />
            <center>
        </div>
        <div class="commmit">
            <center>
                <input type="submit" name="submit" value="Commit" />&nbsp;
                <input type="submit" name="submit" value="Rollback" />
            </center>
        </div>
    </form>
</span>
#end def

