## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from FramesTemplate import FramesTemplate
#from FormWidgets import FormWidgets
#from lib.UserMenu import UserMenu
#extends FramesTemplate

#attr $form_widgets = FormWidgets()

#def menu
#set self.menu = $UserMenu()
#return self.menu
#end def

#def setFocus($string)
    $self.menu.setFocus($string)
#end def

## This tells us not to load the worklist.js 
#attr $wl = 0
## The following hack removes the bottom div (and the worklist)
#def bottom
#end def

## Show nice businessCard-like info about person/account
#def viewInfo($account)
## <b>Your information:</b>
<p>
<div class="view_info">
	<table border="0" width="100%">
		<tr>
			<th colspan="2">
				<div class="tableheader">
					Your information:
				</div>
			</th>
		</tr>
		<tr>
			<td>
				<div class="td_lead_info">
        			$_('Name'):
				</div>
			</td>
			<td>
				<div class="info">
					$account['username']
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="td_lead_info">
        			$_('Owned by'):
				</div>
			</td>
			<td>
				<div class="info">
					$account['fullname']
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="td_lead_info">
        			$_('Birthdate'):
				</div>
			</td>
			<td>
				<div class="info">
					#if $account['birthdate']:
						$account['birthdate']
					#else:
						&nbsp;
					#end if
				</div>
			</td>	
		</tr>
    #if $account['quarantined'] == 1
		<tr>
			<td colspan="2">
				<div class="info">
        			<em>This account has been set a quarantine.</em> 
				</div>
		</td>
		</tr>
    #end if
		<tr>
			<td>
    			## <div class="external_id">
				<div class="td_lead_info">
        			$_('Expire date'):
					</div>
    			## </div>
			</td>
			<td>
				## <div class="external_id">
				<div class="info">
					#if $account['expire_date']:
						$account['expire_date']
					#else:
						&nbsp;
					#end if
				</div>
				## </div>

			</td>
		</tr>

    ## If external_id is populated, we have a list with dicts to play with
    #for $extid in $account['external_id']
      #if $extid['extid_type'] == "NO_BIRTHNO"
        <tr>
        	<td>
				<div class="td_lead_info">
					$_($extid['extid_type_description']+":")
				</div>
        </td>
			<td>
				<div class="info">
                    $_($extid['external_id'])
            	</div>
            </td>
        </tr>
      #end if
    #end for
	</table>
</div>
</p>
#end def

#def setPassword($account)
<div class="view_add" id="pass_form" style="display:always;">
	<p>
	<div class="view_info">
	<table width="100%">
	<tr>
    ## <h3>$_('Set password')</h3>
		<th>
			<div class="tableheader">
				$_('Set password:')
			</div>
		</td>
		</th>
	</tr>
	<tr>
		<td>
			<div class="td_passwd_info">
    			$form_widgets.changePassword($account['id'])
			</div>
		</td>
	</tr>
	</table>
	</div>
	</p>
</div>
#end def

#def content()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $setPassword($account)

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('pass_form', 'pass_set', null, 'pass_cancel');
        //-->
    </script>
</div>
#end def
