## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.Main import Main
#from FormWidgets import FormWidgets
#from Widgets import Widgets
#extends Main

#attr $jscripts = ['base.js', 'timeout.js']
#attr $widgets = Widgets()
#attr $form_widgets = FormWidgets()

## This tells us not to load the worklist.js 
#attr $wl = 0
## The following hack removes the bottom div which includes the $wl.
#def page_bottom:
## The following hack removes the tabview
#def tabview:
## Show nice businessCard-like info about person/account
#def viewInfo($account)
    #set $info = []
    #set $notice = []
    $info.append(($_('Name'), $account['username']))
    $info.append(($_('Owned by'), $account['fullname']))
    $info.append(($_('Birthdate'), $account.get('birthdate', '')))
    #if $account['quarantined'] == 1
        $notice.append($_("This account has been set a quarantine."))
    #end if
    #if $account.get('expired')
        $notice.append($_("This account has expired."))
    #end if
    $info.append(($_('Expire date'), $account.get('expire_date', '')))

    ## If external_id is populated, we have a list with dicts to play with
    #for $extid in $account['external_id']
        #if $extid['extid_type'] == "NO_BIRTHNO"
            $info.append(($_($extid['extid_type_description']), $_($extid['external_id'])))
        #end if
    #end for
    $widgets.viewInfo($info, $notice)
#end def

#def setPassword($account)
<div class="list box">
    <h3>$_('Set Password')</h3>
    $form_widgets.changePassword($account['id'])
</div>
#end def

#def content()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $setPassword($account)
</div>
#end def
