## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.UserMenu import UserMenu
#from lib.utils import object_link, strftime
#from lib.WorkList import remember_link
#from EmailTargetTemplate import EmailTargetTemplate
#from FormWidgets import FormWidgets
#extends lib.Main

#attr $form_widgets = FormWidgets()

## Show nice businessCard-like info about person/account
#def viewInfo($account)
Your information:
<div class="view_info">
    <div class="info">
        <em>$_('Name'):</em> $account['username']
    </div>
    <div class="info">
        <em>$_('Owned by'):</em> $account['fullname']
    </div>
    <div class="info">
        <em>$_('Birthdate'):</em> $account['birthdate']
    </div>
    #if $account['quarantined'] == 1
    <div class="info">
        <em>This account has been set a quarantine.</em> 
    </div>
    #end if

    <div class="external_id">
        <em>$_('Expire date'):</em> $account['expire_date']
    </div>

    ## If external_id is populated, it's a list with dicts to play with
    #if $account['external_id'] > 0
        #for $extid in $account['external_id']
            #for $key in $extid.keys()
                <div class="info">
                    <em>$_($key):</em> $extid[$key]
                </div>
            #end for
        #end for
    #end if
</div>
#end def

#def setPassword($account)
<div class="view_add" id="pass_form" style="display:always;">
    <h3>$_('Set password')</h3>
    $form_widgets.changePassword($account['id'])
</div>
#end def

#def prepare_page()
#set self.menu = UserMenu()
#end def

#def bottom()
#end def

#def content()
<div class="view_content">

    ## Content
    $viewInfo($account)
    $setPassword($account)

    ## Register divs and links to flip visibility.
    <script language="JavaScript">
        <!--
        FV_register('pass_form', 'pass_set', null, 'pass_cancel');
        //-->
    </script>
</div>
#end def
