## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cereweb.InitTemplate import InitTemplate
#extends InitTemplate

## Creates a worklist based on the list of objects and actions. 
## objects is a list of tuples (key, label), likewise for
## action. Any keys in the list selected will be marked
## selected by default in the worklist.

#def worklist(objects, buttons, actions, selected)
<div class="worklist">
    <h2>$_("Work list"):</h2>
    <form action="#" method="POST">
        <div class="buttons">
            #for $key, $label in $buttons
            <input type="submit" class="workbutton" name="$key" value="$label" />
            <br />
            #end for
        </div>
        <div class="list">
            <select multiple="multiple" size="6">
                #if not $objects
                <option>-Remembered objects-</option>
                #end if
                #for $key, $label in $objects
                #set $stag = ""
                #if $key in $selected
                    #set $stag = "selected=\"selected\""
                #end if
                <option id="$key" $stag value="$key">
                    $label
                </option>
                #end for
            </select>
        </div>
#*        <div class="wactions">
            <h3>Actions:</h3>
            <a href="#" class="actions">View</a><br />
            <a href="#" class="actions">Edit</a><br />
            <a href="#" class="actions">Remove</a><br />
        </div>*#
    </form>
</div>
#end def

