## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.InitTemplate import InitTemplate
#extends InitTemplate

### Action templates:
### When the user selects an object in the worklist, an appropiate
### action for the selected class of the object is shown.

## All actions should extend the ActionTemplate with a block if
## needed. Javascript will replace the variables for the specific
## object selected in the worklist. Current variables available is:
## _class_, _id_.
#def ActionTemplate($cls, $block="")
    #set $view_url = '/%s/view' % $cls
    #set $edit_url = '/%s/edit' % $cls
    #set $delete_url = '/%s/delete' % $cls
    <div class="content">
        <ul>
            <li><a href="$view_url?id=_id_">View</a></li>
            <li><a href="$edit_url?id=_id_">Edit</a></li>
            <li><a href="$delete_url?id=_id_">Delete</a></li>
        </ul>
        $block
    </div>
#end def

#def EmptyAction
    <div class="content">
        Click the "remember" links on entities you visit or in the search
        results to add elements to the worklist.
    </div>
#end def

#def NoneAction
    <div class="content">
        Select an element in the worklist to view available shortcuts.
    </div>
#end def

#def DefaultAction
    <div class="content">
        No actions found for the selected items.
    </div>
#end def

#def PersonAction
    #def PersonBox
        <ul>
            <li><a href="/account/search?owner=_id_">View all accounts</a></li>
            <li><a href="/account/create?owner=_id_">Create new account</a></li>
        </ul>
    #end def
    $ActionTemplate("person", $PersonBox)
#end def

#def GroupAction
    #def GroupBox
        <a href="/account/create?owner=_id_">Create new account</a>
    #end def
    $ActionTemplate("group", $GroupBox)
#end def

#def OUAction
    $ActionTemplate("ou")
#end def

#def AccountAction
    $ActionTemplate("account")
#end def

#def HostAction
    $ActionTemplate("host")
#end def

#def DiskAction
    $ActionTemplate("disk")
#end def
