# -*- coding: utf-8 -*-
#
# Template file for cereconf.py
#
# This is the config for the basic cerebrum tests.
#
""" Config file for the Cerebrum core test. """

from Cerebrum.default_config import *

CEREBRUM_DDL_DIR = '/usr/local/share/cerebrum/design'
DB_AUTH_DIR = '/etc/cerebrum'
LOGGING_CONFIGFILE = '/etc/cerebrum/logging.ini'
LOGGING_ROOT_DIR = '/var/log/cerebrum'

CEREBRUM_DATABASE_NAME = '{{ crb_db_name }}'

CEREBRUM_DATABASE_CONNECT_DATA = {'user': '{{ crb_db_user }}',
                                  'table_owner': '{{ crb_db_user }}',
                                  'host': '{{ crb_db_host }}'}

# Default bind name for Cerebrum
#CEREBRUM_SERVER_IP = ""

CLASS_DBDRIVER = ['Cerebrum.database.postgres/PsycoPG2']
CLASS_DATABASE = ['Cerebrum.CLDatabase/CLDatabase']

# default_config bugfix?
# Constants/Constants must be last, as it's the superclass?
# Cerebrum.modules.CLConstants is required by Cerebrum.ChangeLog
#
# Also, mod_changelog MUST be specified...
#
# Should CLASS_CHANGELOG be empty?!
#
CLASS_CHANGELOG = [
        'Cerebrum.modules.EventLog/EventLog',
        'Cerebrum.modules.ChangeLog/ChangeLog', ]

CLASS_CONSTANTS = [
    'Cerebrum.modules.no.Constants/ConstantsCommon',
    'Cerebrum.modules.no.Constants/ConstantsHigherEdu',
    'Cerebrum.modules.no.uio.Constants/Constants',
    # exchange-relatert-jazz
    'Cerebrum.modules.exchange.Constants/Constants',
    'Cerebrum.modules.exchange.TargetSystemConstants/TargetSystemConstants',
    'Cerebrum.modules.PosixConstants/Constants',
    'Cerebrum.modules.bofhd.bofhd_constants/Constants',
    'Cerebrum.modules.EmailConstants/EmailConstants',
    'Cerebrum.modules.EntityTraitConstants/Constants',
    'Cerebrum.modules.AuthPGP/Constants',
    'Cerebrum.modules.no.uio.DiskQuota/DiskQuotaConstants',
    'Cerebrum.modules.no.uio.EphorteConstants/EphorteConstants',
    'Cerebrum.modules.password_notifier.constants/Constants',
    'Cerebrum.modules.guest.Constants/GuestConstants',
    'Cerebrum.modules.consent.Consent/Constants',
    'Cerebrum.modules.cim.constants/ConstantsMixin',
    'Cerebrum.modules.no.uio.printer_quota.PPQConstants/Constants',
    'Cerebrum.modules.no.uio.printer_quota.bofhd_pq_Constants/Constants',
    'Cerebrum.modules.no.uio.voip.Constants/VoipConstants',
    'Cerebrum.modules.no.uio.voip.Constants/VoipAuthConstants',
    'Cerebrum.modules.dns.DnsConstants/Constants',
    'Cerebrum.modules.hostpolicy.HostPolicyConstants/Constants',
]

CLASS_CL_CONSTANTS = [
    'Cerebrum.modules.dns.DnsConstants/CLConstants',
    'Cerebrum.modules.hostpolicy.HostPolicyConstants/CLConstants',
    'Cerebrum.modules.EmailConstants/CLConstants',
    'Cerebrum.modules.exchange.CLConstants/CLConstants',
    'Cerebrum.modules.no.uio.DiskQuota/CLConstants',
    'Cerebrum.modules.ad2.CLConstants/CLConstants',
    'Cerebrum.modules.EntityTraitConstants/CLConstants',
    'Cerebrum.Constants/CLConstants', ]

CLASS_ENTITY = ['Cerebrum.modules.EntityTrait/EntityTrait',]

CLASS_ACCOUNT = (
    'Cerebrum.modules.no.uio.Account/AccountUiOMixin',
    'Cerebrum.modules.pwcheck.history/PasswordHistoryMixin',
    'Cerebrum.modules.AccountExtras/AutoPriorityAccountMixin',
    'Cerebrum.modules.AuthPGP/AuthPGPAccountMixin',
    'Cerebrum.modules.Email/AccountEmailMixin',
    'Cerebrum.modules.Email/AccountEmailQuotaMixin',
)

CLASS_GROUP = (
    'Cerebrum.modules.no.uio.Group/GroupUiOMixin',
    'Cerebrum.modules.posix.mixins/PosixGroupMixin',
    'Cerebrum.modules.exchange.mixins/SecurityGroupMixin',
    'Cerebrum.modules.exchange.mixins/DistributionGroupMixin',
    'Cerebrum.Group/Group',
)

CLASS_OU = ('Cerebrum.modules.no.Stedkode/Stedkode',)
CLASS_DISK = ('Cerebrum.modules.no.uio.Disk/DiskUiOMixin',)
CLASS_PERSON = (
    'Cerebrum.modules.Email/PersonEmailMixin',
    'Cerebrum.modules.no.Person/PersonFnrMixin',
    'Cerebrum.modules.consent.Consent/EntityConsentMixin',
    'Cerebrum.modules.no.uio.Person/PersonUiOMixin'
)
CLASS_POSIX_USER = ('Cerebrum.modules.no.uio.PosixUser/PosixUserUiOMixin',
                    'Cerebrum.modules.PosixUser/PosixUser')
CLASS_POSIXLDIF = ('Cerebrum.modules.no.uio.PosixLDIF/PosixLDIF_UiOMixin',
                   'Cerebrum.modules.PosixLDIF/PosixLDIFRadius',
                   'Cerebrum.modules.PosixLDIF/PosixLDIF')

{% if gnupgtest is defined %}
PASSWORD_GPG_RECIPIENT_ID = 'cerebrum-test@uio.no'
PASSWORD_GNUPGHOME = '{{ gnupg_home_dir }}'
{% endif %}
