[spine]
cache: false
cache_dir: /tmp/spine_cache
username: user
password: password

[corba]
url: /tmp/spine.ior

[ssl]
ca_file: CA.crt
key_file: client.pem
password: client

[idl]
path: .
core: SpineCore.idl
