Source: cerebrum-ntnu
Section: unknown
Priority: extra
Maintainer: Leiv Arild Andenes <leiv.andenes@ntnu.no>
Build-Depends: debhelper (>= 5), autoconf, automake1.7, python-cheetah, openjdk-6-jdk
Standards-Version: 3.7.2

Package: cerebrum-ntnu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-cheetah, python-cherrypy, omniorb4, openssl, postgresql, gnupg, python, python-omniorb, yui, apache2, python-egenix-mxdatetime, python-psycopg, omniidl4-python, python-imaging, python-reportlab-accel, python-zsi, python-ldap, cx-oracle, python-smbpasswd, python-cjson
Description: Cerebrum server-installasjon
 .
 Oppdateres slik:
 .
 For stable versions:
   VER=1.08
   REV=HEAD
   VERSION=$VER
   REPOS=https://cerebrum.svn.sourceforge.net/svnroot/cerebrum/tags/ntnu-prod-$VERSION
 .
 For SVN updates:
   VER=1.08
   REV=10371
   VERSION=$VER+svn$REV
   REPOS=https://cerebrum.svn.sourceforge.net/svnroot/cerebrum/trunk/cerebrum
 .
 Check out with:
   NAME=cerebrum-ntnu-$VERSION
   svn co -qr $REV $REPOS $NAME
   tar --exclude=.svn -czf $NAME.tar.gz $NAME && rm -rf $NAME/
 .
 Build with:
   cd $OLD_PACKAGE_DIRECTORY
   uupdate -v $VERSION -u ../$NAME.tar.gz
   cd ../$NAME
   # (Fiks eventuelle mangler i debian/{control,rules} eller annet
   dch                           # Oppdater changelog
   sudo apt-get build-dep cerebrum-ntnu # Installer dependencies
   dpkg-buildpackage -rfakeroot  # Kompiler pakken
   ubuntu-mirror-add             # Last opp til mirror
 .
 Other useful commands:
   # Increment version number, for use when making a new package with the same
   # source version
   dch -i 
   # Download the latest source package
   sudo aptitude update && apt-get source cerebrum-ntnu  
