/*
 * Copyright 2004, 2005 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 */

body div.logo_img{
    background-color: #d9e2ef;
    color: black;
    margin: 8px 0em 8px 8px;
    text-align: left;
}

#content {
    background-color:   white;
    /* border: 1px solid black; */
    text-align: left;
}

#container {
    width: 800px;
    background-color: white;
    min-height: 450px;
    text-align: left;
    margin: 0px 0px 0px 8px;
    /* border: 1px solid black;*/
    border: 1px dotted black;
}

h1 {
    margin: 1em 0px 0px 0px;
}

div.view_content {
    background: white;
    color: black;
    float: left;
    width:  780px;
}

#title {
    margin: 0px 0px 0px 8px;
    text-align: left;
}

#bottom {
    text-align: right;
}

div.content_text {
    margin: 1em 1em 1em 1em;
}

#username {
    font-weight:    bold;
    font-size:  14px;
    margin: 1em 1em 1em 1em;
}
