/*
 * Copyright 2004, 2005 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU 
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 */

## Styles for the bottom frame, wich contains worklist, transactions and activitylog.
## IE doesnt support inline-block on divs, so I had to use spans instead, and then
## i had to use vertical-align: top, to make it look just like in opera.
div.bottom_div {
    background: white;
    height: 100%;
}

div.worklist h2, div.activitylog h2 {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0 0 0 4px;
}

## Styles for the worklist.
div.worklist {
    float: left;
    vertical-align: top;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: auto;
    width: auto;
}

div.worklist h2 {
    background: #66CCFF;
    border: 1px solid #0066CC;
    margin-bottom: 4px;
}

div.worklist form {
    margin: 0; // Ie and opera adds a small margin.
}

#wl_list {
    display: table-cell; /* For firefox and Opera */ 
    display: inline-block; /* For Opera and ie */ 
    vertical-align: top; /* For ie */
}

#wl_list select:focus {
    background: #ffe;
}

#wl_buttons {
    display: table-cell; /* For firefox and Opera */ 
    display: inline-block; /* For Opera and ie */ 
    vertical-align: top; /* For ie */
}

#wl_buttons input {
    width: 4.5em;
    font-size: 80%;
    font-family: sans-serif;
    margin: 0px 5px 4px 5px;
}

#wl_actions {
    display: table-cell; /* For firefox and Opera */ 
    display: inline-block; /* For Opera and ie */ 
    vertical-align: top; /* For ie */
    margin: 0 0 0 4px;
}

#wl_actions div.wl_action {
    width: 180px;
}

#wl_actions div.wl_action div.header {
    border: 1px solid #0099FF;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 85%;
    padding: 2px;
}

#wl_actions div.wl_action div.content {
    font-size: 87%;
    padding: 4px;
}

#wl_actions div.wl_errors h3 { color: red; }

## Styles for the Activity log.
div.activitylog {
    vertical-align: top;
    margin-left: 0.5em;
    margin-right: 0.5em;
    overflow: auto;
    height: auto;
    width: 350px;
}

div.activitylog_full {
    float: left;
    clear: right;
    empty-cells: show;
}

div.activitylog h2 {
    background: #61EF76;
    border: 1px solid #006600;
    margin-bottom: 4px;
}

div.activitylog div.amsg, div.activitylog_full div.amsg {
    border-bottom: 1px dotted #006600;
}

div.activitylog a:link {  color: black; }
div.activitylog a:visited { color: black; }
div.activitylog a:hover { color: gray; }
div.activitylog h2 a:link { text-decoration: none; }
div.activitylog h2 a:hover { text-decoration: none; }
div.activitylog h2 a:visited { text-decoration: none; }

## Styles for the menu:
div.page_menu a { top: 10px; left: 10px; display: block; }
div.page_menu a:link  {  color: black; text-decoration: none; }
div.page_menu a:visited { color: black;  text-decoration: none; }
div.page_menu a:hover { color: #999999; text-decoration: none; }
div.page_menu a:active { text-decoration: none; }

div.menu {
    border: none;
}

div.menu_header {
    border: 1px solid gray;
    text-align: center;
    margin: 15px 0 0 8px;
    padding: 2px;
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
}

div.menulevel0 {
    margin-left: 13px;
    padding: 2px 0 5px 4px;
    border-left: 1px dashed gray;
}

div.menulevel1 {
    font-weight: bold;
}

div.menulevel2 {
    font-style: normal;
    font-weight: normal;
    padding-left: 0.8em;
}
div.menulevel3 {
    font-style: normal;
    font-weight: normal;
    font-size: 95%;
    padding-left: 1.0em;
}

div.menu .active {
    font-style: italic;
}

## Styles for messages and errors
div.messages { margin-bottom: 5px; }

div.messages span.message {
    font-weight: bold;
    color: green;
}

div.messages span.error {
    font-weight: 1200;
    color: red;
    padding: 0.3em;
}

