/*
 * Copyright 2004 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU 
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 */

## Styles for the bottom frame, wich contains worklist, transactions and activitylog.
## IE doesnt support inline-block on divs, so I had to use spans instead, and then
## i had to use vertical-align: top, to make it look just like in opera.
div.bottom h2, div.bottom h3 {
    font-size: 80%;
    margin: 0;
    padding: 0;
    letter-spacing: 0.2em;
}

## Styles for the worklist.
div.worklist {
    display: inline-block;
    width: 21em;
    margin-right: 0.5em;
    vertical-align: top;
}

div.worklist h2 {
    background: #9ab;
}

div.worklist div.list {
    display: inline-block;
    vertical-align: top;
}

div.worklist div.list select:focus {
    background: #ffe;
}

div.worklist div.buttons {
    display: inline-block;
    vertical-align: top;
}

div.worklist div.buttons input {
    width: 4em;
    font-size: 80%;
    font-family: sans-serif;
}

div.worklist div.wactions {
    display: inline-block;
    vertical-align: top;
    background: #9ac;
    border: 1px dashed black;
    padding: 0.4em;
}

## ActivityLog
div.activitylog {
    display: inline-block;
    width: 19em;
    vertical-align: top;
    overflow: auto;
}

div.activitylog h2 {
    background: #999;
}

## Styles for the menu:
div.menu a { top: 10px; left: 10px; }
div.menu a { display: block; }

div.menu a:link  {  color: black; text-decoration : none; }
div.menu a:visited { color: black;  text-decoration : none; }
div.menu a:hover { color: #999999; text-decoration : none; }
div.menu a:active { text-decoration : none; }

div.menu {
    border: none;
}

div.menulevel1 {
    font-weight: bold;
}

div.menulevel2 {
    font-weight: normal;
    padding-left: 1.5em;
}

div.menu .active {
    font-style: italic;
}

## Styles for messages and errors
div.messages {
    border: black 1px dashed;
}

div.error {
    background: #f66;
    padding: 0.3em;
}

