div.activitylog h2,div.worklist h2 {
  font-size: 90%;
  margin: 0;
  padding: 0;
  background: #9ab;
}
div.activitylog {
  overflow: auto;
  height: 5em;
  width: 25em;
}
div.worklist {
  width: 18em;
}
div.buttons{
  text-align: left;
}
div.buttons input {
  width: 5em;
  margin-top: 0.3em;
  margin-left: 0.3em;
}
select {
  float: left;
}
