/*
 * Copyright 2004 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU 
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License 
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 *
 * Large parts of this file is copied freely from
 * the site http://devnull.tagsoup.com/fixed/
 * Many thanks to Eric Bednarz <devnull@tagsoup.com>
 *
 * Magic to do 'frames' from CSS.
 * 
 * Essentially the trick is to make body only 100% high (ie. the screen
 * size) - and let div.content be the main content, and that div can
 * scroll away down the side.
 * 
 * This allows fixed positioning even in Microsoft IE, as we can use
 * position: absolute for elements directly within body.
 * 
 * Note however that a little trick in fixed.css needs to be included:
 *   <link rel="stylesheet" type="text/css" href="css/fixed.css" >
 *   <!--[if IE]>
 *     <link rel="stylesheet" type="text/css" href="css/fixed_ie5.css">
 *   <![endif]-->
 */

## Used to position the frames correctly, so they dont overlap eachother.
#set $menuwidth = 8
#set $bottomheight = 9.5

body {
  margin: 0;
  background: white;
}

div.menu, div.bottom {
  position: absolute;  
  /*margin: 0;*/
  /* Debuglines */
  border: 2px dashed #aaa;
  background: white; 
  /* If scrolling is needed: */
  overflow: auto; 
}

div.menu {
  /* Placed in the upper left corner */
  top: 0;
  left: 0;
  /* Width of menu */
  width: ${menuwidth}em;
  height: 100%;
}

div.menu div {
  position: static; 
  /*top: auto;
  left: auto;*/
  /* Width of menu */
  width: auto;
  height: auto;
}

div.bottom {
  /* Placed in the lower left corner */
  bottom: 0;
  left: 0;
  /* width: 100% is too wide.. use right: 0; although this shrinks
     the thingie in IE.. avoid background color! */
  right: 0;
  /* Height of bottom part */
  height: ${bottomheight}em;
  width: 80%;
  /* avoid collission with div.menu */
  margin-left: ${menuwidth}em;
}

div.bottom div {
  /* Placed in the lower left corner */
  /*bottom: auto;*/
  left: 0;
  /*border: black thin solid;*/
  /* width: 100% is too wide.. use right: 0; although this shrinks
     the thingie in IE.. avoid background color! */
  right: auto;
  /* Height of bottom part */
  height: auto;
  /* avoid collission with div.menu */
  /*margin-left: auto;*/
}

/* This trick is to fix something i IE 5 on Mac..  */
@media screen {
  body>div.menu,body>div.bottom {
    position: fixed;
  }
}

/* The actual text area, remember to update
 * the margins according to div.menu and div.bottom (+1em)
 */
#set $realpadding = 1
#set $paddingleft = $menuwidth + $realpadding
#set $paddingbottom = $bottomheight + $realpadding  
div.content {
  padding-top: 0em; 
  padding-right: ${realpadding}em; 
  padding-left: ${paddingleft}em; 
  padding-bottom: ${paddingbottom}em;
}

