/*
 * Copyright 2004 University of Oslo, Norway
 *
 * This file is part of Cerebrum.
 *
 * Cerebrum is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * Cerebrum is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Cerebrum; if not, write to the Free Software Foundation,
 * Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
 */

#def shrink($name)
html>body $name {
    display: table;
    width: auto;
}
$name {
    white-space:nowrap; /* to force width */
    width:20px;/* rumor is IE should auto-expand  -- doesn't appear true? */
}
#end def

div.notes {
    background: #ffc;
    border-left: 1px solid #dda;
    border-right: 1px solid #dda;
    border-bottom: 1px solid #dda;
    border-collapse: collapse;
    margin-bottom: 1em;
    padding: 0.3em;
}
$shrink("div.notes")

div.notes h2 {
    margin: 0;
    padding: 0;
    background: #dda;
    font-size: 100%;
    width: 100%;
}

div.notes input, div.notes textarea {
    font-size: 80%;
    font-family: sans-serif;
}

div.notes form h3 {
    font-size: 100%;
}

div.notes label {
    display: block;
    font-size: 80%;
}

div.note {
    border-bottom: 1px dashed #dda;
}

div.quarantines {
    background: #cba;
    font-size: 80%;
    float: right;
}

div.quarantines h2 {
    margin: 0;
    padding: 0;
    background: #da9;
    font-size: 125%;
}

div.quarantines td {
    padding: 0.2em;
}

$shrink("div.accounts")

div.accounts h2 {
    margin: 0;
    padding: 0;
    background: #abc;
    font-size: 100%;
}

div.account {
    font-size: 90%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: #eef 2px dotted;
}
$shrink("div.account")

div.account h2 {
    background: #eef;
    font-size: 100%;
    margin-bottom: 0;
}

div.accounts div.create {
    font-size: 80%;
    background: #cde;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
}
$shrink("div.accounts div.create")

div.accounts div.create h3 {
    background: #abc;
    margin: 0;
    font-size: 100%;
    padding-left: 1em;
}

div.accounts div.create form {
    padding-left: 1em;
    padding-right: 1em;
}

div.accounts div.create label {
    display: block;
}

div.accounts div.create input {
    font-size: 80%;
    padding: 0;
}

dd {
  margin-left: 0;
  padding-left: 0;
}
dt:after { 
  content: ":";
}
dt {
  float: left; 
  margin-right: 0.5em;
  font-weight: bold;
}
dd,dt {
  margin-top: 0;
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.3em;
}

div.actions {
    margin-bottom: 0.5em;     
}

div.actions a {
    padding-right: 0.5em;    
    white-space: nowrap;
}

div.actions a:before {
    content: "[";
}
 
div.actions a:after {
    content: "]";
}

$shrink("div.historylog")

div.historylog h2 {
    margin: 0;
    padding: 0;
    background: #ad9;
    font-size: 100%;
}

div.historylog td, div.activitylog td, table.results td {
    border-bottom: 1px dotted #aaa;
}

.deceased {
    font-weight: bold;
    color: #f00;
}
div.infoaccounts {
    clear: both;
}
div.infoaccounts div.info {
    width: 45%;
}
div.infoaccounts div.accounts {
}
