<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Hjelpeside for Cweb</title>
</head>

<body>
[<a href="#" target="_blank">Åpne i eget vindu</a>]
<h1>Introduksjon</h1>

<p>

Dette dokumentet inneholder en beskrivelse av 
brukeradministrasjonsgrensesnittet Cweb.
Cweb kan brukes for vedlikehold av brukerdata i 
<a href="http://cerebrum.sourceforge.net/wiki/">Cerebrum</a>. 
Mer informasjon om Cweb og en noe mer omfattende introduksjon kan man finne
<a href="http://cerebrum.sourceforge.net/doc/html/user/bofh.html">her</a>.
Dokumentet "Cweb hjelp" inneholder også forklaringer på en del vanlige 
begreper brukt i Cerebrum, samt informasjon om enkelte kommandoer og rutiner som er tilgjengelig i Cweb.

<h1>Menyvalg</h1>

<dl>
  <dt><a name="email_info">E-post</a>
    <dd>Viser all tilgjengelig informasjon om en brukers e-post adresser.
  <dt><a name="group_info">Gruppe info</a>
    <dd>Viser informasjon om en gruppe (beskrivelse o.l.)
  <dt><a name="group_mod">Vedlikehold gruppe</a>
    <dd>Viser en liste over medlemer i en gruppe og gir mulighet for å utføre inn- og utmeldinger.
  <dt><a name="group_search">Søk etter grupper</a>
    <dd>Søk etter en gruppe.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="group_search_res">Søkeresultat (gruppesøk)</a>
    <dd>Søkeresultatet for gruppesøk.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="group_user">Vis medlemskap</a>
    <dd>Viser listen over grupper en bruker er medlem av.
  <dt><a name="person_find">Søk etter personer</a>
    <dd>Søk etter en person.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="person_find_res">Søkeresultater (personsøk)</a>
    <dd>Søkeresultat for personsøk.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="person_info">Person info</a>
    <dd>Viser all tilgjengelig informasjon om en person.
  <dt><a name="user_quarantine">Karantener</a>
    <dd>Viser en liste over <a href="#karantener">karantener</a> en bruker har.
  <dt><a name="user_find">Søk etter brukere</a>
    <dd>Søk etter en bruker.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="user_find_res">Søkeresultater (brukersøk)</a>
    <dd>Søkeresultat for brukersøk.  Se også 
        <a href="#om_sok">Om søk</a>
  <dt><a name="user_info">Bruker info</a>
    <dd>Viser all tilgjengelig informasjon om en bruker.
  <dt><a name="user_password">Sett nytt passord</a>
    <dd>Endre en brukers passord.
  <dt><a name="user_priority">Brukerprioriteter</a>
    <dd>Endre prioriteringen på en persons brukere.
</dl>

<h1>Om søk</h1>
<a name="om_sok"/>

Dersom et søkeresultat inneholder kun ett treff, blir man automatisk
sendt videre til informasjonssiden for det aktuelle objektet (det være 
seg person, bruker eller gruppe). 

Om flere objekter som tilfredsstiller søkekriteriet blir funnet vises en liste
over aktulle objekter. For å se informasjonssiden for hvert enkelt objekt må man klikke seg in på navnene på navnet i listen.

<p>

Ved søk på navn kan man benytte * som jokertegn.  For eksempel vil
<code>Fredrik*</code> tilfredsstille kriterien for både 
<code>Fredriksen</code> og <code>Fredrik</code>.

<h1>Øvrige begrep</h1>

<dl>

  <dt><a name="email_default_address">Primær e-postadresse</a> <dd>En bruker kan ha flere gyldige e-postadresse. En av disse vil alltid være valgt som foretrukket kontaktadresse. En slik adresse blir ofte kalt for primær e-postadresse. 
  <dt><a name="person_affiliation">Tilknytning</a> <dd>Bekriver en persons tilknytning til organisasjonen.
  <dt><a name="source_system">Kildesystem</a> <dd>Forteller hvor informasjon om en gitt person i utganspunktet er hentet fra.
    
</dl>

<h1>Gruppemedlemskap</h1>
<a name="member_op"/>

Svært avanserte brukere kan ønske å ha medlemstyper av en annen type
enn union.  Dette anbefales ikke medmindre du vet hva du gjør.

<dl>
  <dt>union</a> <dd>En union er den vanligste medlemstypen
  <dt>intersection</a> <dd>Snittet av gruppene
  <dt>difference</a> <dd>Differansen av medlemmene
</dl>


<h1>Spread</h1>

En spread forteller noe om hvilke systemer informasjon om en person, gruppe eller bruker skal være tilgjengelig i.

<h1>Karantener</h1>
<a name="karantener"/>

Karantener benyttes for å legge restriksjoner på bruk av en konto.  De
fleste karantener medfører at brukeren mister sin tilgang til en eller flere tjenester.

<hr>
<address></address>
<!-- hhmts start --> Last modified: Fri Sep 23 14:53:46 CEST 2005 <!-- hhmts end -->
</body> </html>

<!-- arch-tag: e0112f5a-7155-11da-9844-243e625bc232
     (do not change this comment) -->
