# -*- coding: utf-8 -*-
#
# Template file for cereconf.py
#
# This is the config for the basic cerebrum tests.
#
""" Config file for the Cerebrum core test. """

from Cerebrum.default_config import *

CEREBRUM_DDL_DIR = '{{ virtualenv }}/share/cerebrum/design'
DB_AUTH_DIR = '{{ virtualenv }}/etc/cerebrum'
LOGGING_CONFIGFILE = '{{ virtualenv }}/etc/cerebrum/logging.ini'
LOGGING_ROOT_DIR = '{{ virtualenv }}/var/log/cerebrum'

CEREBRUM_DATABASE_NAME = '{{ crb_db_name }}'

CEREBRUM_DATABASE_CONNECT_DATA = {'user': '{{ crb_db_user }}',
                                  'table_owner': '{{ crb_db_user }}',
                                  'host': 'localhost'}

# Default bind name for Cerebrum
#CEREBRUM_SERVER_IP = ""

CLASS_DBDRIVER = ['Cerebrum.database.postgres/PsycoPG2']
CLASS_DATABASE = ['Cerebrum.CLDatabase/CLDatabase']

# default_config bugfix?
# Constants/Constants must be last, as it's the superclass?
# Cerebrum.modules.CLConstants is required by Cerebrum.ChangeLog
#
# Also, mod_changelog MUST be specified...
#
# Should CLASS_CHANGELOG be empty?!
#

CLASS_CONSTANTS=('Cerebrum.modules.no.Constants/ConstantsCommon',
                 'Cerebrum.modules.tsd.Constants/Constants',
                 'Cerebrum.modules.ad2.Entity/ConstantsActiveDirectory',
                 'Cerebrum.modules.EntityTraitConstants/Constants',
                 'Cerebrum.modules.PosixConstants/Constants',
                 'Cerebrum.modules.bofhd.bofhd_constants/Constants',
                 'Cerebrum.modules.password_notifier.constants/Constants',
                 'Cerebrum.modules.dns.DnsConstants/Constants',
                 'Cerebrum.modules.hostpolicy.HostPolicyConstants/Constants',)

CLASS_CL_CONSTANTS=('Cerebrum.modules.ad2.CLConstants/CLConstants',
                    'Cerebrum.modules.EntityTraitConstants/CLConstants',
                    'Cerebrum.modules.dns.DnsConstants/CLConstants',
                    'Cerebrum.modules.hostpolicy.HostPolicyConstants/CLConstants',
                    'Cerebrum.Constants/CLConstants', )

CLASS_ENTITY = ['Cerebrum.modules.EntityTrait/EntityTrait',
                'Cerebrum.modules.ad2.Entity/EntityADMixin',
                ]

CLASS_PERSON = ['Cerebrum.modules.no.Person/PersonFnrMixin',
                ]

CLASS_OU = ['Cerebrum.modules.tsd.OU/OUTSDMixin',]

CLASS_POSIX_USER = ['Cerebrum.modules.tsd.PosixUser/PosixUserTSDMixin',
                    'Cerebrum.modules.PosixUser/PosixUser']

CLASS_POSIX_GROUP = ['Cerebrum.modules.PosixGroup/PosixGroup']

CLASS_CHANGELOG=('Cerebrum.modules.ChangeLog/ChangeLog',)

CLASS_ACCOUNT = [
        'Cerebrum.modules.pwcheck.simple/CheckSimpleMixin',
        'Cerebrum.modules.pwcheck.history/PasswordHistoryMixin',
        'Cerebrum.modules.pwcheck.dictionary/PasswordDictionaryMixin',
        'Cerebrum.modules.tsd.Account/AccountTSDMixin',
        'Cerebrum.modules.EntityTrait/EntityTrait', ]

CLASS_GROUP = [
        'Cerebrum.modules.posix.mixins/PosixGroupMixin',
        'Cerebrum.Group/Group', ]

DNS_DEFAULT_ZONE = 'tsd'
INSTITUTION_DOMAIN_NAME = "tsd.usit.no"
USERNAME_MAX_LENGTH = 30
#SYSTEM_LOOKUP_ORDER=('system_manual', 'system_nettskjema')
POSIX_SPREAD_CODES = ('account@ad',)
TSD_PROJECT_GROUPS = (('member-group', 'All members of the project',
                        ('filegroup', 'netgroup')),
                      ('admin-group', 'All administrators of the project',
                        ('filegroup',)),
                      ('import-group', 'For import from outside world for project',
                        ('filegroup',)),
                      ('export-group', 'For export to outside world for project',
                        ('filegroup',)),
                      )
TSD_GROUP_MEMBERS = {
        'member-group': ('person_aff:PROJECT',),
        'admin-group': ('person_aff:PROJECT/admin',),
        'export-group': ('group:admin-group',),
        'import-group': ('group:member-group',),
        }
OTP_MAPPING_TYPES = {'smartphone_yes': 'totp',
                     'smartphone_no': 'hotp',
                     }

# The available range of VLANs:
VLAN_RANGES = ((100, 200), (400, 600), (1800, 1810),)

# Default subnet prefix and mask used for new projects
SUBNET_START = '10.%d.%d.0/24'
# Default subnet prefix for IPv6:
SUBNET_START_6 = 'fd00:c0de:cafe:%s::/64'

{% if gnupgtest is defined %}
PASSWORD_GPG_RECIPIENT_ID = '06B0A991A41F3955F1DFD524D04D25F75D4C1CC4'
GNUPGHOME = '{{ gnupg_home_dir }}'
{% endif %}
