## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cerebrum.web.InitTemplate import InitTemplate
#extends EntityViewTemplate
#import forgetHTML
#from Cerebrum.web.TableView import TableView
#from Cerebrum.web.utils import url
#from Cerebrum.web.utils import object_link
#from Cerebrum.web import HistoryLog

#def getAction
$url("account/action")#slurp
#end def

#def viewAccountShort($account)
#set $creator = $account.get_creator_object()
<div class="account">
<h2>$_("Account") $account.get_name()</h2>
##$_("Created ") $account.create_date.Format('%Y-%m-%d')
$_("by") $object_link($creator) 
$actions($account)
</div>
#end def

#def viewAccountInfo($account)
<h1>$_("Account") $account.get_name()</h1>
<div class="info">
<dl>
    <dt>$_("Date created")</dt>
##    <dd>$account.create_date.Format('%Y-%m-%d')</dd>

##if $account.expire_date
    <dt>$_("Expire date")</dt>
##    <dd>$account.expire_date.Format('%Y-%m-%d')</dd>
##end if

##set $creator = $account.get_creator_object()
    
    <dt>$_("Created by")</dt>
##    <dd>$object_link($creator)</dd>

###set $owner = $account.get_owner_object()
    <dt>$_("Owned by")</dt>
##    <dd><dd>$object_link($owner)</dd></dd>

###if $account.spread
    <dt>$_("Spreads")</dt>
##    <dd>$account.spread</dd>
##end if    

</dl>
</div>
$actions($account)
#end def

#def actions($account)
<div class="actions">
#set link = $url("account/edit?id=%s" % $account.get_entity_id())
<a href="$link">$_("Edit account")</a>
#set link = $url("account/delete?id=%s" % $account.get_entity_id())
<a href="$link">$_("Remove account")</a>
</div>
#end def

#def viewAccount($account)
$viewAccountInfo($account)
##$view_entity($account)
#end def
