## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cerebrum.web.InitTemplate import InitTemplate
#extends InitTemplate
##extends FramesTemplate
#import forgetHTML
#from Cerebrum.web.TableView import TableView
#from SortedTableTemplate import SortedTableTemplate
#from Cerebrum.web.utils import url

#def viewActivityLog($table)
#set $headers = {'icon': $_("Icon"), 'message': $_("Message")}
<div class="activitylog">
<h2>Activity log</h2>
$SortedTableTemplate().sorted_table($table, $headers, $url("sortpri=%s"), $url("sortby=%s"), "history")
</div>
#end def

