#extends SearchTemplate
#from Cerebrum.web.utils import url

###attr $action = "/feil/url"
#attr $fields = [ ("name", "Name"),
                  ("desc", "Description"),
                  ("spread", "Spread"),
                ]
#def getAction
$url("group/search")#slurp
#end def                             


