#extends EntityViewTemplate
#from Cerebrum.web.TableView import TableView
#from MemberTableTemplate import MemberTableTemplate
#from Cerebrum.web.utils import url
#from Cerebrum.web import HistoryLog

#def viewGroup($group)
<h1>$_("Group") $group.name</h1>
$groupInfo($group)
$groupMembers($group)
$add_member($group)
$view_entity($group)
#end def

#def groupMembers(group)
#set $allmembers = $group.get_members()
#if $allmembers
<div class="members">
<h2>$_("Members")</h2>
<%
memberSets = {}
for member in allmembers:
    operation = member['operation']
    # fetch (and possibly create) a list to contain members
    members = memberSets.setdefault(operation, [])
    members.append(member)
    
## FIXME Dont hardcode operations
for operation in ('union', 'intersection', 'difference'):
    members = memberSets.get(operation)
    if not members:
        # skip empty members
        continue
    write(self.memberList(operation, members, group))
%>
</div>
#end def

#def memberList($operation, $members, $group)
#set $operations = {'union': $_('Union'), 'intersection': $_('Intersection'), 'difference': $_('Difference')}
#set $headers = {'type': $_("Type"), 'name': $_("Name")}
<div class="memberlist">
<h3>$operations[$operation]</h3>
#set $table = $TableView("type", "name")
#for $member in $members
$table.add($member['type'], $member['name'], 
           id=$member['id'], groupid=$group.id, operation=$operation)
#end for
$MemberTableTemplate().sorted_table($table, $headers, $url("blapp=%s"), $url("blupp=%s"))
<input type="submit" value="Remember checked" />
<input type="submit" value="Remove checked" />
<input type="submit" value="Check all" />
<input type="submit" value="Uncheck all" />
</div>
#end def

#def groupInfo(group)
<div class="info">
<dl>
    <dt>$_("Name")</dt>
    <dd>$group.name</dd>

#if $group.gid
    <dt>$_("Gid")</dt>
    <dd>$group.gid</dd>
#end if    

    <dt>$_("Description")</dt>
    <dd>$group.description</dd>

    <dt>$_("Expire")</dt>
    <dd>$group.expire</dd>

    <dt>$_("Spreads")</dt>
#set $spreads=', '.join($group.spreads)    
    <dd>$spreads</dd>

</dl>
</div>
#end def

#def add_member(group)
<div class="add_member">
Add a member (.. to be inserted by template user)
</div>
#end def
