#from Cerebrum.web.InitTemplate import InitTemplate
#extends InitTemplate
##extends FramesTemplate
#import forgetHTML
#from Cerebrum.web.TableView import TableView
#from SortedTableTemplate import SortedTableTemplate
#from Cerebrum.web.utils import url

#def viewHistoryLog()
#set $headers = {'timestamp': $_("Timestamp"), 'icon': $_("Icon"), 'who': $_("Who"), 'message': $_("Message")}
#set $table = $TableView("timestamp", "icon", "who", "message")
<div class="historylog">
<h2>History log</h2>
$SortedTableTemplate().sorted_table($table, $headers, $url("ting=%s"), $url("dings=%s"))
</div>
#end def
