#from Cerebrum.web.InitTemplate import InitTemplate
#extends InitTemplate
##extends FramesTemplate
#from SortedTableTemplate import SortedTableTemplate
#from Cerebrum.web.utils import url

#def viewHistoryLog($table, $id)
#set $headers = {'timestamp': $_("Timestamp"), 'icon': $_("Icon"), 'who': $_("Who"), 'message': $_("Message")}
<div class="historylog">
<h2>History log</h2><a href="$url("fullhistorylog/view?id=%s"%id)">View full history log</a>
$SortedTableTemplate().sorted_table($table, $headers, $url("sortpri=%s"), $url("sortby=%s"), "history")
</div>
#end def

#def viewCompleteHistoryLog($table)
#set $headers = {'timestamp': $_("Timestamp"), 'icon': $_("Icon"), 'who': $_("Who"), 'message': $_("Message")}
##<h1>$_("Entity") $entity.name</h1>
<div class="historylog">
<h2>History log</h2>
$SortedTableTemplate().sorted_table($table, $headers, $url("sortpri=%s"), $url("sortby=%s"), "history")
</div>
#end def

