## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cerebrum.web.InitTemplate import InitTemplate
#from Cerebrum.web.utils import url
#extends InitTemplate

## TODO: sort names. Full Name->First Name->Last Name-> Titles->Others?

## Lists all names for a person, with the sourcesystem if set.
#def personNames($person)
    #set $person_names = $person.get_names()
    <h2>$_("Names:")</h2>
    #for $name in $person_names
    <div class="name">
        #set $name_variant = $name.get_name_variant()
        #set $ss = $name.get_source_system()
        <div class="actions">
            <em>$name_variant.get_description():</em> $name.get_name()
            #set $delete = $url('person/remove_name?id=%i&name=na') % ($person.get_entity_id())
            <a href="$delete">$_("delete")</a>
        </div>
        #if $ss
        <div><em>$_("Source system"):</em> $ss.get_name() ($ss.get_description())</div>
        #end if
    </div>
    #end for
#end def

