#from Cerebrum.web.InitTemplate import InitTemplate
#extends InitTemplate
#import forgetHTML
#from Cerebrum.web.TableView import TableView
#from AccountViewTemplate import AccountViewTemplate
#from AccountCreateTemplate import AccountCreateTemplate
#from Cerebrum.web.utils import url
#from Cerebrum.web import HistoryLog

#def viewPerson($person, $profile)
<h1>$_("Person") $person.name</h1>
$personInfo($person)
$personAccounts($person, $profile)
$HistoryLog.view_history_short($person)
#end def

#def personAccounts($person, $profile)
<div class="accounts">
<h2>$_("Accounts")</h2>
#set t = $AccountCreateTemplate()
$t.form($person, show_create_form=$profile['person']['edit']['show_account_create'])
#set $allaccounts = $person.get_accounts()
#if $allaccounts
#for $account in $allaccounts
#set t = $AccountViewTemplate()
$t.viewAccount($account, False, False)
#end for
#end if
</div>
#end def

#def personInfo($person)
<div class="info">
<dl>
#*
    <dt>$_("First Name")</dt>
    <dd>$person.first_name</dd>

    <dt>$_("Last Name")</dt>
    <dd>$person.last_name</dd>
*#
    <dt>$_("Gender")</dt>
    <dd>$person.gender</dd>

    <dt>$_("Date of birth")</dt>
    <dd>$person.birthdate.Format('%Y-%m-%d')</dd>

#if $person.deceased
    $_("-- Person is deceased --")
#end if
    
    <dt>$_("Description")</dt>
    <dd>$person.description</dd>

    <dt>$_("Other names")</dt>
    <dd></dd>

    <dt>Affilitations</dt>
    <dd></dd>
</dl>
</div>
#end def
