## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#import time
#from Cerebrum.web.utils import url
#from Cerebrum.web import ServerConnection
#from AccountViewTemplate import AccountViewTemplate
#from PersonNameViewTemplate import PersonNameViewTemplate
#from PersonNameAddTemplate import PersonNameAddTemplate
#extends EntityViewTemplate

## Overloaded by other pages to get the right url, used in personNames().
#attr $page_url = "person/view"

## Main method for creating the person view page.
#def viewPerson($req, $person, $addName)
<div class="person">
    $personInfo($person)
    $personNames($person, $req, $addName)
    $personAccounts($person, $req)
</div>
$view_entity($person, $req)
#end def

## View information about person, like birthdate and gender.
#def personInfo($person)
<div class="viewinfo">
    <div class="subtitle">
        <h3>$_("Personinfo"):</h3>
    </div>
    <div>
        #if $person.get_deceased()
        #set $msg = $_("Person is deceased!");
        <div class="info">
            <strong class="deceased">$msg</strong>
        </div>
        #end if
        <div class="info"><em>$_("Gender"):</em> $person.get_gender().get_description()</div>
        #set $dob = $person.get_birth_date().get_date()
        #set $dob = time.strftime("%Y-%m-%d", time.gmtime($dob))
        <div class="info"><em>$_("Date of birth"):</em> $dob</div>
        <div class="info"><em>$_("Description"):</em> $person.get_description()</div>
        <div class="info"><em>$_("Affilitations"):</em> none!</div>
    </div>
    <div class="actions">
        #set $edit = $url("person/edit?id=%s" % $person.get_entity_id())
        #set $delete = $url("person/delete?id=%s" % $person.get_entity_id())
        #set $remember = $url("person/remember?id=%s" % $person.get_entity_id())
        <a href="$edit">$_("edit person")</a>
        <a href="$delete">$_("remove person")</a>
        <a href="$remember">$_("remember")</a>
    </div>
</div>
#end def

## List names for this person, and form for adding a name.
#def personNames($person, $req, $addName)
<div class="personnames">
    <a name="names" />
    #set $v = PersonNameViewTemplate()
    #set $a = PersonNameAddTemplate()
    $v.personNames($person)
    #if $addName == "True" or $addName == True
        $a.addForm($person, $req)
    #else
    #set $tmp_url = "%s?id=%i&addName=True#names" % ($page_url, $person.get_entity_id())
    <div class="actions">
        <a href="$url(tmp_url)">$_("add a name")</a>
    </div>
    #end if
</div>
#end def

## List accounts and groups those accounts belong to.
#def personAccounts($person, $req)
#set $server = ServerConnection.get_server($req)
#set $allaccounts = $person.get_accounts()
#if $allaccounts
    #set $t = $AccountViewTemplate()
    <div class="personaccounts">
        <div class="subtitle">
            <h3>$_("Accounts & Groups:")</h3>
        </div>
        <form action="$url('person/accounts')" type="post">
            #for $account in $allaccounts
            <div class="personaccount">
                <input type="checkbox" name="account_$account.get_entity_id()" />
                <em>$_('Account'):</em> $_($account.get_name())
                #set $view = $url("account/view?id=%i" % $account.get_entity_id())
                #set $edit = $url("account/edit?id=%i" % $account.get_entity_id())
                <a href="$view" class="actions">$_("view")</a>
                <a href="$edit" class="actions">$_("edit")</a>
            </div>
            #for $group in $account.get_groups()
            <div class="persongroup">
                <input type="checkbox" name="group_$group.get_entity_id()" />
                <em>$_('Group'):</em> $_($group.get_name()+' - '+$group.get_description())
                #set $view = $url("group/view?id=%i" % $group.get_entity_id())
                #set $edit = $url("group/edit?id=%i" % $group.get_entity_id())
                #set $leave = $url("person/leavegroup?id=%i&group=%i" % \
                                ($person.get_entity_id(), $group.get_entity_id()))
                <a href="$view" class="actions">$_("view")</a>
                <a href="$edit" class="actions">$_("edit")</a>
                <a href="$leave" class="actions">$_("leave group")</a>
            </div>
            #end for
            #end for
            <div>
                ##<center>
                    <input type="submit" value="$_('Delete')" name="delete" />
                    <input type="submit" value="$_('Remember')" name="remember" />
                    <input type="submit" value="$_('Add new account')" name="add" />
                ##</center>
            </div>
        </form>
    </div>
#end if
#end def

