## Copyright 2004 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from Cerebrum.web.InitTemplate import InitTemplate
#extends InitTemplate

## List of tuples (name, label)
#attr $fields = []
#attr $formvalues = {}

#def getAction
/some/where#slurp
#end def

#def input($name, $label)
    #set $value = $formvalues.get($name, "")
    <label for='$name'>$label</label>
    <input type='text' name='$name' id='$name' value='$value' />
#end def

#def form
<form action="$getAction()" method="POST">
    <div class='help'>
        $_("Use wildcards * and ? to extend the search.")
    </div>
    <div class='help'>
        $_("Supply several search parameters to limit the search.")
    </div>
#for $name, $label in $fields #
    #echo $input($name, $label) #
#end for  
    <input type="submit" value="Search" />
</form>
#end def
