Source: cerebrum
Section: admin
Priority: optional
Maintainer: Andreas Schuldei <andreas@debian.org>
Build-Depends: debhelper (>= 4.1.16), python, cdbs, kaffe, jikes, ant
Standards-Version: 3.6.1.0

Package: cerebrum-doc
Architecture: all
Description: Documentation for cerebrum
 Cerebrums design and operation manuals
 .
  Cerebrum is a meta-directory, made to administer information
 about mainly people, users, groups and organizations. It has
 modules for integration with other authoritative system an
 organization has (HR, SR, SAS) and exports user-data to numerous
 systems/front-ends like NIS, AD, LDAP. It has an backend which
 can be Oracle or PostgreSQL.


Package: cerebrum-common
Architecture: any
Depends: ${misc:Depends}
Description: common files for cerebrum systems
 common python files for the advanced automated user
 administration and management system "cerebrum" on debian.
 .
 Cerebrum is a meta-directory, made to administer information
 about mainly people, users, groups and organizations. It has
 modules for integration with other authoritative system an
 organization has (HR, SR, SAS) and exports user-data to numerous
 systems/front-ends like NIS, AD, LDAP. It has an backend which
 can be Oracle or PostgreSQL.


Package: cerebrum-server 
Architecture: any 
Depends: ${misc:Depends}, python, python-pgsql, postgresql, cerebrum-common (= ${Source-Version})
Description: cerebrum server 
 files needed for the server of the advanced automated user
 administration and management system "cerebrum" on debian.
 .
 Cerebrum is a meta-directory, made to administer information
 about mainly people, users, groups and organizations. It has
 modules for integration with other authoritative system an
 organization has (HR, SR, SAS) and exports user-data to numerous
 systems/front-ends like NIS, AD, LDAP. It has an backend which
 can be Oracle or PostgreSQL.


Package: cerebrum-jbofh
Architecture: any
Depends: kaffe | java2-runtime
Description: java client with command line interface for cerebrum systems
 The java bofh client to cerebrum systems with a commandline 
 interface without propriatary libs
 .
 Cerebrum is a meta-directory, made to administer information
 about mainly people, users, groups and organizations. It has
 modules for integration with other authoritative system an
 organization has (HR, SR, SAS) and exports user-data to numerous
 systems/front-ends like NIS, AD, LDAP. It has an backend which
 can be Oracle or PostgreSQL.
