#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

binary-post-install/%::
	-mv debian/tmp/usr/var debian/tmp/
	-mv debian/tmp/usr/etc debian/tmp/
#	make -C doc install DESTDIR=$(PWD)/debian/tmp 
	cp debian/cereconf.py.default debian/tmp/etc/cerebrum/cereconf.py
	cp debian/debian_config.py.default debian/tmp/usr/lib/python2.3/site-packages/Cerebrum/debian_config.py
	cp debian/jbofh.sh debian/tmp/usr/bin/jbofh
	# This cant be a patch because the file is generated.
	perl -pi -e 's:$(PWD)/debian/tmp::; s:/usr/etc/:/etc/:' \
		debian/tmp/usr/lib/python2.3/site-packages/cerebrum_path.py
	# This should be a patch, or shouldnt it?.
	find debian/tmp -name '*.py' | xargs -n1 \
	        perl -pi -e 's:(#![ ]*/usr/bin.*python2)\.2:$$1.3: if $$. == 1'

clean::
	-find -name '*.py[co]' | xargs rm  
	-rm -rf debian/cerebrum debian/cerebrum-doc debian/cerebrum_path.py #debian/tmp 
	-rm -rf java/jbofh/{tmpdist,build,dist}

common-binary-indep::
	(cd java/jbofh; \
	JAVA_HOME=/usr/lib/j2se/1.4 \
	ANT_HOME=/usr/share/ant \
	DEB_JARS=$(ANT_HOME)/lib/ant-optional.jar \
	DEB_ANT_COMPILER=modern \
	ant dist)
#	(cd java/jbofh; echo $$CLASSPATH; \
	 CLASSPATH=$$CLASSPATH:/usr/share/java:/usr/share/classpath/glibj.zip JAVACMD=/usr/bin/jamvm ant -Dbuild.compiler=jikes dist)
#	(cd java/jbofh; \
	 JAVACMD=/usr/lib/kaffe/bin/kaffe ANT_OPTS="-ss 512k" ant -Dbuild.compiler=kjc -Dnogui dist)
	 #/debian/cerebrum-doc/usr/share/doc/cerebrum-doc
#	make -C doc DESTDIR=$(PWD)/debian/tmp 
