# -*- coding: utf-8 -*-
#
# Template file for cereconf.py
#
# This is the config for the basic cerebrum tests.
#
""" Config file for the Cerebrum core test. """

from Cerebrum.default_config import *

CEREBRUM_DDL_DIR = '{{ virtualenv }}/share/cerebrum/design'
DB_AUTH_DIR = '{{ virtualenv }}/etc/cerebrum'
LOGGING_CONFIGFILE = '{{ virtualenv }}/etc/cerebrum/logging.ini'
LOGGING_ROOT_DIR = '{{ virtualenv }}/var/log/cerebrum'

CEREBRUM_DATABASE_NAME = '{{ crb_db_name }}'

CEREBRUM_DATABASE_CONNECT_DATA = {'user': '{{ crb_db_user }}',
                                  'table_owner': '{{ crb_db_user }}',
                                  'host': 'localhost'}

# Default bind name for Cerebrum
#CEREBRUM_SERVER_IP = ""

CLASS_DBDRIVER = ['Cerebrum.database.postgres/PsycoPG2']
CLASS_DATABASE = ['Cerebrum.CLDatabase/CLDatabase']

# default_config bugfix?
# Constants/Constants must be last, as it's the superclass?
# Cerebrum.modules.CLConstants is required by Cerebrum.ChangeLog
#
# Also, mod_changelog MUST be specified...
#
# Should CLASS_CHANGELOG be empty?!
#
CLASS_CHANGELOG = [
        'Cerebrum.modules.EventLog/EventLog',
        'Cerebrum.modules.ChangeLog/ChangeLog', ]

CLASS_CONSTANTS = [
    'Cerebrum.modules.dns.DnsConstants/Constants',
    'Cerebrum.modules.hostpolicy.HostPolicyConstants/Constants',
    'Cerebrum.Constants/Constants', ]

CLASS_CL_CONSTANTS = [
    'Cerebrum.modules.dns.DnsConstants/CLConstants',
    'Cerebrum.modules.hostpolicy.HostPolicyConstants/CLConstants',
    'Cerebrum.Constants/CLConstants', ]

CLASS_ENTITY = ['Cerebrum.modules.EntityTrait/EntityTrait',]

{% if gnupgtest is defined %}
PASSWORD_GPG_RECIPIENT_ID = '06B0A991A41F3955F1DFD524D04D25F75D4C1CC4'
GNUPGHOME = '{{ gnupg_home_dir }}'
{% endif %}
