{% extends "base.html" %}
{% block additional_headers%}
<style>
  table {border-spacing: 0; border-top: solid; border-left: solid}
  th  {background-color: lightgray; border-bottom: solid; border-right: solid;}
  td {border-right: solid; border-bottom: solid;}
</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<p>{{ translation['greeting'] }}</p>
<p>{{ translation['message'] }}</p>
<table>
    <tr>
        <th>{{ translation['group_name'] }}</th>
        <th>{{ translation['role'] }}</th>
        <th>{{ translation['members'] }}</th>
        <th>{{ translation['manage_link'] }}</th>
    </tr>
    {% for group in owned_groups %}
        <tr>
            <td>{{ group['group_name'] }}</td>
            <td>{{ group['auth_op_set_name'] }}</td>
            <td>
                {% for member in group_id2members[group['group_id']] %}
                {{ member }}
                {% if not loop.last %}
                ,
                {% endif %}
                {% endfor %}
            </td>
            <td>
                <a href="{{ group['manage_link'] }}">Manage group</a>
            </td>
        </tr>
    {% endfor %}
</table>
<p>{{ translation['signature'] }}
    <br>{{ sender }}<br>
</p>

{% endblock %}