{% extends "base.html" %}
{% block additional_headers%}
<meta charset="{{ encoding | default('utf-8') }}">
<style>
  table {border-spacing: 0; border-top: solid; border-left: solid}
  th  {background-color: lightgray; border-bottom: solid; border-right: solid;}
  td {border-right: solid; border-bottom: solid;}

</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<p>{{ translation['greeting'] }}</p>
<p>{{ translation['message'] }}</p>
<table>
    <tr>
        <th>{{ translation['headers']['group_name'] }}</th>
        <th>{{ translation['headers']['members'] }}</th>
        <th>{{ translation['headers']['manage_link'] }}</th>
    </tr>
    {% for group in owned_groups %}
    <tr>
        <td>{{ group['group_name'] }}</td>
        <td>
            {% set member_lines, remaining_members =
            get_member_lines(group['group_id']) %}
            {% for member_line in member_lines %}
            {{ member_line.format(group=translation['group'],
                person=translation['person']) }}
            <br/>
            {% endfor %}
            {% if remaining_members %}
            {{ translation['remaining'].format(remaining_members) }}
            {% endif %}
        </td>
        <td>
            <a href="{{ group['manage_link'] }}">
                {{ group['manage_link'] }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
<p>{{ translation['signature'] }}
    <br>{{ sender }}<br>
</p>

{% endblock %}