[global]
server.socketPort = 8080
server.socketHost = '0.0.0.0'
server.threadPool = 10
server.environment = 'production'
server.showTracebacks = True
sessionFilter.on = True
server.logToScreen = True

[/css]
staticFilter.on = True
staticFilter.dir = '/var/www/htdocs/css'

[/img]
staticFilter.on = True
staticFilter.dir = '/var/www/htdocs/img'

[/jscript]
staticFilter.on = True
staticFilter.dir = '/var/www/htdocs/jscript'
