## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#import random
#from lib.Main import Main
#extends Main

#from lib.utils import html_quote

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

## fields should be a list of dicts where each dict
## must have the following keys:
##   'name', 'cls', 'label', 'type'
#attr $form_fields = []
#attr $form_help = []
#attr $form_title = ''
#attr $form_values = {}

## Overloaded by search-pages like person search, should
## contain the url for where to go when the form is submittet.
#attr $form_action = '/some/where'
#attr $form_class = ""
#attr $form_method = 'POST'
#attr $submit_value = "Submit"
#attr $reset_value = "Reset"
#attr $error_message = ""

## Overloaded by search-pages which needs search-fields which arent inputs.
## vargs is a dict with the values the user provided in the field in the
## last search.
#def getExtra($vargs)
#end def

#def content()
    <div class="$form_class">
        <h3>$form_title</h3>
        #if $error_message
            <div class="error">$error_message</div>
        #end if
        <form action="$form_action" method="$form_method">
            #for $field in $form_fields
                #set $cls = $field['required'] and 'required' or 'optional'
                #if $field.get('cls')
                   #set $cls += " " + $field['cls']
                #end if
                <div class="$cls">
                    #if $field['type'] == 'select'
                        $render_select($field, $cls)
                    #elif $field['type'] == 'hidden'
                        $render_hidden($field, $cls)
                    #elif $field['type'] == 'checkbox'
                        $render_checkbox($field, $cls)
                    #elif $field['type'] == 'radio'
                        $render_radio($field, $cls)
                    #elif $field['type'] == 'textarea'
                        $render_textarea($field, $cls)
                    #else
                        $render_text($field, $cls)
                    #end if

                    #if $field.get('help')
                        <img alt="?" class="tt" src='/yui/container/assets/hlp16_1.gif' /><span class="nojs">$field['help']</span>
                    #end if
                </div>
            #end for

            $getExtra($form_values)

            <div class="buttons">
                <input class="submit" type="submit" value="$_($submit_value)" />
                <input class="reset" type="reset" value="$_($reset_value)" />
            </div>
        </form>

        #if $form_help
            $form_widgets.showHelp($form_help)
        #end if
    </div>
#end def

#def render_select($field, $cls)
    #set $quote = $field.get('quote_values', True)
    $form_widgets.generate_loption($field['name'],
            $field['label'], $field['options'], $field['value'], quote=$quote)
#end def

#def render_hidden($field, $cls)
    <input class="$cls" type="hidden" name="$field['name']" id="$field['name']" value="$html_quote($field['value'])" />
#end def

#def render_checkbox($field, $cls)
    <label for="$field['name']">$field['label']:</label>
    <input type="checkbox" name="$field['name']" id="$field['name']" value="$html_quote($field['value'])" />
#end def

#def render_radio($field, $cls)
    #set $i = 0
    <div class="randpassword">
        <table>
            <tr>
                <th colspan="2">
                <label for="$field['name']$i$_('00')">$field['label']:</label>
                </th>
            </tr>
            #for $val in $field['value']
                #set $col = $i + 1
                #if $col % 2 != 0
                    <tr>
                        <td>
                            <input type="radio" name="$field['name']" id="$field['name']$i$_('00')" value="$val" 
                                #if $i == 0
                                    checked="checked"
                                #end if
                                    />$val
                        </td>
                #else
                        <td>
                            <input type="radio" name="$field['name']" id="$field['name']$i$_('00')" value="$val" />$val
                        </td>
                    </tr>
                #end if
                #set $i = $i+1
            #end for
        </table>
    </div>
#end def

#def render_text($field, $cls)
    <label for="$field['name']">$field['label']:</label>
    <input class="$cls" type="$field['type']" value="$html_quote($field['value'])" name="$field['name']" id="$field['name']" />
#end def

#def render_textarea($field, $cls)
    <label for="$field['name']">$field['label']:</label>
    <textarea name="$field['name']" id="$field['name']" class="$cls" cols="40" rows="5">$field['value']</textarea>
#end def
