## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.Main import Main
#extends Main

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $help = ["# Name: Legal chars are [a-zA-Z0-9_]. First char must be a letter. Min. length 3 and max. length 16.", "* Expire date: YYYY-MM-DD"]

#def actions()
<div id="actions">
<h3>Actions</h3>
</div>
#end def

## Creates the form for creating a new group.
#def content()
<div class="view">
<h3>$_('Create a new group:')</h3>
    <form action="/group/make/" method="post">
        <div class="required">
            $form_widgets.input("name", "Name #", $data['name'])
        </div>
        <div class="required">
            <label for="description">$_('Description'):</label>
            <textarea rows="3" cols="20" name="description">$data['description']</textarea>
        </div>
        <div class="required">
            $form_widgets.input("expire", "Expire date *", $data['expire'])
        </div>
        ## showHelp creates it's own div.
        $form_widgets.showHelp($help)
        <div class="buttons">
            <input type="submit" value="$_('Create')" />
            <input type="reset" value="$_('Clear')" />
        </div>
    </form>
</div>
#end def

