## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate

#from lib.utils import strftime
#from lib.utils import quotedate
#from lib.utils import quotetimestamp
#from lib.utils import url_quote
#from lib.utils import spine_to_web
#from lib.utils import entity_link
#from lib.utils import nl2br
#from lib.utils import make_acronym
#from config import conf

#from Widgets import Widgets
#attr $widgets = Widgets()

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $page = "group"
#attr $link = "view"

#def title()
    #return $_('Group %s') % $spine_to_web($group.name)
#end def

#def links()
    #return (
        ('search', $_('Search')),
        ('create', $_('Create')),
    )
#end def

#def actions()
    <div id="actions">
        <h3>$_('Actions')</h3>
        <ul>
            <li><a href="/confirm/group/delete?id=$group.id">$_("Delete")</a></li>
            #if $group.is_posix
                <li><a href="/confirm/group/posix_demote?id=$group.id">$_("Demote from posix")</a></li>
            #else
                <li><a href="/confirm/group/posix_promote?id=$group.id">$_("Promote to posix")</a></li>
            #end if
            <li><a href="/account/create?owner_id=$group.id">$_('Create group account')</a> </li>
            <li><a href="/entity/full_historylog?id=$group.id">$_('View full history log')</a> </li>
        </ul>
    </div>
#end def

#def content()
    $viewInfo()
    $editGroup()
    $viewAccounts($group)
    $viewQuarantines($group)
    $addQuarantine($group, $quarantines)
    $addNote($group)
    $viewNotes($group)
    $setEmail($group)
    $viewEmail($group)
    $viewTraits($group)
    $addSpread($group, $spreads)
    $viewSpreads($group)
    $joinGroup($group)
    $addMember()
    $removeMember()
    $viewMembers()
    $viewHistoryLog($group)
#end def

#def editGroup()
    <div class="edit box">
        <h3>$_('Edit group')</h3>
        <div>
        <form action="/group/save" method="post">
            <div class="hidden">
                <input type="hidden" name="id" value="$group.id" />
            </div>
            <div class="required">
               $form_widgets.input("name", "Name", $spine_to_web($group.name))
            </div>
            #if $group.is_posix
                <div class="required">
                    $form_widgets.input("gid", "Gid", $group.posix_gid)
                </div>
            #end if
                
            <div class="required">
                <label for="description">$_('Description'):</label>
                <textarea rows="3" cols="40" name="description">$spine_to_web($group.description)</textarea>
            </div>
                
            <div class="required">
                $form_widgets.generate_loption(
                    "visi",
                    "Visibility",
                    [($spine_to_web($v.name), $spine_to_web($v.description)) for $v in $visibilities],
                    $spine_to_web($group.visibility_name))
            </div>
                
            <div class="required">
                $form_widgets.input("expire", "Expire date *", $quotedate($group.expire_date))
            </div>
            $form_widgets.showHelp(["* Expire date: YYYY-MM-DD"])
            <div class="buttons">
                <input type="submit" value="$_('Add')" />
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
        </div>
    </div>
#end def

#def viewInfo()
    #set $info = []
    #set $notice = []

    $info.append(($_('Name'), $spine_to_web($group.name)))

    #if $group.is_expired
        $notice.append($_("This group has expired."))
    #end if

    #if $group.is_posix
        #set $text=$make_acronym($_('Group identification (numerical id. used by UNIX-systems)'),$_('Gid'))
        $info.append(($text, $group.posix_gid))
    #end if

    $info.append(($_('Created'), $quotedate($group.create_date)))
    $info.append(($_('Expire date'), $quotedate($group.expire_date)))
    $info.append(($_('Visibility'), $spine_to_web($group.visibility_name)))
    $info.append(($_('Description'), $spine_to_web($group.description)))
    $widgets.viewInfo($info, $notice)
#end def

#def get_max_members($membercount)
    #if $show_all
        #return $membercount
    #end if

    #set $default = {'max_members': '10'}
    #set maxvalue = $conf.get('cereweb', 'max_members', vars=$default)
    #return $int($maxvalue)
#end def

#def viewMembers()
    #if $group.members
        #set $membercount = $len($group.members)
        <div class="list box">
            <h3>$_('Members') ($membercount)</h3>

            <div id="member-container">
                <table id="member-table">
                    <thead>
                        <tr>
                            <th>$_('Type')</th>
                            <th>$_('Member')</th>
                            <th>$_('Actions')</th>
                        </tr>
                    </thead>
                    <tbody>

                        #set $max = $get_max_members($membercount)
                        #for $c, $member in $enumerate($group.members)
                            #if $c >= $max
                                <tr><td colspan="99">More than $max members.  <a href="/group/view?id=$group.id&amp;show_all=1">Show all</a></td></tr>
                                #break
                            #end if
                        <tr>
                            <td>
                                $member.type_name.capitalize()
                            </td>
                            <td>
                                $entity_link($member, text=$spine_to_web($member.name))
                            </td>
                            <td>
                                <a href="/confirm/group/remove_member?group_id=$group.id&amp;member_id=$member.id">Remove member</a>
                            </td>
                        </tr>
                        #end for
                    </tbody>
                </table>
            </div>
        </div>
    #end if
#end def

#def addMember()
    <div class="edit box">
        <h3>$_('Add member')</h3>
        <form action="add_member" method="post">
            <div class="hidden">
                <input type="hidden" name="group_id" value="$group.id" />
            </div>
            <div id="add_account" class="required">
                <label for="account_member_name">$_('Name')</label>
                <input type="input" name="member_name" id="account_member_name" class="ac_account" />
            </div>
            <div id="add_group" class="required" style="display: none;">
                <label for="group_member_name">$_('Name')</label>
                <input type="input" name="member_name" id="group_member_name" class="ac_group" disabled="disabled" />
            </div>
            #set $types = (('account', $_('Account')), ('group', $_('Group')))
            <div class="required">
                $form_widgets.generate_loption('member_type', 'Member type', $types, 'account', 'add_member_type')
            </div>
            <div class="buttons">
                <input type="submit" id="do_add_member" value="$_('Add member')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
            <script type="text/javascript">
                /* <![CDATA[ */
                (function() {
                    var get = function(name) {
                        return YD.get("add_" + name);
                    };

                    var show = function(name) {
                        enable(name);
                        get(name).style.display = "";
                    };

                    var hide = function(name) {
                        disable(name);
                        get(name).style.display = "none";
                    };

                    var enable = function(name) {
                        set_disabled(name, false);
                    };

                    var disable = function(name) {
                        set_disabled(name, true);
                    };

                    var set_disabled = function(name, value) {
                        var el = get(name);
                        var children = el.getElementsByTagName("input");
                        var l = children.length;

                        for (var i=0; i < l; i++) {
                            children[i].disabled = value;
                        }
                    };

                    var el = YD.get("add_member_type");

                    var update = function() {
                        for (var i=0; i < el.options.length; i++) {
                            hide(el.options[i].value);
                        }
                        show(el.value);
                    }

                    YAHOO.util.Event.addListener("add_member_type", "change", update);
                    YAHOO.util.Event.addListener("do_add_member", "click", update);

                    update();
                })();
                /* ]]> */
            </script>
        </form>
    </div>
#end def

#def removeMember()
    <div class="edit box">
        <h3>$_('Remove member')</h3>
        <form action="remove_member" method="post">
            <div class="hidden">
                <input type="hidden" name="group_id" value="$group.id" />
            </div>
            <div id="remove_account" class="required">
                <label for="rem_account_member_name">$_('Name')</label>
                <input type="input" name="member_name" id="rem_account_member_name" class="ac_account" />
            </div>
            <div id="remove_group" class="required" style="display: none;">
                <label for="rem_group_member_name">$_('Name')</label>
                <input type="input" name="member_name" id="rem_group_member_name" class="ac_group" disabled="disabled" />
            </div>
            #set $types = (('account', $_('Account')), ('group', $_('Group')))
            <div class="required">
                $form_widgets.generate_loption('member_type', 'Member type', $types, 'account', 'remove_member_type')
            </div>
            <div class="buttons">
                <input type="submit" id="do_remove_member" value="$_('Remove member')" />&#x0020;
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
            <script type="text/javascript">
                /* <![CDATA[ */
                (function() {
                    var get = function(name) {
                        return YD.get("remove_" + name);
                    };

                    var show = function(name) {
                        enable(name);
                        get(name).style.display = "";
                    };

                    var hide = function(name) {
                        disable(name);
                        get(name).style.display = "none";
                    };

                    var enable = function(name) {
                        set_disabled(name, false);
                    };

                    var disable = function(name) {
                        set_disabled(name, true);
                    };

                    var set_disabled = function(name, value) {
                        var el = get(name);
                        var children = el.getElementsByTagName("input");
                        var l = children.length;

                        for (var i=0; i < l; i++) {
                            children[i].disabled = value;
                        }
                    };

                    var el = YD.get("remove_member_type");

                    var update = function() {
                        for (var i=0; i < el.options.length; i++) {
                            hide(el.options[i].value);
                        }
                        show(el.value);
                    }

                    YAHOO.util.Event.addListener("remove_member_type", "change", update);
                    YAHOO.util.Event.addListener("do_remove_member", "click", update);

                    update();
                })();
                /* ]]> */
            </script>
        </form>
    </div>
#end def
