## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#from lib.utils import entity_link, spine_to_web
#from lib.Main import Main
#extends Main

#from FormWidgets import FormWidgets
#attr $form_widgets = FormWidgets()

#attr $page = "ou"
#attr $link = "tree"

#def title()
    #return $_('Organizations for perspective %s') % $spine_to_web($perspective.name)
#end def

#def links()
    #return (
        ('tree', $_('Tree')),
        ('create', $_('Create')),
    )
#end def

#def content()
    $viewTree($tree, $perspective, $perspectives)
#end def

## Main method for creating the ou tree page.
#def viewTree($tree, $perspective, $perspectives)
<div class="tree">
    <form>
        $form_widgets.generate_loption(
            "perspective", $_("Perspective"),
            [(x.id, x.name) for x in $perspectives],
            $perspective.id)
        <input type="submit" value="View" />
    </form>
    <br />
    
    ## find roots of perspective and show them
    #for $ou in $tree 
        $subtree($ou)
    #end for
</div>
#end def

#def subtree($ou, $level=0)
    ## filter out studieprograms
    #if $is_ou($ou)
        #set $indent = "&nbsp;" * 4 * $level
        <div class="tree">
            $indent $entity_link($ou, text=$ou.name)
            #for $child in $ou.children
                $subtree($child, $level + 1)
            #end for    
        </div>
    #end if
#end def
