## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

#extends EntityViewTemplate

#from lib.utils import entity_link, html_quote, html_quote
#from lib.utils import url_quote, spine_to_web
#from Widgets import Widgets
#from lib.forms import OuPerspectiveEditForm

#attr $widgets = Widgets()
#attr $viewBirthNo = False

#attr $page = "ou"
#attr $link = "view"

#def title()
    #return $_('OU %s') % $spine_to_web($ou.name)
#end def

#def links()
    #return (
        ('tree', $_('Tree')),
        ('create', $_('Create')),
    )
#end def

#def actions()
<div id="actions">
    <h3>$_('Actions')</h3>
    <ul>
        <li><a href="/ou/edit?id=$ou.id">$_("Edit Organizational Unit")</a></li>
        <li><a href="/confirm/ou/delete?id=$ou.id">$_("delete ou")</a></li>
        <li><a href="/entity/full_historylog?id=$ou.id">$_('view full history log')</a></li>
    </ul>
</div>
#end def

#def content()
    $viewInfo($ou)
    $OuPerspectiveEditForm($ou.id).render()
    $viewQuarantines($ou)
    $addQuarantine($ou, $quarantines)
    $addNote($ou)
    $viewNotes($ou)
    $viewTraits($ou)
    $viewFamily($ou)
    $viewContactInfos($ou)
    $viewAddresses($ou)
    $addSpread($ou, $spreads)
    $viewSpreads($ou)
    $setExternalId($ou, $id_types)
    $viewExternalIds($ou, $viewBirthNo)
    $viewHistoryLog($ou)
    $affiliatedPersons($ou, $perspectives, $affiliations)
#end def

## View information about OU.
#def viewInfo($ou)
    #set $info = []
    $info.append(($_('Name'), $spine_to_web($ou.name)))
    $info.append(($_('Acronym'), $spine_to_web($ou.acronym)))
    $info.append(($_('Short name'), $spine_to_web($ou.short_name)))
    $info.append(($_('Display name'), $spine_to_web($ou.display_name)))
    $info.append(($_('Sort name'), $spine_to_web($ou.sort_name)))
    $info.append(($_('Stedkode'), $spine_to_web($ou.stedkode)))
    $widgets.viewInfo($info)
#end def

#def viewFamily($ou)
    <div class="list box">
        <h3>$_('OU Family')</h3>
        #for $perspective, $family in $ou.families.items()
            #if not $family.in_perspective
                #continue
            #end if

            <h4>$_('Parent in perspective') $spine_to_web($perspective.name)</h4>
            #if $family.is_root
                <div>$_('(Root of perspective)')</div>
            #else
                <div>$entity_link($family.parent)</div>
            #end if

            #if $family.children
                <h4>$_('Children in perspective') $spine_to_web($perspective.name)</h4>
                #for $child in $family.children
                    <div>$entity_link($child)</div>
                #end for
            #end if
        #end for
    </div>
#end def

#def affiliatedPersons($ou, $perspectives, $affiliations)
    <div class="edit box">
        <h3 id="search">$_('Search affiliated persons')</h3>
        <form action="/ou/perform_search" method="get">
            <div class="hidden">
                <input type="hidden" name="ou_id" value="$ou.id" />
            </div>
            <div class="required">
                $form_widgets.generate_loption(
                    "perspective_type",
                    "Perspective",
                    [($p.id, $p.name) for $p in $perspectives])
            </div>
            <div class="required">
                #set $affiliation_types = [($a.id, $a.name) for $a in $affiliations]
                $affiliation_types.insert(0, ("", " - All affiliation types -"))
                $form_widgets.generate_loption(
                    "affiliation_type",
                    "Affiliation",
                    $affiliation_types
                    )
            </div>
            <div class="required">
                <label for="recursive">Recursive search:</label>
                <input type="checkbox" name="recursive" />
            </div>
            <div class="buttons">
                <input type="submit" value="$_('Search')" />
                <input type="button" value="$_('Cancel')" class="cancel" />
            </div>
        </form>
    </div>
#end def
