## Copyright 2004, 2005 University of Oslo, Norway
##
## This file is part of Cerebrum.
##
## Cerebrum is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## Cerebrum is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
## General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with Cerebrum; if not, write to the Free Software Foundation,
## Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

## Login template
## #from lib.InitTemplate import MessageInitTemplate
## #extends MessageInitTemplate

#implements respond
#from FormWidgets import FormWidgets
#import gettext
#import cherrypy
#from lib.utils import get_content_type, get_pragma, get_cache_control
#attr $form_widgets = FormWidgets()
#attr $messages = []
#attr $jscripts = ['base.js', 'search.js', 'timeout.js', 'error.js']
#attr $_ = gettext.gettext

<%
content_type=get_content_type()
cherrypy.response.headerMap['Content-Type']=content_type

pragma=get_pragma()
cache_control=get_cache_control()

cherrypy.response.headerMap['Pragma']=pragma
cherrypy.response.headerMap['Cache-Control']=cache_control
%>
<!DOCTYPE
 html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
 "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        <meta http-equiv="Content-Type" content="$content_type" />
        <meta http-equiv="Pragma" content="$pragma" />
        <meta http-equiv="Cache-Control" content="$cache_control" />
        <link rel="shortcut icon" type="image/gif" href="/img/litenmedtekst72.gif"/>
        <title>$_('NTNU&apos;s database for administering user accounts')</title>
        <!-- Include yui styles -->
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/reset-fonts-grids/reset-fonts-grids.css"/>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/container/assets/container.css"/>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/logger/assets/logger.css"/>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/datatable/assets/datatable.css"/>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/tabview/assets/tabview.css"/>
        <link rel="stylesheet" type="text/css" charset="utf-8" href="/yui/tabview/assets/border_tabs.css"/> 

        <!-- Include our styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/css/ntnu.css" charset="utf-8" />

        <!-- Include yui components -->
        <script type="text/javascript" charset="utf-8" src="/yui/utilities/utilities.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/logger/logger-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/container/container-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/element/element-beta-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/datasource/datasource-beta-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/datatable/datatable-beta-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/autocomplete/autocomplete-min.js"></script>
        <script type="text/javascript" charset="utf-8" src="/yui/tabview/tabview-min.js"></script> 

        <!-- Include our javascript application -->
        <!-- $len($jscripts) -->
        #for $i in $jscripts
            <script type="text/javascript" charset="utf-8" src="/jscript/$i"></script>
        #end for
    </head>
    <body>
    <div class="pagewrap">
            <!--[if lte IE 6]>
            <style type="text/css">
                #ie6msg{border:3px solid #090; margin:8px 0; background:#cfc; color:#000;}
                #ie6msg h4{margin:8px; padding:0;}
                #ie6msg p{margin:8px; padding:0;}
                #ie6msg p a.getie7{font-weight:bold; color:#006;}
                #ie6msg p a.ie6expl{font-weight:normal; color:#006;}
            </style>
            <div id="ie6msg">
            <h4>Du har en gammel versjon av Internet Explorer.</h4>
            <p>
                    Cereweb st&oslash;tter ikke s&aring; gamle nettlesere og vil ikke fungere 100% f&oslash;r du oppgraderer.
            </p>
            <p>
                    Du kan gratis <a class="getie7" href="http://www.microsoft.com/norge/windows/downloads/ie/getitnow.mspx" target="_blank">hente en nyere versjon av Internet Explorer</a>.

                    Bruker du en jobb-PC b&oslash;r du kontakte Orakel p&aring; telefon (735) 91500 eller e-post <a href="mailto:orakel@ntnu.no">orakel@ntnu.no</a>.
                </p>
            </div>
            <![endif]-->
     <div class="orginfo">
      NORGES TEKNISKE-NATURVITENSKAPLIGE UNIVERSITET
    </div>
     <div id="topp">
      <img src="/img/BAS_ntnu_logo.png" alt="NTNU" />
    </div>
    <div id="page">
        <h1>$_('NTNU&apos;s database for administering user accounts')</h1>

         <h2>$_('Change password for an existing user account')</h2>

    <div class="text">
    $_('The new password must be typed in twice. No passwords will be shown in clear text on the screen, therefore it must be typed in twice for your own safety.')
    </div>

    <div class="text">
    $_('The following rules apply to ensure high quality standards for a password and that the password can be used on different systems at NTNU (e.g. on both MS Windows and UNIX):')
    </div>

    <div class="text">
    <ul>
        <li>
            $_('The length of the password must be at least 8 characters or more.')
        </li>
        <li>
            $_('The new password must be different from your existing password.')
        </li>
        <li>
            $_('The new password must contain at least one character from 3 of the following 4 groups:')
        </li>
    </ul>
    </div>

    <div class="text">
    <ol>
        <li>$_('Uppercase letters (A-Z)')</li>
        <li>$_('Lowercase letters (a-z)')</li>
        <li>$_('Numerals (0-9)')</li>
        <li>
            $_('Other characters that are permitted to use (!#()*+,.=?@[]_{}~-)')
        </li>
    </ol>
    </div>
    <div class="text">
        #if $messages
            <div id="messages">
            #for $message in $messages
                    $message
            #end for
            </div>
        #end if
    </div>
     <form action="/passwd/savepw/" method="post">
                    <div class="required">
                        $form_widgets.input('username', $_('Username'))
                    </div>
                    <div class="required">
                        $form_widgets.password('oldpassword', $_('Old Password'))
                    </div>
                    <div class="required">
                        $form_widgets.password('password1', $_('New Password'))
                    </div>
                    <div class="required">
                        $form_widgets.password('password2', $_('Retype Password'))
                    </div>
                        <label class="hidden" for="submit">$_('Submit:')</label>
                        <input id="submit" type="submit" value="$_('Change password')" />
                </form>
        <div class="text">
            $choose_lang($cherrypy.session.get('lang'))
        </div>
        </div>
    </div>
</body>
</html>

#def choose_lang($lang)
    #if $lang == 'en'
        #return '<a href="/passwd/index?lang=no"><img src="/img/norsk_flagg50.gif" alt="Norsk" /></a>'
    #end if
    #return '<a href="/passwd/index?lang=en"><img src="/img/uk-flag50.gif" alt="English" /></a>'
#end def

## vi: sw=4 sts=4 expandtab:
