# -*- coding: iso-8859-1 -*-

# Copyright 2007 University of Oslo, Norway
#
# This file is part of Cerebrum.
#
# Cerebrum is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# Cerebrum is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Cerebrum; if not, write to the Free Software Foundation,
# Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

# This sample file serves as a sample of how to use Cereweb in a production
# site using Apache2. 
#
# The first virtualhost, rewrites and redirects any connections to 
# the default port 80 to the same server-url on port 443.
# The second virtualhost (using self-signed certificate in this example)
# does the rewrite-proxy-with-reverse magic. Cereweb should be setup to
# only answer on e.g. http://localhost:8080, and use these virtualhosts
# to enforce ssl in front of it. This is because Cereweb is based on 
# Cherrypy which do not support ssl out of the box - and Cherrypy recommends
# this setup in a production environment.

Listen 80
Listen 443

<VirtualHost *:80>
        ServerAdmin root@localhost
        DocumentRoot /srv/www/htdocs
        ServerName bas.ntnu.no
        ServerAlias cerebrum.itea.ntnu.no
        RewriteEngine On
        RewriteRule ^(.*) https://bas.ntnu.no$1 [R]
        ErrorLog /var/log/apache2/error_log
        CustomLog /var/log/apache2/access_log common
</VirtualHost>

<VirtualHost *:443>
        ServerAdmin root@localhost
        DocumentRoot /srv/www/shtdocs
        ServerName bas.ntnu.no
        ServerAlias cerebrum.itea.ntnu.no
        SSLProxyEngine on
        SSLEngine on
        SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL
        SSLCertificateFile /etc/apache2/server.crt
        SSLCertificateKeyFile /etc/apache2/server.key
        RewriteEngine On
        RewriteRule ^(.*) http://localhost:8080$1 [P]
        ProxyPassReverse / http://localhost:8080/
        ErrorLog /var/log/apache2/error_log
        CustomLog /var/log/apache2/access_log common
</VirtualHost>
