Source: ceresync
Section: unknown
Priority: extra
Maintainer: Christian Haugan Toldnes <christian.toldnes@ntnu.no>
Build-Depends: debhelper (>= 5), python-setuptools
Standards-Version: 3.7.2

Package: ceresync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-ldap, python-m2crypto, python-zsi, python-egenix-mxdatetime
Description: Cerebrum clients
