Source: ceresync
Section: unknown
Priority: extra
Maintainer: Christian Haugan Toldnes <christian.toldnes@ntnu.no>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: ceresync
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-omniorb, omniidl4-python, python-ldap, python-m2crypto
Description: Cerebrum clients
