#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#
# Makefile for ceresync does not support DESTDIR.
# This means we have to do ugly:
# 
DESTDIR=$(CURDIR)/debian/ceresync
PREFIX=$(DESTDIR)/usr
CONFDIR=$(DESTDIR)/etc



configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	aclocal
	autoconf
	
	# 
	# Here comes ugly! :)
	#
	./configure --prefix=$(PREFIX) --sysconfdir=$(CONFDIR)

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) -C spine/ceresync
	$(MAKE) -C spine/client

	# 
	# Remove .pyc files, they are generated in postinst script
	#
	find . -name '*.pyc' -or -name '*.pyo' -delete
	
	
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) -C spine/ceresync clean
	-$(MAKE) -C spine/client clean
	-find . -name Makefile -delete
	-rm spine/ceresync/config.py cerebrum_path.py aclocal.m4 config.log
	-rm configure config.status

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/ceresync.
	$(MAKE) -C spine/ceresync install
	$(MAKE) -C spine/client install
	
	# 
	# This is to skip the Windows AD client on ubuntu systems :)
	#
	find . -name 'ad_*.py' -delete
        
	# 
        # This is to clean up after ugly has visited earlier...
        #
	find $(DESTDIR) -type f | xargs sed 's,$(DESTDIR),,' -i


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_pysupport 
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
