[spine]
cache: false
cache_dir: /tmp/spine
idl: SpineCore.idl
use_ssl: true

[corba]
url: http://localhost/spine.ior

[ssl]
ca_file: CA.crt
key_file: client.pem
password: client

[login]
username: user
password: pass
