[spine]
cache: false
cache_dir: /tmp/spine

[corba]
url: http://localhost/spine.ior

[ssl]
ca_file: CA.crt
key_file: client.pem
password: client

[idl]
path: .
core: SpineCore.idl

[bootstrap]
cereweb: .
