#!/usr/bin/env python
# -*- coding: utf-8 -*-

import cereconf

DEBUG = True

PORT = 5000
HOST = 'localhost'

APPNAME = u"cerebrum-rest"

# Flask-RESTful 404 suggestions
ERROR_404_HELP = False

# Trusted hosts
TRUSTED_HOSTS = []

AUTH = [
    # {
    #     'name': 'CertAuth',
    #     'certs': {
    #         '1a56e3bfd0a0974110894a73fa2ad31897dbf76d': 'bootstrap_account',
    #     }
    # },
    {
        'name': 'BasicAuth',
        'realm': cereconf.INSTITUTION_DOMAIN_NAME,
        'whitelist': [],
    },
    # {
    #     'name': 'HeaderAuth',
    #     'header': 'Foo',
    #     'keys': {
    #         'supertopsecretverylongkey': 'bootstrap_account',
    #     },
    # },
]

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,
    'formatters': {
        'fmt': {
            'format': '%(asctime)s - %(name)s - [%(levelname)s] - %(message)s',
            'datefmt': '%Y-%m-%d %H:%M:%S'
        },
    },
    'handlers': {
        'file': {
            'class': 'logging.handlers.RotatingFileHandler',
            'level': 'DEBUG',
            'formatter': 'fmt',
            'filename': '/tmp/cerebrum-rest.log',
            'encoding': 'UTF-8'
        },
        # 'console': {
        #     'class': 'logging.StreamHandler',
        #     'formatter': 'fmt',
        # },
    },
    'loggers': {
        '': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': False,
        },
    }
}
