<!-- 
 | This is an example file for settings used by phpunit. More information on the
 | xml settings can be found at
 | http://www.phpunit.de/manual/current/en/appendixes.configuration.html
 -->
<phpunit colors="false"
         verbose="false"
         bootstrap="bootstrap.php">
    <php>
        <!-- 
            Add paths to include from. This could be used for automatic adding
            classes which InitBase::autoload should do for the applications.
        -->
        <includePath>.</includePath>

        <!--
            To log all errors, including E_STRICT. This creates problems with
            some Pear packages, as they don't fullfill the strictest criterias.
        -->
        <!-- <ini name="error_reporting" value="-1"/> -->

        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>

        <!-- 
            This makes all test users on the same test machine share the
            session directory. Change this to something unique if you should
            test sessions more thorough.
        -->
        <ini name="session.save_path" value="/tmp/phpunit_phpsessions"/>

        <!-- Corresponds to 'define('foo', 'bar');' in php: -->
        <!-- <const name="foo" value="bar"/> -->

        <!-- Corresponds to '$_GLOBALS['foo'] = 'bar';' in php: -->
        <!-- <var name="foo" value="bar"/> -->
    </php>

    <!-- 
        The <selenium> element and its <browser> children can be used to
        configure a list of Selenium RC servers. More information: 
        http://www.phpunit.de/manual/current/en/selenium.html
    -->
    <selenium>
        <!-- <browser name="Firefox on Linux"
                 browser="*firefox /usr/lib/firefox/firefox-bin"
                 host="my.linux.box"
                 port="4444"
                 timeout="30000"/> -->
    </selenium>
</phpunit>
