Source: cerebrum-ntnu
Section: unknown
Priority: extra
Maintainer: Leiv Arild Andenes <leiv.andenes@ntnu.no>
Build-Depends: debhelper (>= 5), autoconf, automake1.7, python-cheetah, openjdk-6-jdk
Standards-Version: 3.7.2

Package: cerebrum-ntnu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-cheetah, python-cherrypy, openssl, postgresql, gnupg, python, yui, apache2, python-egenix-mxdatetime, python-psycopg, python-imaging, python-reportlab-accel, python-zsi, python-ldap, cx-oracle, python-smbpasswd, python-cjson, python-m2crypto, python-4suite-xml
Description: Cerebrum server-installasjon
 .
 Oppdateres slik:
 .
 For stable versions:
   VER=1.08; REV=HEAD; VERSION=$VER
   REPOS=https://cerebrum.svn.sourceforge.net/svnroot/cerebrum/tags/ntnu-prod-$VERSION
 .
 For SVN updates:
   VER=1.08; REV=10371; VERSION=$VER-$REV
   REPOS=https://cerebrum.svn.sourceforge.net/svnroot/cerebrum/trunk/cerebrum
 .
 Check out with:
   NAME=cerebrum-ntnu-$VERSION
   svn co -qr $REV $REPOS $NAME
   tar --exclude=.svn -czf $NAME.tar.gz $NAME && rm -rf $NAME/
 .
 Build with:
   cd $OLD_PACKAGE_DIRECTORY
   uupdate -v $VERSION -u ../$NAME.tar.gz
   cd ../$NAME
   # (Fix or add new things in debian/{control,rules} etc.
   dch                           # Update the change log
   sudo apt-get build-dep cerebrum-ntnu # Install dependencies
   dpkg-buildpackage -rfakeroot  # Compile the package(s)
   ubuntu-mirror-add             # Upload to mirror (production)
 .
 Other useful commands:
   # Increment version number, when making a new package with the same source version
   dch -i 
   # Download the latest source package
   sudo aptitude update && apt-get source cerebrum-ntnu  
